<apex:component >
    <style>
    .mainHeaderStyle{font-family:Arial,Helvetica,monospace;color:#0B0B61;font-size:25px;font-style:normal;text-align:left;font-weight:bold}
    .startTextStyle{font-family:Arial,Helvetica,monospace;color:green;font-size:13px;font-style:normal;text-align:left;}
    .headerStyle{font-family:Arial,Helvetica,cursive;color:black;font-size:13px;font-style:normal;text-align:left;font-weight:bold}
    .subscriptStyle{font-family:Arial,Helvetica,monospace;color:black;font-size:10px;font-style:normal;text-align:left;font-weight:normal}
    .ErrorMsg { color: red; font-weight: bold;}
    .linkCol {color: #0000FF;}  
    .ErrorMsg { color: red; font-weight: bold;}
    .activeTab {background-color: #CEECF5; color:black;
    background-image:none;font-size:12px;font-weight:bold}
    .inactiveTab {background-color: #F2F2F2;color:black;
    background-image:none;font-size:12px;font-weight:bold}
    .evenrows{
    background-color:#FFFFFF;
    }
    .oddrows{
    background-color:#F2F2F2;
    }

    .botright{
    font-size:13px;
    position:absolute;
    top:30;
    right:0;
    width:150px;
    
    
  }
    </style>
   <table width="100%" ><tr ><apex:image url="{!$Resource.DeloitteNewLogo}" width="15%" height="50" />
    </tr>
    <hr width="100%" size="4" color="green" align="center"/></table>
    
     <span ><br/>&nbsp;&nbsp;<h1 class="mainHeaderStyle" >Adopt-an-Alum Program</h1>
     <br/>
     
                
     &nbsp;&nbsp;<h1 class="startTextStyle">Alumni Relations</h1><br/><br/></span>
</apex:component>