<apex:component id="pbEnhancerMain" layout="block" selfClosing="true">
    <apex:attribute type="String" required="true" name="targetPbTableIds" description="A comma seprated list of Ids of target pageblock table" />
    <apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery-1.6.2.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.jqQueryTableSorter, 'jquery.tablesorter.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.jqQueryTableSorter, 'jquery.tablesorter.pager.js')}"/>
    
    <script>
        $j = jQuery.noConflict();
        $j(document).ready(function()  
            { 
                try{
                    var targetIds = '{!targetPbTableIds}';
                    var targetIdArray = targetIds.split(",");
                    $j(targetIdArray ).each(function(){
                      var elem = this.trim();
                      var elemObj = $j("[id$='"+elem+"']");
                      var pager = $j($j("#Blogforce9paginatorTemplate").html());
                      elemObj.addClass("BlogForce9Table");
                      elemObj.after(pager);
                      elemObj.tablesorter().tablesorterPager({container: pager});
                    });
                    //enable sorting in pageblock tables using table sorter plugin
                    //$j(".BlogForce9Table").tablesorter().tablesorterPager({container: $j("#pager")});
        
                  
                    
                    $j(".BlogForce9Table").bind("sortEnd",function(e) {
                        $j('.mySort').remove();
                        $j('.headerSortDown').children().append('<apex:image value="/s.gif" styleClass="sortDesc mySort"  alt="Sorted Descending" title="Sorted Descending" /> ');
                        $j('.headerSortUp').children().append('<apex:image value="/s.gif" styleClass="sortAsc mySort"  alt="Sorted Ascending" title="Sorted Ascending" />');
                    });
                }
                catch(err){}
            } 
        ); 
    </script>  
    <script id="Blogforce9paginatorTemplate" type="text/x-jQuery-render">
        <div class="paginator" id="pager">
           <span class="prevNextLinks">            
                <span class="prevNext">
                    <img src="/s.gif" class="first" style="cursor:pointer"/>
                </span>
                
                <span class="prevNext">
                    <img src="/s.gif" class="prev" style="cursor:pointer"/>Previous
                </span>
                
                <span class="prevNext">
                    Next<img src="/s.gif" class="next" style="cursor:pointer"/>        
                </span>
                <span class="prevNext">
                    <img src="/s.gif" class="last" style="cursor:pointer"/>
                </span>            
           </span>
           <select class="pagesize">
                <option selected="selected"  value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option  value="40">40</option>
           </select>       
       </div>
    </script> 
</apex:component>