<apex:page controller="cwbtool.DescribePermissionSetCtrl" standardstylesheets="false" sidebar="false" tabStyle="CWB_Tool__tab" showheader="false">

<link rel="stylesheet" href="{!URLFOR($Resource.cwb,'/cwb/css/bootstrap2.css')}"/>
<link rel="stylesheet" href="{!URLFOR($Resource.cwb,'/cwb/css/bootstrap-multiselect.css')}" /> 
<apex:includeScript value="{!URLFOR($Resource.cwbtool__cwb,'/cwb/JS/jquery.min.js')}"/>
  <apex:includeScript value="{!URLFOR($Resource.cwbtool__cwb,'/cwb/JS/bootstrap.js')}"/>
   <apex:includeScript value="{!URLFOR($Resource.cwbtool__cwb,'/cwb/JS/bootstrap-transition.js')}"/>
  <apex:includeScript value="{!URLFOR($Resource.cwbtool__cwb,'/cwb/JS/bootstrap-dropdown.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.cwbtool__cwb,'/cwb/JS/bootstrap-multiselect.js')}"/>
   <apex:includeScript value="{!URLFOR($Resource.cwbtool__googleAnalytics,'/googleAnalytics.js')}"/>
   
<style>
  fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
    margin-left:8% !important;
    width:63%;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
    .bodyDiv{
 height:400px;
}
.Btn-group{
  width:60% !important;
}
.frm{
  margin:15px;
}
.modal {
    outline:none;
}
</style>
 <apex:pagemessages rendered="{!lstPermissionSet==null || lstPermissionSet.size==0}"/>
<apex:outputpanel rendered='{!lstPermissionSet!=null && lstPermissionSet.size>0}' layout='none' > 
<c:actionstatusNew />
<!--  <fieldset class="scheduler-border">
    <legend class="scheduler-border">PermissionSet</legend>-->

<apex:form id="form" styleclass="frm">
   
           <apex:selectList value="{!lstSelectedPermissionSet}" multiselect="true" styleclass="multiselect PermissionSetClass" style="margin-right:40px;display:none;"> 
            <apex:selectOptions value="{!lstPermissionSet}"/>
       </apex:selectList>
     <!--  <span id="example21-toggle" class="Btn Btn-primary compType ga" style='margin-right:10px;' onclick='Startprocessing();refresh();'  data-action='Download Full PermissionSet Detail Action'>Download PermissionSet</span>-->
       <div class="dropdown" style='float:left;'>
            <button class="Btn Btn-primary Btn-large  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Download
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
              <li> 
                   <a href='javascript:void(0);' data-action='Download Full PermissionSet Detail Action' class="compType ga"  onclick='Startprocessing();refresh();'>
                     <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><span>Download PermissionSet</span>
                   </a>
              </li>
              <li>
                  <a href='javascript:void(0);' class="Btn1 Btn-primary1 Btn-large1 ga" data-action="Download Permissionset Assignment Detail"  onclick="showOverLay('Please wait...');downLoadPermissionSetAssignment();refresh();">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><span>Download Permissionset Assignment Detail</span>
                  </a>
              </li>
             </ul>
        </div>
      <apex:actionFunction name="downLoadPermissionSetAssignment" action="{!downLoadPermissionSetAssignment}" />
      <apex:actionFunction name="getPermissionSetDetails" action="{!getPermissionSetDetails}" />
       <apex:actionFunction name="refresh" action="{!refresh}" reRender="refreshPanel,msgId,form"/> 
       
   <apex:outputpanel id="refreshPanel"> 
      <apex:pagemessages rendered="{!lstPermissionSet==null || lstPermissionSet.size==0}"/>
      <apex:actionPoller action="{!resultfound}" reRender="refreshPanel,msgId,form" interval="5" enabled="{!isStart}" oncomplete="if({!isProcessed}){hideOverLay();}"/>
   </apex:outputpanel>

<c:AppUpgradeMessage hastoken="{!hasToken}" loogedinUserHave="{!isLoggedInUserHave}" isReachedMaximumlimit="{!SelectedComponentReachedTheLimit}" isAlreadySelectedComponent="{!isAlreadySelectedComponent}" type="PermissionSet"/>

<script>
var gaDetail='OrgName={!$Organization.Name}_Name={!$User.FirstName}';
function Startprocessing(){
   
    if({!!SelectedComponentReachedTheLimit} && ({!!hasToken} || {!!isLoggedInUserHave})){
         /*bootbox.confirm("<font color='green'>{!$Label.Free_APP_Message} </font><br><br>.Are you sure?", function(result) {
             if(result){
                showOverLay('{!HTMLENCODE(strStatus)}');
                getPermissionSetDetails(); 
             }else{
                 return;
             }
      });*/
      bootbox.dialog({
          message: "<font color=''>{!$Label.Free_APP_Message} </font>",
          title: "Are you Sure?",
          buttons: {
            success: {
              label: "Yes",
              className: "Btn-success",
              callback: function() {
                showOverLay('{!HTMLENCODE(strStatus)}');
                  getPermissionSetDetails(); 
               }    
              },
            main: {
              label: "No",
              className: "Btn-default",
              callback: function() {
                   return;
              }
            }
         }
      });
    }else{
        showOverLay('{!HTMLENCODE(strStatus)}');
        getPermissionSetDetails();  
    }
    
  //showOverLay('{!HTMLENCODE(strStatus)}');
  //getPermissionSetDetails();
 }

 $(document).ready(function() {
    $('.PermissionSetClass').multiselect({
   
    buttonClass: 'Btn Btn-default', 
    enableFiltering: true,
    filterBehavior: 'both',
   enableCaseInsensitiveFiltering: true,
    filterPlaceholder: 'Search PermissionSet..',
   includeSelectAllOption: {!isLoggedInUserHave && hasToken},
   selectAllText: 'Select ALL PermissionSet',
   selectAllValue: 'multiselect-all',
  maxHeight:217,
 buttonWidth: '90%',
  nonSelectedText: 'You have not selected any PermissionSet',
  disableIfEmpty:true,
   onChange: function(element, checked) {
          if($('.PermissionSetClass').val()==null){
              $('.containerDivclass').hide();
              $('#containerMessage').show();
          }else{
              $('.containerDivclass').show();
              $('#containerMessage').hide();
          }
         if({!!isLoggedInUserHave} || {!!hasToken}){   
           disabledEnabled('PermissionSetClass');
          } 
        }
    });
   if({!!isLoggedInUserHave} || {!!hasToken}){    
     disabledExisting('PermissionSetClass'); 
   }
});

</script>

<apex:pagemessages id="msgId" escape="false"/>
</apex:form>
<!-- </fieldset>  -->

</apex:outputpanel>
<!--<c:AppUpgradeMessage hastoken="{!hasToken}" loogedinUserHave="{!isLoggedInUserHave}"/>-->
</apex:page>