<apex:page tabStyle="CER_Expense_Line_Item__c" controller="CER_FlagForApproval">
    <apex:includeScript value="{!URLFOR($Resource.Jquery_Core_Plugin, 'jquery-1.9.1.min.js')}" />
    <apex:form >
        <script>
        
        function addError(jQueryObject, message)
        {
            if(jQueryObject.parent().find('div.error').length != 0)
            {
                jQueryObject.parent().find('div.error').each(function(){
                    $(this).html(message);
                });
            }
            else
            {
                jQueryObject.parent().append('<div class="error">'+message+' </div>');
            }
        }
        
        function removeError(jQueryObject)
        {
            if(jQueryObject.parent().find('div.error').length != 0)
            {
                jQueryObject.parent().find('div.error').each(function(){
                    $(this).html('');
                });
                
            }
        }
        function validate()
        {
            //alert(''+$('#total').val());
            var totalCount= $('#total').val();
            var allApprovalHasReason=true;
            var i;
            for(i=1; i<=totalCount;i++)
                {
                	var panelObject= $('#approvalPanel_'+i);
                    if(panelObject.find('input').val()=='true')
                        {
                            var reasonPanel=$('#reasonPanel_'+i).find('select');
                            var isempty= reasonPanel!=undefined?reasonPanel.val()=='':false;
                        	if(isempty)
                                {
                                	allApprovalHasReason=false;
                                    addError(reasonPanel, 'Please give the reason why approval is needed.');
                                }
                            else
                                {
                                	removeError(reasonPanel);
                                }
                        }
                    else
                        {
                            var reasonPanel=$('#reasonPanel_'+i).find('textarea');
							removeError(reasonPanel);                        
                        }
                    
                }
            
            
            
            return allApprovalHasReason;
        }
        
        	function updateFlag(count)
                {
                    //alert(""+count);
                    var panelObject= $('#approvalPanel_'+count);
                    var isChecked= panelObject.find('input').val();
                    //alert(""+isChecked);
                    if(isChecked=='false')
                        {
                        	panelObject.find('.userFlag').removeClass('grayFlag');
                            panelObject.find('.userFlag').addClass('redFlag');
                            panelObject.find('input').val(true);
                        }
                    else
                        {
                        	panelObject.find('.userFlag').removeClass('redFlag');
                            panelObject.find('.userFlag').addClass('grayFlag');
                            panelObject.find('input').val(false);
                        }
                    
                    
                }
        
        
        </script>
        <style>
            .bigCell
            {
            	width:200px;
            }
            
            input, textarea
            {
                padding : 5px;
                with: 200px;
            }
            	
            .smallCell
            {
            	width:100px;
            }
            
                .error
            {
                color : red;
                font-size:12px;
            	border: 0px !important;
            }
           
            
           
            
            .redFlag
            {
            	width:30px;
            	height:50px;
                background: url('{!URLFOR($Resource.CandidateExpenseImages, 'RedFlag.png')}');
                background-size: 30px 50px;
                background-repeat: no-repeat;
            	display:block;
            }
             .grayFlag
            {
            	
            	width:30px;
            	height:50px;
             	background: url('{!URLFOR($Resource.CandidateExpenseImages, 'GreyFlag.png')}');
                background-size: 30px 50px;
                background-repeat: no-repeat;
            	display:block;
            }
            
            .rightText
            {
              text-align: right;
            }
        </style>
        <apex:pageBlock title="Flag for Approval" rendered="{!(!isError)}">
    <table class="list">
         <tr class="headerRow">
             <th class="headerRow smallCell">Line Item Id</th>
             <th class="headerRow smallCell">Expense Type</th>
             <th class="headerRow smallCell">Expense Amount</th>
             <th class="headerRow smallCell">Approval Needed?</th>
             <th class="headerRow bigCell">Approval Reason</th>
             <th class="headerRow bigCell">Approval Status</th>
          </tr>
        	<apex:variable var="count" value="{!0}"/>
         <apex:repeat value="{!records}" var="record">
        	<apex:variable var="count" value="{!count + 1}"/> 
          <tr class="dataRow ">
                 <td class="dataCell smallCell">{!record.Name}</td>
                 <td class="dataCell smallCell">{!record.CER_Expense_Type__c}</td>
                 <td class="dataCell rightText smallCell">${!record.CER_Expense_Amount__c}</td>
                 <td class="dataCell  smallCell" id="approvalPanel_{!count}">
                     <span class="{!if(record.CER_Approval_Needed__c,'redFlag','grayFlag')} userFlag"  onclick="updateFlag({!count});"></span>
                     <apex:inputHidden value="{!record.CER_Approval_Needed__c}"/>
                  </td>
                 <td class="dataCell bigCell  " id="reasonPanel_{!count}">
                     <apex:inputField value="{!record.CER_Approval_Reason__c}"/>
                 </td>
             	 <td class="dataCell bigCell">
                     <apex:inputField value="{!record.CER_Approval_Status__c}" />
                </td>
          </tr>
        
        </apex:repeat>
        <input type="hidden" id="total" value="{!count}"/>
                      
         
        
       </table>
            
        <apex:pageBlockButtons >
        	<apex:commandButton value="Submit" action="{!updateFlags}" onclick="return validate();" />
            <apex:commandButton value="Cancel" action="{!cancelAction}"  />
       </apex:pageBlockButtons>
        
            
        </apex:pageBlock>
        <apex:pageBlock rendered="{!isError}">
        		Please select atleast one Expense Line Item.
        </apex:pageBlock>
    </apex:form>
</apex:page>