<apex:page controller="Custom_Authorization_Send_Email" action="{!call}" sidebar="false" showHeader="false">
 <apex:stylesheet value="{!$Resource.CommonCSS}"/>
  <style>
   .pblock
   {
   }
   .loading-icon 
   {
    background-image: url(/img/loading.gif);
    width: 16px;
    height: 16px;
   }
   a.alpha-link 
   {
    font-weight: normal;
    font-size: 91%;
    padding: 0 4px;
    color: #015BA7 !important;
   }
   a.alpha-link+a.alpha-link 
   {
    border-left: 1px solid #CFCECE;
   }
   a.alpha-link:hover 
   {
    background-color: #e0f5fc !important;
   }
   a.alpha-select 
   {
    font-weight: bold;
    text-decoration: none;
    background-color: #C6E1FF;
    color: #000000 !important;
   }
   .search-block 
   {
    text-align: center;
   }
   .search-block input 
   {
    margin: 0px 15px 0px 5px;
   }
   .search-block-button 
    {
    min-width: 110px;
   }
   .process-block 
   {
    text-align: center;
    margin-top: 10px;
   }
   .process-block input 
   {
    margin: 0px 15px;
   }
   .process-block-button 
   {
    min-width: 110px;
   }
   .page-buttons input 
   {
    min-width: 110px;
   }
   table.exceptionText td 
   {
    font-style:normal;
    font-size:16px;
    font-weight:normal;
    text-align:center;
    color:#94D400;
   }
    input.watermark 
   { 
    color: #999; 
   }
  </style>
              <title="Event Management"/>
               <div class="containerFrame">
               <div class="container" id="subChannel2">
               <div id="header">
                <img src="{!$Resource.Deloitte_Sites_Logo}" alt="Deloitte United States" title="Deloitte United States" name="logo" border="0" id="logo" width="124" height="27"></img>
                
               </div>
               <div  class="container" id="contentContainer">
                <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
                 <tbody>
                  <tr>
                   <td>
                    </td>
                  </tr>
                 </tbody>
                </table>
               <div id="Container">
               <div id="contentBlock">
               <apex:form id="TheForm">
                <apex:messages layout="table" styleClass="exceptionText"/>
                 <div>
                 <br>
                 </br>
                 <br>
                 </br>
                 <br>
                 </br>
                 <br>
                 </br>
                 <br>
                 </br>
                  <p>The system is experiencing an issue at this time. Please try again later. We apologize for the inconvenience.</p>
                 </div>
                <div>
                 <table>
                  <tr>
                   <td>
                    
                   </td>
                   <td>
                 
                   </td>
                  </tr>
                 </table>
                </div>
                <div>
                 <table>
                  <tr>
                   <td>
                 
                   </td>
                   <td>
                   
                   </td>
                  </tr>
                 </table>
                </div>
                <div>
                 <br></br>
                </div>
                <div>
                 <br></br>
                </div>
                <div>
                 <br></br>
                </div>
                <apex:outputPanel id="emailTemplateBlock">
                 <div>
                  <table align='left'>
                   <tr>
                    <td>
                    
                    <!-- <apex:commandButton value=" Go to Event Check in Page" action="{!gotocheckin}" styleClass="searchButton" style="color:white;width:155px;height:20px; font-size: 11px;font-weight:bold; "  /> -->
                     
                     
                    </td>
                   </tr>
                  </table>
                 </div>
                </apex:outputPanel>
                 <div>
                  <br></br>
                 </div>
                 <div>
                  <br></br>
                 </div>
                 <div>
                  <br></br>
                 </div>
                </apex:form>
               </div>
              </div>
             </div>
             <div class="footerContent" id="footer">
              <div class="copyright">
               <p>Copyright © 2014 Deloitte Development LLC.<br/>
                  All rights reserved.<br/>
                  36 USC 220506</p>
               <p>
                <img alt="Official Professional Services Sponsor; Professional Services means audit, tax, consulting and financial advisory services." src="{!$Resource.Deloitte_Sites_Footer}"/>
               </p>
              </div>
             </div>
            </div>
           </div>   
          </apex:page>