<apex:page controller="CVM_Intake_Request" showHeader="false" sidebar="false"  cache="true"  standardStylesheets="TRUE" id="pageid" >
<apex:stylesheet value="{!URLFOR($Resource.JquerySites, '/Jquery/ui/jquery-ui.css')}"/>
<!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script>  -->
<apex:includeScript value="{!URLFOR($Resource.Jquery_Core_Plugin, 'jquery-1.9.1.min.js')}" /> 
<apex:includeScript value="{!URLFOR($Resource.JQueryInputFieldMaskPugin)}" />
<apex:stylesheet value="{!URLFOR($Resource.Main_css, 'main_css.css')}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<c:DeloitteLoading />
<!--<c:Test_New_White_Logo ></c:Test_New_White_Logo>-->
    <c:TODFormHeader logo="True" >  </c:TODFormHeader>
<!-- <apex:include pageName="SitesTodHeader"/> -->

<style type="text/css">
.custPopup
{
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            /* These are the 3 css properties you will need to change so the popup 
            displays in the center of the screen. First set the width. Then set 
            margin-left to negative half of what the width is. You can add 
            the height property for a fixed size pop up if you want.*/
            width: 700px;
            margin-left: -346px;
            margin-top:-96% !important;
            top:105.5% !important; 

}
.popupBackground
{
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
}    

.hide
{
    display :none !important;
}

.requiredBlock
{

    display: none;
}
.warning
{
    color:#5D4C4C;
}
.apexp .bPageBlock .error
{
    border: 2px solid #fff;
    color:red;
}
.errorMsg
{
    padding-left: 22px;
    background: url(https://talent--2016q1dev--c.cs14.visual.force.com/resource/1462354961000/TODFormFiles/required.png) no-repeat left center !important;
    background-size: 12px !important;
}
.hide
{
display:none;
}
.TOD-UI .row dd
{
width:100% !important;
}
legend
{
margin-right: 8px !important;
}
</style>



<script>
   

    function handleEnterOnForm()
    {
     $('input,select').each(function(){
            $(this).keydown(function(e) {
                  if(e.keyCode == 13) {
                    e.preventDefault();
                  }
                })
        });
    }
function clearValue()
{
    // document.getElementById('{!$Component.main.formid.tstpopup.FN}').value ='';
    $('.popupField').each(function(){
        $(this).val('');
    });
    
    $('[id$="isEditingFlag"]').val(false);
    hidePopup();
    return false;
}
    
    
    function clickSubmit()
    {
          
        var isvalidRequest=true;
        var selectedfunction = $('[id$="chooseColor"]').val();
        
        
        
        
        
        /*Checking if a selection is made in selected function dropdown when a user clicks submit*/        
        $(".requiredFunction").each(function()
         {
            
            if($(this).val()!='' && $(this).val()!=undefined && $(this).val()!='None')
                 {
                    removeError($(this));
                 
                 }
                 else
                 {
                     isvalidRequest=false;
                     addError($(this), 'Please select a function');
                
                 } 
         });
                        
        
         /*Checking all required fields are be entered*/
         
         $(".requiredInput input , .requiredInput > select, .requiredInput > textarea").each(
             function(){
         
                 if($(this).val()!='' && $(this).val()!=undefined)
                 {
                    removeError($(this));
                 
                 }
                 else
                 {
                     isvalidRequest=false;
                     addError($(this), 'This is required');
                
                 }
                 
         });
                
         
         
         /*Checking if the WBS is invalid format for not.  */
        if(selectedfunction!='Talent_Request')
        {
        if($('.WBSElement input').size()>0)
        {  
          var WBSRegex=/[a-z]{3}[0-9a-zA-Z]{5}-[0-9a-zA-Z]{2}-[0-9a-zA-Z]{2}-[0-9a-zA-Z]{4}/i;
           if(WBSRegex.test($('.WBSElement input').val()))
               {
                 removeError($('.WBSElement input'));
               }
            else
               {
                 isvalidRequest=false;
                 addError($('.WBSElement input'), 'Please provide the WBS Code in format (ABCXXXXX-XX-XX-XXXX) where X can be either a number or an alphabet');
               }
         }
         }
  
        if($('.asistanceValue select').size()>0)
        {
               if($('.asistanceValue select').val()=='No')
               {
               
               if($('[id$="noOfContractor"]').val()>0)
               {
                   removeError($('[id$=contractorList]'));
               }
               else
               {
                   isvalidRequest=false;
                   addError($('[id$=contractorList]'), 'Please add details of the identified contractor');
               }
                   
               }
               else if($('.asistanceValue select').val()=='Yes')
               {
        
                   
                  if( $('[id$=jobdesc]').val()==undefined || $('[id$=jobdesc]').val()=='')
                  {
                      isvalidRequest=false;
                      addError($('[id$=jobdesc]'), 'Please attach job description.');
                  }
                  else
                  {
                      removeError($('[id$=jobdesc]'));
                  }
               }
         }
        
        
          if($('.startDate input').val()!='' && $('.endDate input').val()!='' && $('.endDate input').val()!=undefined && $('.startDate input').val()!=undefined)
            {
                var startDate=new Date($('.startDate input').val());
                var endDate=new Date($('.endDate input').val());
                var hdate = new Date($('[id$="hiddendate"]').val());
                if(startDate=='Invalid Date' || endDate=='Invalid Date')
                {
                    if(startDate=='Invalid Date')
                    {
                      isvalidRequest=false;
                      addError($('.startDate input'), 'Enter a valid Start Date');
                    }
                    if(endDate=='Invalid Date')
                    {
                        isvalidRequest=false;
                      addError($('.endDate input'), 'Enter a valid End Date');
                    }
                }
                else
                {                  
                   if(startDate < hdate && selectedfunction!='Talent_Request' && selectedfunction!='Advisory_Document_Review_Services')
                   {
                    isvalidRequest=false;
                    addError($('.startDate input'), 'Start Date cannot be in the past');                    
                   }
                   else
                   {
                        removeError($('.endDate input'));
                        removeError($('.startDate input'));
                        if(endDate.getTime()<startDate.getTime())
                            {
                              
                              isvalidRequest=false;
                              addError($('.endDate input'), 'End date cannot be less than Start Date');
                            }
                        else
                            {
                              removeError($('.endDate input'));
                              if(endDate - startDate > 31622400000)
                              {
                                isvalidRequest=false;
                                addError($('.endDate input'), 'End date cannot be more than one year from Start Date');
                              }
                              else
                              removeError($('.endDate input'));
                            }
                   }   
                   
                
                }
            
            }
            
            /*Lookup*/
            $('.lookupInput input').each(function(){
               if($(this).val()!='')
                   {
                       /*Remove if already existing error for previous validation check. */
                       removeError($(this));
                       
                       /*Check for id for the selected Item.*/
                        var lookupId=$(this).attr('id');
                        lookupId+='_lkid';
                        
                        var selectedId=document.getElementById(lookupId)!=undefined?$(document.getElementById(lookupId)).val():'';
                        if(selectedId==''||selectedId=='000000000000000')
                            {
                                isvalidRequest=false;
                                addError($(this), 'Invalid input, please use the lookup icon to select appropiate input.');
                                console.log(" LOOKUP ID VALUE : "+$(this).attr('id'));
                            }
                   }
            });

        if(isvalidRequest)
            {
                if($('[id$="submitBtn"]').size()>0)
                    {
                        $('[id$="submitBtn"]').click();
                    }
                
            }
            else
            {
                alert('Please review the errors and try again.');
            } 
    }
$(document).ready(function () {
        
        $(".popup").hide();
      
       handleEnterOnForm();
       var strings= $('[id$=chooseColor]').val();
       if(strings=='New_Vendor_Trial_Agreement')
       {
           $("#attachmentSection").removeclass('hide');
       }
    
      
    var strings2= $('[id$=chooseColor]').val();
       
       if(strings2=='Campus_Unpaid_Intern')
           {
               $("#internAttachmentSection").removeClass("hide");
          }  
      if(strings == 'None' || strings == '' )
      {
           $("#select_function_div").removeClass("hide");
      }
      if(strings != 'None' || strings != '' )
      {
           $("#select_function_div").addClass("hide");
      }
       });
 
/*$(function () {
        
        $(".popup").hide();
         
       handleEnterOnForm();
       $(".butn").click(function(event)
       {
          $("#popupwindow").css( {position:"absolute", top: event.pageY, left: event.pageX});
       });
});*/
    
    /*
        @desc : Method to show the popup.
    */
    function showPopup()
    {     
     var topVal = $('#AddContButton').offset().top;
     topVal = topVal -700;
     $("#popupwindow").css( {position:"absolute", top: topVal });
     $(".popup").show();
     return false;
    }
    /*
        @desc : Method to show the popup.
    */
    function hidePopup()
    {
        $(".popup").hide();
        return false;
    }
    
    /*Method to handle all process required when the fields are re generated. */
    
    function handleFieldRefresh()
    {
        
       /*Avoid enter to submit form.*/
           handleEnterOnForm();
      
         
       /*Checking current status of the view */
            updateContractorView(); 
            
        /*Restrict the onLyNueric Fields to fetch only numeric values*/
        $('.onlyNumeric').each(function(){
        
            //$(this).
        });
        
        
            
       /*Hiding the popup by default */
       hidePopup(); 
        
        
        
        
        $('.below100K').on('blur', function()
        {
            if(isNaN(parseInt($('.below100K').val())))
                {
                    alert("Please enter valid input for Estimated Costs");
                    $('.below100K').val() = '';
                }
            else
                {
                    if($('.below100K').val()>100000)
                        {
                        $('#below100KMsg').removeClass('hide');
                        }
                }
        });
        
        
        
        /*Show contractor or Upload view based on "need Assitance in finding " field value */  
        
         if( $('.asistanceValue select').size()>0)
         {
             
              $('.asistanceValue select').on('change', 
                function(){
                    
                    updateContractorView();
               });  
         }
         
         
         $('.below100K').on('blur', function()
        {
            if(isNaN(parseInt($('.below100K').val())))
                {
                    alert("Please enter valid input for Estimated Costs");
                    $('.below100K').val() = '';
                }
            else
                {
                    if($('.below100K').val()>100000)
                        {
                        $('#below100KMsg').removeClass('hide');
                        }
                }
            if($('.below100K').val().length==0)
            {
               $('#below100KMsg').addClass('hide'); 
            }
        });
        
        $(".below100K").keyup(function()
        {
            if($('.below100K').val().length<6)
             {
              $('#below100KMsg').addClass('hide');
             }
        });
        
       var strings2= $('[id$=chooseColor]').val();
       
       if(strings2=='Campus_Unpaid_Intern')
           {
               $("#internAttachmentSection").removeClass("hide");
          }         
    }
    
    function updateContractorView()
    {
            
               if($('.asistanceValue select').val()=='No')
                    {
                        $("#Estimated_Cost").removeClass('hide');                        
                        $("#contractorListId").removeClass('hide');
                        $("#ResumeSection").removeClass('hide');
                        $("#attachmentSection").addClass('hide');
                        $("#Interview").addClass('hide');
                       

                    }
                else if($('.asistanceValue select').val()=='Yes')
                    {
                        $("#Estimated_Cost").addClass('hide');
                        $("#contractorListId").addClass('hide');
                        $('#below100KMsg').addClass('hide');
                        $("#ResumeSection").addClass('hide');
                        $("#Interview").removeClass('hide');
                        $("#attachmentSection").removeClass('hide');
                    }
                else
                    {
                        $("#Estimated_Cost").addClass('hide');
                        $("#Interview").addClass('hide');
                        $('#below100KMsg').addClass('hide');
                        $("#ResumeSection").addClass('hide'); 
                        $("#contractorListId").addClass('hide');
                        $("#attachmentSection").addClass('hide');
                    }
     }
    
    
    /*Adding or removing Client side Validation error */
    function addError(jQueryObject, message)
    {
        if(jQueryObject.parent().find('div.errorMsg').length != 0)
        {
            jQueryObject.parent().find('div.errorMsg').each(function(){
                $(this).html(message);
            });
        }
        else
        {
            jQueryObject.parent().append('<div class="errorMsg">'+message+' </div>');
        }
        
        
    }
    
    function removeError(jQueryObject)
    {
    

        if(jQueryObject.parent().find('div.errorMsg').length != 0)
        {
            jQueryObject.parent().find('div.errorMsg').each(function(){
                $(this).html('');
            });
            
        }
    }
    
    /**
     * Validate email function with regular expression
     * 
     * If email isn't valid then return false
     * 
     * @param email
     * @return Boolean
     */
     
    function validateEmail(email){
        var emailReg = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        var valid = emailReg.test(email);
    
        if(!valid) {
            return false;
        } else {
            return true;
        }
    }
        
    function handleContractorSubmit()
    {
        var isValid=true;
        var RequestFormType = $('[id$=chooseColor]').val();
        /*Checking all required fields*/
        
        $('.popupField.requiredField').each(
            function(){
                        removeError($(this));
                        if($(this).val()=='')
                        {
                             addError($(this),'This is Required');
                             isValid=false;
                        }
                        else
                        {
                            removeError($(this));
                        }
                    });
                    
         $('.popupField.emailField').each(function(){
             if($(this).val()!='')
             {
                 removeError($(this));
                 if(validateEmail($(this).val()))
                 {
                     removeError($(this));
                 }
                 else
                 {
                     addError($(this),'Invalid Email Id');
                     isValid=false;
                 }
             
             }
         
         });
        
        if(isValid==false)
        {
            alert('Please review and correct the errors.');
        }
        else
        {
            $('[id$=contractorSubmit]').click();
        }
    
        return isValid;
    }
    
   function applyPhoneMask(object)
    {
        object.mask("1-(999) 999-9999");
    }

    function handlePopupRefresh()
    {
        $('.onlyNumeric').each(function(){
        
        applyPhoneMask($(this));
        
        });
    }
    

/*Custom Lookup Code*/
/*Custom Lookup*/
    function openLookup(baseURL, width, modified, searchParam)
    {
       
    var originalbaseURL = baseURL;
    var originalwidth = width;
    var originalmodified = modified;
    var originalsearchParam = searchParam;
        
        /*Getting the lktp= */
        var lookupType="";
        var index=baseURL.indexOf("lktp=");
        if(index!=-1)
            {
                lookupType = baseURL.substr(index+5, 3);
            }
    if (modified == '1') baseURL = baseURL + searchParam;
    var isCustomLookup = false;
    
    // Following "003" is the Object type for Contact object so change this as per your standard or custom object
    if(lookupType == "003")
    {
      var urlArr = baseURL.split("&");
      var txtId = '';
      var serachFilters='';

        
        /*iterate through the para,s of base URL */

        for(var keypair in urlArr)
            {

             var keyValue=urlArr[keypair].split('=');
              if(keyValue.length==2)
                 {
                 if(keyValue[0]=='lknm')
                     {
                        txtId=keyValue[1];
                     }
                  else if(keyValue[0]=='dplp')
                     {
                        serachFilters=keyValue[1];
                     }
                 }
            }
        
      // Following is the url of Custom Lookup page. You need to change that accordingly
         if(window.location.href.indexOf("/tod/") > -1) 
            {
             
                baseURL = "/tod/TOD_ContactLookup?txt=" + txtId;
            
            } 
            else if(window.location.href.indexOf("/apex/") > -1) 
            {
                 baseURL = "/apex/TOD_ContactLookup?txt=" + txtId;
            }
        baseURL =baseURL+"&serachFilters=" + serachFilters;
      // Following is the id of apex:form control "myForm". You need to change that accordingly
      baseURL = baseURL + "&frm=" + escapeUTF("{!$Component.inp}");
      if (modified == '1') {
        baseURL = baseURL + "&lksearch=" + searchParam;
      }
      // Following is the ID of inputField that is the lookup to be customized as custom lookup
      if(txtId.indexOf('Account') ==     -1 ){
        isCustomLookup = true;
      }
    }
    
    
    if(isCustomLookup == true)
    {
        openPopup(baseURL, "lookup", 350, 480, "width="+width+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
    }
    else 
    {
      if (modified == '1') originalbaseURL = originalbaseURL + originalsearchParam;
      openPopup(originalbaseURL, "lookup", 350, 480, "width="+originalwidth+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
    } 
  }


</script>
<style>
legend
{
max-width:350px !important;
}
</style>
<!--<c:DeloitteLoading />
 <c:TODFormHeader ></c:TODFormHeader>-->
      <apex:form id="formid">
     
      <apex:pageBlock >
      <div class="content-wrapper">       
            <div class="TOD-UI" id="main-content">
                <div class="content">
            <header class="Title">
                <hl><apex:outputPanel rendered="{!IF((formname!='General Request' && formname!='New Vendor Trial Agreement' && formname!=''),true,false)}" >{!formname} </apex:outputPanel>
                         <apex:outputPanel rendered="{!IF((formname=='General Request' && formname!=''),true,false)}">{!formname} (Federal Indirect, Consulting, Misc. Requests) </apex:outputPanel>
                         <apex:outputPanel rendered="{!IF((formname=='New Vendor Trial Agreement'&& formname!=''),true,false)}"  >Talent Acquisition Search Firm Trial Form</apex:outputPanel>
                         <apex:outputPanel rendered="{!IF(formname=='',true,false)}"> Contractor and Vendor Requests </apex:outputPanel></hl>
                <apex:commandLink immediate="true" value="My Requests" style="float:right;color: #fff !important;font-size: 16px!important;display: block;margin-bottom: 20px;margin-top: 10px;"  action="{!gotorequestpage}"  target="blank">

                        </apex:commandLink>
            </header>
            <section id="myinformation-content">
                <div class="disclaimer">
                    <p>
                        <strong>Note:</strong>
                        Fields marked with asterisk (<span style="color:red">*</span>) are mandatory.
                    </p>
                </div>
            <article>     
        <apex:inputHidden value="{!param1}" id="param1Val"/>
        <apex:inputhidden value="{!currentDate}" id="hiddendate"/>
      
            <div id="Form" class="row">
        
             
            
                <!-- Form Fields -->
                     
                    
                         <dl class="col-2">
                          <dt> <legend>Name:</legend></dt> 
                          <dd> <b>{!conObj.name}</b></dd> 
                        </dl>
                        
                         <dl class="col-2">
                           <dt> <legend>Email:</legend></dt>
                             <dd>  <b>{!conObj.email}</b></dd>
                          </dl>
                        
                    
                      
                 <dl class="col-2">
                
                         <dt>   <legend>Request Date :</legend></dt>
                     <dd>
                            <b>
                                <apex:outputText value="{0, date, MMMM d','  yyyy}">
                                    <apex:param value="{!cvmObj.CVM_Request_Date__c}" /> 
                                </apex:outputText>
                            </b>
                       </dd>
                </dl>
                        
                  
                <br/>
                
               
               
               <br/>
                <br/> 
                
   <apex:outputPanel id="requesttypeinput">
   <apex:outputPanel id="oplFunction" >
        <div id="select_function_div">
            <div id="selector">                
               <dl class="col-1" style="padding-bottom: 106px;padding-top: 45px;">
                <dt>   
                <legend id="test"  style="float: left; position: relative;"><b style="color:red;">*</b>Select Function</legend>
                    <br/>

                <apex:actionRegion >
               <apex:selectList styleclass="form-control requiredField requiredFunction" id="chooseColor" value="{!strings}" size="1">
                    <apex:selectOption itemValue="None" itemLabel="-None-"/>
                    <apex:selectOption itemValue="Advisory_Document_Review_Services" itemLabel="Contractor Request – Advisory Document Review Services"/>
                    <apex:selectOption itemValue="Advisory_Requests" itemLabel="Contractor Request – Advisory"/>
                    <apex:selectOption itemValue="Audit_Request" itemLabel="Contractor Request – Audit"/>
                    <apex:selectOption itemValue="Campus_Unpaid_Intern" itemLabel="Contractor Request – Campus Unpaid Intern"/>
                    <apex:selectOption itemValue="CL_Preferred_Vendor_Program" itemLabel="Contractor Request – Contract Labor Preferred Vendor Program"/>
                    <apex:selectOption itemValue="Enabling_Areas_Contractor_Request" itemLabel="Contractor Request – Enabling Areas"/>
                    <apex:selectOption itemValue="General_Request" itemLabel="Contractor Request – General"/>
                    <apex:selectOption itemValue="Talent_Request" itemLabel="Contractor Request – Talent"/>          
                    <apex:selectOption itemValue="Tax_Request" itemLabel="Contractor Request – Tax"/>
                    <apex:selectOption itemValue="New_Vendor_Trial_Agreement" itemLabel="Vendor Request – Talent Acquisition Search Firm Trial"/>
                    <apex:selectOption itemValue="TD_Vendor_Request" itemLabel="Vendor and Contractor Requests – Talent Development"/>
                    <apex:selectOption itemValue="TVM" itemLabel="Vendor Request – Talent General"/>
                   <apex:actionSupport event="onchange" reRender="Details" oncomplete="setDefault();" status="loading" action="{!updateRecordType}"/>
                   <apex:actionFunction name="load" oncomplete="setDefaultval();" />
                </apex:selectList> 
                </apex:actionRegion>  
                   </dt>                    
                   </dl>
            </div>
    </div>
  <br/>
  
  
  
  
    <apex:outputPanel id="Details" >      
      <div  class="row" >
          <dl class="col-1">
              
          <dt>
      <apex:outputText rendered="{!IF(strings == 'Talent_Request',true,false)}">
            <span ><h3 style="color:#8FD300;margin-bottom:-20px !important;margin-top: -20px !important;"> REQUEST DETAILS </h3></span>        
        </apex:outputText>
       
        <apex:outputText rendered="{!IF(strings == 'CL_Preferred_Vendor_Program',true,false)}">
            <table>
            <tr style="border: 1px solid #00A1DE; font-weight: normal; font-size: 18px !important; background-color: #A8E16F;">
            <td style="padding-left:5px !important;">Background:</td>
            </tr>
            <tr style="border: 1px solid #00A1DE; font-weight: normal; font-size: 14px !important;">
            <td style="padding:5px">A Request for Proposal (RFP) process was completed in November 2014 which established a preferred supply base to support Contract Labor Services needs. Following the completion of this RFP, circumstances may arise that result in the need to request services outside of the preferred supply base (e.g. niche skillsets, lack of contractor availability, etc.). The Exception Process to engage a trial vendor outlined below reflects the steps required to request services from a Contract Labor supplier outside of the Contract Labor Preferred Vendor Program.</td>
            </tr>
            <tr style="border: 1px solid #00A1DE; font-weight: normal; font-size: 18px !important; background-color: #A8E16F;">
            <td style="padding-left:5px !important;">Exception Process Scenarios/Parameters:</td>
            </tr>
            <tr style="border: 1px solid #00A1DE; font-weight: normal; font-size: 14px !important;">
            <td style="padding:5px">
            The following are scenarios deemed appropriate for needing to follow the Exception Process:<br/><br/>
            <ol>
            <li>The preferred suppliers are not able to deliver the appropriate or needed resources within 24 hrs of receiving Deloitte&#39;s request for service<br/><br/></li>
            <li>The client engagement team has requested an alternative supplier at the request of the client<br/><br/></li>
            <li>The client engagement team has requested an alternative supplier due to a go-to-market or partnerings relationship on a given project<br/><br/></li>
            <li>The client engagement team has requested an alternative supplier in order to meet specific MWBE/HubZone/Veteran Owned project requirements that cannot be addressed by the preferred supply base<br/><br/></li>           
            </ol>
            </td>
            </tr>
            </table>
        </apex:outputText>
              </dt>
          </dl>
        
        
       </div> 
      <div  class="row" >
      
       <script>
   
                        // phone number validation. formatPhoneOnEnter and formatPhone are two events provided by salesforce.
                           
                            //onkeydown event
                            function formatPhoneOnEnter(phone){
                                phone.value = phone.value.replace(/[^0-9]/g,"");
                            }
                            
                            //onblur event
                            function formatPhone(phone){
                        
                                phone.value = phone.value.replace(/[^0-9]/g,"");
                            }
                    </script> 
           

 <apex:actionRegion >    
     
     <div class="row">
          <apex:repeat value="{!$ObjectType.CVM_Contractor_Request__c.FieldSets[strings]}" var="f">
          <script>
          handleFieldRefresh();
          </script>
          <style>
          .resourcestylefield
        {
        width:101% !important;
        }
          </style>
          <div  style="padding: 8px;" class=" {!IF(f.Required, 'requiredField', '')}  {!IF(AND(f.label== 'Do you need assistance in finding'), 'asistanceValue', 'nonAsistanceValue' )} {!IF(f.label=='Tentative Start Date', 'startDate', '')} {!IF(f.label=='What type of contractor is the identified resource?', 'resourcestylefield', '')} {!IF(f.label=='Type of Sub - Contractor', 'subcontractorfield', '')} {!IF(f.label=='Tentative End Date', 'endDate', '')} {!IF(AND(f.label== ''), 'onlyNumeric', '' )}  {!IF(AND(f.label== 'What type of contractor is the identifie'), 'ContractorType', 'nonContractorType' )}  {!IF(AND(f.label == 'WBS # for Invoicing'),'WBSElement','')} {!IF(OR(f.label== 'Agency Contact Phone Number' || f.label== 'Agency Phone Number' || f.label== 'Contractor Phone Number' || f.label== 'Externals Phone Number' || f.label== 'POC Phone Number' || f.label== 'Student Phone Number' || f.label== 'Vendor Phone Number'), 'onlyNumeric', '' )} ">
                  
        
         
         
            <dl class="col-1">
                
                <dt>                
        <apex:outputtext rendered="{!IF(AND(f.label== 'Will employees of other member firms'),true,false)}">
             <legend>Will employees of other member firms (India, DTTL, etc.) be engaged in this request? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>    
        <apex:outputtext rendered="{!IF(AND(f.label == 'Please specify Talent Area which is fund'),true,false)}">
             <legend>If Other, Please specify your Talent Area <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label == 'Please specify your Talent Group'),true,false)}">
             <legend>If Other, Please specify your Talent Group <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label == 'Will clients be engaged'),true,false)}">
             <legend>Will clients be engaged/involved with this request? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label == 'Has the Contractor Previously Worked'),true,false)}">
           <legend>Has the contractor/ vendor/ individual preciously worked/ provided services to the Deloitte US Firms? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label == 'Client Name and Address'),true,false)}">
           <legend>If contractor is providing services to a client, provide the client name (full legal name) and client address (including street, city and zip code). <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label == 'What type of contractor is the identifie'),true,false)}">
           <legend>What type of contractor is the identified resource? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>       
        <apex:outputtext rendered="{!IF(AND(f.label == 'Where will the contractor be working?'),true,false)}">
             <legend>Where will the contractor primarily be working? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>          
        <apex:outputtext rendered="{!IF(AND(f.label == 'Has pricing and associated fees'),true,false)}">
             <legend>Has pricing and associated fees been discussed with the resource? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label == 'Contractor is Providing Services'),true,false)}">
             <legend>Contractor is Providing Services to a Client, billable to the Client by the firm? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label == 'Contractor is working on Federal Govt'),true,false)}">
             <legend>Contractor is working on Federal Government Services Project? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label == 'Does the contractor need a Security'),true,false)}">
             <legend>Does the contractor need a Security Badge? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>          
        <apex:outputtext rendered="{!IF(AND(f.label == 'Is the client(s) a restricted entity tha'),true,false)}">
             <legend>Is the client(s) a restricted entity that the firm provides attest services to (please confirm via DESC on Deloittenet)? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label == 'Ariba Requisition Created, if applicable'),true,false)}">
             <legend>Ariba Requisition Created? (if applicable) <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label == 'Ariba Requisition Fully Approved'),true,false)}">
             <legend>Ariba Requisition Fully Approved? (if applicable) <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label == 'Sent contractor details to local TA'),true,false)}">
             <legend>Sent contractor details to local TA welcome? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label == 'Confirmation from agency that BI'),true,false)}">
             <legend>Confirmation from agency that BI is complete and clear? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label == 'Confirmation that laptop is ready'),true,false)}">
             <legend>Confirmation that laptop is ready for pick up? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label == 'Day 1 Logistical information sent to age'),true,false)}">
             <legend>Day 1 Logistical information sent to agency? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                 
        <apex:outputtext rendered="{!IF(AND(f.label == 'Day 1 Logistical information sent'),true,false)}">
             <legend>Day 1 Logistical information sent to Engaging Manager? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label == 'Business Leader(s) who have approved'),true,false)}">
             <legend>Business or Enabling Area Regional Leader(s) who have approved <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label== 'Contractor or Individuals office'),true,false)}">
                <legend>Contractor Office Location <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label== 'Do you need assistance in finding'),true,false)}">
        <legend>Do you need assistance in finding/ identifying a contractor? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label== 'Has the Vendor Business Relationship Ind'),true,false)}">
        <legend>Has the Vendor Business Relationship Independence clearance been initiated? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label== 'Have you worked with your Resource Manag'),true,false)}">
        <legend>Have you worked with your Resource Manager to identify resources for this request? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label== 'How will the products/ services be utili'),true,false)}">
        <legend>How will the products/ services be utilized? and where? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label== 'Industries / Sectors / Specialized Exp'),true,false)}">
        <legend>Industries / Sectors / Specialized Experience Preference (check all that apply) <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>               
        <apex:outputtext rendered="{!IF(AND(f.label== 'Is this program/ project led by TD?'),true,false)}">
        <legend>Is this program/ project led by Talent Development? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>
        <apex:outputtext rendered="{!IF(AND(f.label== 'Is this program/project paid for by TD?'),true,false)}">
        <legend>Is this program/project paid for by Talent Development? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label== 'Notes Special Request Experience Section'),true,false)}">
        <legend>Notes/ Special Requests/ Experience Section <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label== 'Please explain why tech component is req'),true,false)}">
        <legend>Will a technology component be required? , i.e., Data/Cloud Hosting, Mobile App, and if so, please explain <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>       
        <apex:outputtext rendered="{!IF(AND(f.label== 'Please provide a summary of services to'),true,false)}">
        <legend>Please provide a summary of services to be provided <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label== 'Summary of Need - License/Voucher info'),true,false)}">
        <legend>Summary of Need - License/Voucher information <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label== 'Summary of specific miscellaneous need'),true,false)}">
        <legend>Summary of specific miscellaneous needed <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>       
        <apex:outputtext rendered="{!IF(AND(f.label== 'Type of Vendor, pricing and fee desc'),true,false)}">
        <legend>Type of Vendor, pricing and fee description <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label== 'Which Talent Area is funding the service'),true,false)}">
        <legend>Which Talent Service Area is funding the service? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label== 'Who is the on-site coordinator for Day 1'),true,false)}">
        <legend>Who is the on-site coordinator for Day 1? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label== 'Will the Contractor have access to CI?'),true,false)}">
        <legend>Will the Contractor have access to Confidential Information? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>       
        <apex:outputtext rendered="{!IF(AND(f.label== 'Will there be Deloitte proprietary or CI'),true,false)}">
        <legend>Will there be Deloitte proprietary or Confidential Information? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label== 'Have you received approval for this requ'),true,false)}">
        <legend>Have you received approval for this request from your Service Area Leader? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>    
        <apex:outputtext rendered="{!IF(AND(f.label== 'Do you have additional contractor names'),true,false)}">
        <legend>Do you have additional contractor names to input? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label== 'Is there an existing contract currently'),true,false)}">
        <legend>Is there an existing contract currently in place? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>       
        <apex:outputtext rendered="{!IF(AND(f.label== 'Have they been cleared by the National O'),true,false)}">
        <legend>Have they been cleared by the National Office of Independence? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label== 'Vendors Contacted to source'),true,false)}">
        <legend>Preferred Vendors Contacted to Source <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label== 'Name of business entity you are requesti'),true,false)}">
        <legend>Name of Business Entity you are requesting to engage <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label== 'How many hours per week will the contrac'),true,false)}">
        <legend>How many hours per week will the contractor be working? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>    
        <apex:outputtext rendered="{!IF(AND(f.label == 'POC Name' && strings == 'New_Vendor_Trial_Agreement'),true,false)}">
             <legend>Search Firm Contact Name <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                          
        <apex:outputtext rendered="{!IF(AND(f.label == 'POC Name' && strings != 'New_Vendor_Trial_Agreement'),true,false)}">
             <legend>POC Contact Name <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF(AND(f.label == 'POC Job Title' && strings == 'New_Vendor_Trial_Agreement'),true,false)}">
             <legend>Search Firm Contact Job Title <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>     
        <apex:outputtext rendered="{!IF(AND(f.label == 'POC Job Title' && strings != 'New_Vendor_Trial_Agreement'),true,false)}">
             <legend>POC Job Title <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF((f.label == 'POC Phone Number' && strings == 'New_Vendor_Trial_Agreement'),true,false)}">
             <legend>Search Firm Contact Phone Number <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>         
        <apex:outputtext rendered="{!IF((f.label == 'POC Phone Number' && strings != 'New_Vendor_Trial_Agreement'),true,false)}">
             <legend>POC Phone Number <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>     
        <apex:outputtext rendered="{!IF(AND(f.label == 'POC Email' && strings == 'New_Vendor_Trial_Agreement'),true,false)}">
             <legend>Search Firm Email Address <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                                   
        <apex:outputtext rendered="{!IF(AND(f.label == 'POC Email' && strings != 'New_Vendor_Trial_Agreement'),true,false)}">
             <legend>POC Email Address <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                                  
        <apex:outputtext rendered="{!IF(AND(f.label == 'On Behalf Of' && strings == 'Advisory_Document_Review_Services'),true,false)}">
             <legend>Project Manager <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                                         
        <apex:outputtext rendered="{!IF(AND(f.label == 'On Behalf Of' && strings == 'Talent_Request'),true,false)}">
             <legend>On Behalf Of (If Applicable) <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                                        
        <apex:outputtext rendered="{!IF(AND(f.label == 'On Behalf Of' && strings != 'Advisory_Document_Review_Services' && strings != 'Talent_Request'),true,false)}">
             <legend>On Behalf Of (If Applicable) <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                                               
        <apex:outputtext rendered="{!IF(AND(f.label == 'If office not listed, specify own value' && strings == 'Talent_Request'),true,false)}">
             <legend>If National Role, Please list Contractors preferred City/ State/ Timezone <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                                       
        <apex:outputtext rendered="{!IF(AND(f.label == 'If office not listed, specify own value' && strings != 'Talent_Request'),true,false)}">
             <legend>If office is not listed, specify own value <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                                     
        <apex:outputtext rendered="{!IF(AND(f.label == 'Summary of Need/Reason for Request' && strings == 'Talent_Request'),true,false)}">
             <legend>Reason for Request <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                                    
        <apex:outputtext rendered="{!IF(AND(f.label == 'Summary of Need/Reason for Request' && strings != 'Talent_Request'),true,false)}">
             <legend>Summary of Need/Reason for Request <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                                       
        <apex:outputtext rendered="{!IF(AND(f.label == 'Preferred Work Location' && strings == 'Talent_Request'),true,false)}">
             <legend>Where will contractor primarily be working? <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                                           
        <apex:outputtext rendered="{!IF(AND(f.label == 'Preferred Work Location' && strings != 'Talent_Request'),true,false)}">
             <legend>Preferred Work Location <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                                     
        <apex:outputtext rendered="{!IF(AND(f.label == 'Deloitte POC' && strings == 'Talent_Request'),true,false)}">
             <legend>Deloitte POC for First Day <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                                       
        <apex:outputtext rendered="{!IF(AND(f.label == 'Deloitte POC' && strings != 'Talent_Request'),true,false)}">
             <legend>Deloitte POC <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label == 'Arrival time' && strings == 'Talent_Request'),true,false)}">
             <legend>Arrival time at Deloitte Office or Location of Laptop Pick-up <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label == 'Arrival time' && strings != 'Talent_Request'),true,false)}">
             <legend>Arrival time <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                
        <apex:outputtext rendered="{!IF(AND(f.label == 'List all technology access needed' && strings == 'Talent_Request'),true,false)}">
            <legend>
                Please select the types of access needed for the contractor from the below list <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>        
        <apex:outputtext rendered="{!IF(AND(f.label == 'List all technology access needed' && strings != 'Talent_Request'),true,false)}">
             <legend>List all technology access needed (Outlook, IM, Deloittenet, etc.) <span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span></legend>
        </apex:outputtext>                
        <apex:outputtext rendered="{!IF(AND(f.label != 'On Behalf Of',f.label!= 'Vendors Contacted to source',f.label != 'List all technology access needed',f.label != 'Arrival time',f.label != 'Deloitte POC',f.label != 'Preferred Work Location',f.label!= 'How many hours per week will the contrac',f.label != 'Summary of Need/Reason for Request',f.label != 'If your office is not listed, specify own value',f.label != 'Name of business entity you are requesti',f.label != 'Have you received approval for this requ',f.label != 'On Behalf Of',f.label != 'POC Phone Number',f.label != 'POC Email',f.label != 'POC Name',f.label != 'Have they been cleared by the National O',f.label != 'Is there an existing contract currently',f.label != 'If office not listed, specify own value',f.label != 'POC Job Title',f.label != 'Please specify your Talent Group',f.label != 'Please specify Talent Area which is fund',f.label != 'Do you have additional contractor names',f.label != 'Will employees of other member firms',f.label != 'What type of contractor is the identifie',f.label != 'Where will the contractor be working?',f.label != 'Will clients be engaged',f.label != 'Has the Contractor Previously Worked',f.label != 'Has pricing and associated fees',f.label != 'Contractor is Providing Services',f.label != 'Contractor is working on Federal Govt',f.label != 'Does the contractor need a Security',f.label != 'List all technology access needed',f.label != 'Has the Contractor Previously Worked',f.label != 'Is the client(s) a restricted entity tha',f.label != 'Ariba Requisition Created, if applicable',f.label != 'Ariba Requisition Fully Approved',f.label != 'Sent contractor details to local TA',f.label != 'Confirmation from agency that BI',f.label != 'Client Name and Address',f.label != 'Confirmation that laptop is ready',f.label != 'Day 1 Logistical information sent to age',f.label != 'Day 1 Logistical information sent',f.label != 'Business Leader(s) who have approved',f.label != 'Contractor or Individuals office',f.label != 'Does the contractor need a Security',f.label != 'Do you need assistance in finding',f.label != 'Has the Vendor Business Relationship Ind',f.label != 'Have you worked with your Resource Manag',f.label != 'How will the products/ services be utili',f.label != 'Industries / Sectors / Specialized Exp',f.label != 'Is the client(s) a restricted entity tha',f.label != 'Is this program/ project led by TD?',f.label != 'Is this program/project paid for by TD?',f.label != 'Notes Special Request Experience Section',f.label != 'Please explain why tech component is req',f.label != 'Please provide a summary of services to',f.label != 'Summary of Need - License/Voucher info',f.label != 'Summary of specific miscellaneous need',f.label != 'Type of Vendor, pricing and fee desc',f.label != 'Which Talent Area is funding the service',f.label != 'Who is the on-site coordinator for Day 1',f.label != 'Will clients be engaged',f.label != 'Will the Contractor have access to CI?',f.label != 'Will there be Deloitte proprietary or CI'),true,false)}">
            <label>{!f.label}</label><span class="reqMark" style="color:red">{!IF(f.Required, ' *', '')} </span> 
        </apex:outputtext>              
                  
                    </dt>
                  <dd><apex:inputfield value="{!cvmObj[f]}"  required="{!OR(f.required,f.dbrequired)}" /></dd>
              </dl>
              
              
                  <!--Populatye all notes here based in the label . -->
               <dl class="col-1">
                   
             <dt>
       <apex:outputtext rendered="{!IF(AND(f.label == 'Deloitte Office Location'),true,false)}">
           <dd><span class="warning"> *** If working at a client location, select the closest Deloitte office ***</span></dd>
       </apex:outputtext>    
       
       <apex:outputtext rendered="{!IF(AND(f.label == 'WBS # for Invoicing'),true,false)}">
               <dd><span class="warning"> *** Please provide the WBS Code in format (ABCXXXXX-XX-XX-XXXX) where X can be either a number or an alphabet ***  </span></dd>
       </apex:outputtext>
       
       <apex:outputtext rendered="{!IF(AND(f.label == 'Type of Sub - Contractor'),true,false)}">
               <dd><span class="warning"> *** This field is applicable only if the Contractor Type is Subcontractor ***  </span></dd>
       </apex:outputtext>
       
       <apex:outputtext rendered="{!IF(AND(f.label == 'List all technology access needed'),true,false)}">
               <dd><span class="warning"> *** A ticket has to be submitted for enhanced access upon completion of onboarding ***  </span></dd>
       </apex:outputtext>
       
       <apex:outputtext rendered="{!IF(AND(f.label == 'Have you received approval for this requ'),true,false)}">
               <dd><span class="warning">***This field will be enabled only if the Deloitte Entity is "Deloitte &amp; Touche LLP or Deloitte FAS LLP" *** <br/><br/> *** If “Yes” Email approval notification from SAL required *** <br/><br/> *** If “No” Please contact your &nbsp;<apex:commandLink immediate="true" action="{!advisor}" target="blank">Service Area Deployment Advisor&nbsp;</apex:commandLink>&nbsp;to begin the approval process ***  </span></dd>
       </apex:outputtext>
       
       <apex:outputtext rendered="{!IF(AND(f.label == 'Pay Type'),true,false)}">
               <!--<span class="warning" style="display:{!IF(strings=='General_Request',true,false)}"><h3 style="margin-left:-10px;float:left;color:#8FD300;margin-bottom:-20px;">FIRST DAY LOGISTICS</h3><br/><br/></span>-->
               <apex:outputText rendered="{!IF(strings == 'General_Request',true,false)}"><span class="warning"><h3 style="margin-left:-10px;float:left;color:#8FD300;margin-bottom:-30px;margin-top:-10px"> FIRST DAY LOGISTICS </h3></span></apex:outputText>
       </apex:outputtext>
       
       <apex:outputtext rendered="{!IF(AND(f.label == 'Contractor is working on Federal Govt'),true,false)}">
               <apex:outputText rendered="{!IF(strings == 'Talent_Request',true,false)}"><span class="warning" style="padding-bottom: 25px !important;padding-top: 30px !important;"><h3 style="margin-left:-10px;float:left;color:#8FD300;margin-bottom:-20px !important;margin-top:-10px"> ACCESS/ TECHNOLOGY DETAILS </h3></span></apex:outputText>
       </apex:outputtext>
       
       <apex:outputtext rendered="{!IF(AND(f.label == 'Telephone, Voicemail and Fax'),true,false)}">
               <apex:outputText rendered="{!IF(strings == 'Talent_Request',true,false)}"><span class="warning" style="padding-bottom: 25px !important;padding-top: 30px !important;"><h3 style="margin-left:-10px;float:left;color:#8FD300;margin-bottom:-20px !important;margin-top:-10px"> FIRST DAY LOGISTICS </h3></span></apex:outputText>
       </apex:outputtext>
       
       <apex:outputtext rendered="{!IF(AND(f.label == 'What type of contractor is the identifie'),true,false)}">
               <dd><apex:outputText rendered="{!IF(strings == 'Enabling_Areas_Contractor_Request',true,false)}"><span class="warning">*** Staffing Agency Description goes here *** <br/><br/>*** Independent Contractor Description goes here *** <br/><br/>*** Subcontractor Description goes here *** </span></apex:outputText></dd>
       </apex:outputtext>
       
       <apex:outputText rendered="{!IF(AND(f.label == 'List all technology access needed'),true,false)}" >
            <dd><apex:outputText rendered="{!IF(strings == 'Talent_Request',true,false)}"><span class="warning">*** If your contractor requires a security badge, please work directly with OneTeam (1-855-335-0777) *** </span></apex:outputText></dd>
       </apex:outputText>
       
       <apex:outputText rendered="{!IF(AND(f.label == 'CTS Additional Comments'),true,false)}" >
            <apex:outputText rendered="{!IF(strings == 'CL_Preferred_Vendor_Program',true,false)}">
            <br/>
            <br/>
            <table align="center" style="width: 100%;">
            <tr style="border: 1px solid #00A1DE; font-weight: normal; font-size: 18px !important; background-color: #A8E16F;">
            <td style="padding-left:5px !important;">Note:</td>
            </tr>
            <tr style="border: 1px solid #00A1DE; font-weight: normal; font-size: 14px !important;">
            <td style="padding:5px !important">
            <ol>
            <li>The "Requestor" may be an Engagement Lead/Partner, or may be a member of CTS. If the "Requestor" is from CTS, only row 12 will need to be filled out<br/><br/></li>
            <li>Please direct all questions to Cecilia LeBlanc (<a href="mailto:cecleblanc@deloitte.com">cecleblanc@deloitte.com</a>)</li>
            </ol>
            </td>
            </tr>
            </table>
            </apex:outputText>  
       </apex:outputText>
                   </dt>
              </dl>

         
         <script>
             $('.below100K').on('blur', function()
        {
            if(isNaN(parseInt($('.below100K').val())))
                {
                    alert("Please enter valid input for Estimated Costs");
                    $('.below100K').val() = '';
                }
            else
                {
                    if($('.below100K').val()>100000)
                        {
                        $('#below100KMsg').removeClass('hide');
                        }
                }
            if($('.below100K').val().length==0)
            {
               $('#below100KMsg').addClass('hide'); 
            }
        });
        
        $(".below100K").keyup(function()
        {
            if($('.below100K').val().length<6)
             {
              $('#below100KMsg').addClass('hide');
             }
        });
        
        
              </script></div>
               </apex:repeat>
     </div>

          </apex:actionRegion>
        
        
      <div id="Interview" class="hide row">

               
        <apex:outputPanel >
            
            <apex:outputText rendered="{!IF(strings=='Talent_Request',true,false)}"><span class="warning" style="padding-bottom: 25px !important;padding-top: 30px !important;"><h3 style="float:left;color:#8FD300;margin-bottom:-20px !important;margin-top:-10px">INTERVIEW DETAILS </h3></span></apex:outputText>
        
            <dl class="col-1">
            <dt><apex:outputText rendered="{!IF(strings=='Talent_Request',true,false)}" ><label style="margin-left:8px !important;margin-bottom:-1px !important">Please list Interviewer Names</label></apex:outputText>
            <apex:outputText rendered="{!IF(strings!='Talent_Request',true,false)}" > &nbsp; Interview Names for each round</apex:outputText></dt>
            <dd><apex:inputField style="margin-left:6px !important;width:98% !important;" onkeyup="this.value = this.value.replace(/[^a-zA-Z.]/g, '');" styleclass="inputclass" value="{!cvmObj.CVM_Interview_names_for_each_round__c}" /></dd>
            </dl>
            
            <dl class="col-1">
            <dt><label style="margin-top:15px !important;margin-left:7px !important;padding-top:5px;margin-bottom:-1px !important;">Interview Round</label> </dt>   
            <dd><apex:inputField style="margin-left:6px !important;width:98% !important;" styleclass="inputclass" value="{!cvmObj.CVM_Interview_Round_No__c}" /></dd>
            </dl>
            
            <dl class="col-1">
            <dt><label style="margin-top:10px !important;margin-left:7px !important;padding-top:5px;margin-bottom:-1px !important;">Type of Interview</label></dt>    
            <dd><apex:inputField style="margin-left:6px !important;width:98% !important;" styleclass="inputclass" value="{!cvmObj.CVM_Type_of_Interview__c}" /></dd>
            </dl>
            
            <dl class="col-1">
            <dt><label style="margin-top:10px !important;margin-left:7px !important;padding-top:5px;margin-bottom:-1px !important;">Duration of each Interview (in hours)</label>  </dt>  
            <dd><apex:inputField style="margin-left:6px !important;width:98% !important;" styleclass="inputclass" value="{!cvmObj.CVM_Duration_of_each_interview_hours__c}" /></dd>
            </dl>
            
                               
            <apex:outputText rendered="{!IF(strings == 'Talent_Request',true,false)}"><span class="warning" style="padding-bottom: 25px !important;padding-top: 30px !important;"><h3 style="float:left;color:#8FD300;margin-bottom:-20px !important;margin-top:-10px"> ATTACHMENTS </h3></span></apex:outputText>
       
        </apex:outputPanel>

      </div>
      
      <apex:outputPanel rendered="{!IF(strings=='New_Vendor_Trial_Agreement',true,false)}" >
      <div id="NVTSection" class="hide">

             <dl class="col-1">
                 
         <dt>
              <span style="padding-left:6px;color: #8FD300;font-size: 16pt;display: block;margin-bottom: 20px;margin-top: 10px;">Please upload the Job Description</span> 
                 </dt>
        
        <dd>
           <apex:inputFile id="Resume" fileName="{!ResumeFileName}" value="{!ResumeFile}"></apex:inputFile> 
                 </dd>
          </dl>
      </div>
      </apex:outputPanel>
      
      
      <div id="attachmentSection" class="hide">
           <dl class="col-1">
               
         <dt>
             <span style="padding-left:6px;color: #8FD300;font-size: 16pt;display: block;margin-bottom: 20px;margin-top: 10px;">     Please upload the job description <span style="color:red">*</span></span> </dt>
        <dd>   <apex:inputFile id="jobdesc" fileName="{!jobDescFileName}" value="{!jobDescFile}"></apex:inputFile> 
               </dd>
          </dl>
      </div>
     
      <div id="internAttachmentSection" class="hide">
           <dl class="col-1">
               
          <dt>
        <span style="padding-left:6px;color: #8FD300;font-size: 16pt;display: block;margin-bottom: 20px;margin-top: 10px;">     
            Please use the attach feature below to attach a zip containing the following: 
               
        </span> 
              
          <span>
              1. Signed Offer Letter<br/>
               2. Non Disclosure Agreement<br/>
              3. Document from high school or college that validates student will receive academic credit and/or that an unpaid internship is a requirement for graduation.<br/>
              <br/>
          </span>
               </dt>
               <dd>
        <apex:inputFile id="internAttachment" fileName="{!internAttachmentName}" value="{!internAttachmentFile}"></apex:inputFile> 
               </dd>
          </dl>
      </div>
      
          <apex:commandbutton styleClass="hide" id="submitBtn" style="width:100px" value="Submit"  action="{!saveAction}"  />    


   
          
<apex:actionRegion >
    
      <apex:outputPanel >
      
       <apex:outputPanel id="tstpopup" styleClass="popup">
       
       
       
        <apex:outputPanel styleClass="popupBackground popup" layout="block" />
           
         
           <div id="popupwindow" class="custPopup popup row" style="width: 890px;margin-left: -430px;margin-top: -1860px;">
               
               
               <div class="content-wrapper">       
            <div class="TOD-UI" id="main-content">
                <div class="content">
            <header class="Title">
                <hl>Contractor Information</hl>
            </header>
            <section id="myinformation-content">
                <div class="disclaimer">
                    <p>
                        <strong>Note:</strong>
                        Fields marked with asterisk (<span style="color:red">*</span>) are mandatory.
                    </p>
                </div>
            </section></div></div></div>
               
               
               <dl class="col-1">
               <dt><label style="margin-left:6px !important;">Contractor First Name <b style="color:red;">*</b></label></dt>
               <dd><apex:inputField styleclass="popupField requiredField"  value="{!ContractorInstance.FirstName}"/> </dd>
               </dl>
               
               <dl class="col-1">
               <dt><label style="margin-left:6px !important;">Contractor Middle Name or Initial :</label></dt>
               <dd><apex:inputField id="ContractorMiddle" styleclass="popupField" value="{!ContractorInstance.WCT_Middle_Name__c}"/></dd>
               </dl>
               
               <dl class="col-1">
               <dt><label style="margin-left:6px !important;">Contractor Last Name <b style="color:red;">*</b></label></dt>
               <dd><apex:inputField styleclass="popupField requiredField" value="{!ContractorInstance.WCT_Personnel_Area_Code__c}"/></dd>
               </dl>
               
               <dl class="col-1">
               <dt><label style="margin-left:6px !important;">Contractor Email Address <b style="color:red;">*</b></label></dt>
               <dd><apex:inputField label="" styleclass="popupField requiredField emailField" value="{!ContractorInstance.Email}"/></dd>
               </dl>
               
               <dl class="col-1">
               <dt><label style="margin-left:6px !important;">Contractor Phone <b style="color:red;">*</b></label></dt>
               <dd><apex:inputField label="Contractor Phone" styleclass="popupField requiredField phoneField" value="{!ContractorInstance.Phone}"/></dd>
               </dl>
               
               <dl class="col-1"  style="display:{!IF(strings!='Talent_Request','inline-table','none')}">
               <dt><label style="margin-left:6px !important;"> Agency Name</label></dt>
               <dd><apex:inputField id="NotTalent1" rendered="{!IF(strings!='Talent_Request',true,false)}" label="Agency Name" styleclass="popupField" value="{!ContractorInstance.CVM_Agency_Name__c}"/></dd>
               </dl>
               
               <dl class="col-1"  style="display:{!IF(strings!='Talent_Request','inline-table','none')}">
               <dt><label style="margin-left:6px !important;display:{IF(strings!='Talent_Request',block,none)}"> Agency Contact Name</label></dt>
               <dd><apex:inputField id="NotTalent2" rendered="{!IF(strings!='Talent_Request',true,false)}" label="Agency Contact Name"  styleclass="popupField" value="{!ContractorInstance.CVM_Agency_Contact_Name__c}"/></dd>
               </dl>
               
               <dl class="col-1"  style="display:{!IF(strings!='Talent_Request','inline-table','none')}">
               <dt><label style="margin-left:6px !important;"> Agency Contact Email Address</label></dt>
               <dd><apex:inputField id="NotTalent3" rendered="{!IF(strings!='Talent_Request',true,false)}" label="Agency Contact Email Address" styleclass="popupField emailField" value="{!ContractorInstance.CVM_Agency_Contact_Email_Address__c}"/></dd>
               </dl>
               
               <dl class="col-1"  style="display:{!IF(strings!='Talent_Request','inline-table','none')}">
               <dt><label style="margin-left:6px !important;"> Agency Contact Phone Number</label></dt>
               <dd><apex:inputField id="NotTalent4" rendered="{!IF(strings!='Talent_Request',true,false)}" label="Agency Contact Phone Number"  styleclass="popupField phoneField" value="{!ContractorInstance.CVM_Agency_Contact_Phone_Number__c}"/></dd>
               </dl>
               
               <dl class="col-1">
               <dt><label style="margin-left:6px !important;"> Bill Rate</label></dt>
               <dd><apex:inputField label="Bill Rate" onkeyup="this.value = this.value.replace(/[^\d.]/g, '');" styleclass="popupField" value="{!ContractorInstance.CVM_Bill_Rate__c}"/></dd>
               </dl>
               
               <dl class="col-1">
               <dt><label style="margin-left:6px !important;"> Pay Rate</label></dt>
               <dd><apex:inputField label="Pay Rate" onkeyup="this.value = this.value.replace(/[^\d.]/g, '');" styleclass="popupField" value="{!ContractorInstance.CVM_Pay_Rate__c}"/></dd>
               </dl>
               
               <dl class="col-1">
               <dt><label style="margin-left:6px !important;"> Has this contractor previously worked for Deloitte?</label></dt>
               <dd><apex:inputField label="Has this contractor previously worked for Deloitte?" styleclass="popupField" value="{!ContractorInstance.CVM_Has_the_External_Previously_Worked__c}"/></dd>
               </dl>
               
               <div>
               <input type="button" class="btn btn-grey" id="cancel"  value="Cancel" onclick="return clearValue();" />

               <apex:commandLink id="contractorSubmit" status="loading" value="Submit" action="{!createContractor1}" reRender="contractorList" oncomplete="return clearValue();" styleClass="hide"  />  
               <input type="button" class="btn butn btn-blue" style="float:right" onclick="return handleContractorSubmit();" value="Submit" />
               </div>
               
               
               
               
           </div>
        </apex:outputPanel>
        
    </apex:outputPanel>
      
      
      
      
    
    
    
      <div id="Estimated_Cost" class="hide row">
                         <script>
                             function checkestcost()
                             {
                                 if(document.getElementById("pageid:formid:j_id21:Total_Cost").value > 100000)
                                    {
                                        $('#below100KMsg').removeClass('hide');
                                    }
                                  else
                                    {
                                        $('#below100KMsg').addClass('hide');
                                    }
                             }
                         </script>
            <div class="row">
            <dl class="col-1">
            <dt><label style="margin-left:7px !important;padding-top:5px;margin-bottom:-1px !important;">What is the estimated total cost of services?</label></dt>
            <dd><apex:inputField id="Total_Cost" style="margin-left:7px !important;width:98% !important;" onkeyup="this.value = this.value.replace(/[^\d.]/g, '');" onblur="return checkestcost();" styleclass="inputclass below100K isNumeric" value="{!cvmObj.CVM_Estimated_total_cost_of_services__c}" />
            <div class="hide" id="below100KMsg" style="margin-left: 20px;margin-top: 10px;">
            <b style="color:red"> Per APR 660, if the expected spend (based upon the fiscal year June through May) is expected to be >$100k (if not available, use the prior fiscal year spend), please contact Strategic Procurement Services for contract assistance at <a href="mailto:msarequestmailbox@deloitte.com">US Stamford MSA Request Mailbox (US - Stamford)</a></b>
            </div>
            </dd>            
            </dl>
            </div>

      </div>      

      
      
      
      
      <div id="contractorListId" class="hide" align= "center">
          
      
       <span style="padding-left:6px;color: #8FD300;font-size: 16pt;display: block;margin-bottom: 20px;margin-top: 10px;"> Please add details of the identified contractors.</span>
      
        
          
        <apex:pageBlock id="contractorList" > 
           

            <apex:variable id="sample" var="index" value="{!0}"/>
             <apex:pageBlockTable style="width:100%" value="{!Contractors}" var="Rep" id="Listviewtable" align="center">
                
                 <apex:column headerValue="Actions">
                     
                     <apex:commandLink value="Edit" immediate="true" action="{!manageContractor}" oncomplete="return showPopup();" reRender="contractorList,tstpopup" status="loading" >
                         <apex:param value="0" name="action"/>
                         <apex:param value="{!index}" name="rowNo"/>
                     </apex:commandLink>
                     || 
                     <apex:commandLink value="Del" immediate="true" action="{!manageContractor}"  reRender="contractorList" status="loading">
                         <apex:param value="1" name="action"/>
                         <apex:param value="{!index}" name="rowNo"/>
                     </apex:commandLink>
                     
                     <apex:variable var="index" value="{!index+1}"/>
                 </apex:column>
                 <apex:column headerValue="Contractor First Name" value="{!Rep.FirstName}" id="Reqnamelist"/>
                 <apex:column headerValue="Contractor Middle Name or Initial" value="{!Rep.WCT_Middle_Name__c}"/>
                 <apex:column headerValue="Contractor Last Name" value="{!Rep.WCT_Personnel_Area_Code__c}"/>
                 <apex:column headerValue="Contractor Email" value="{!Rep.Email}" />
                 <apex:column headerValue="Contractor Phone" value="{!Rep.Phone}"/>
                  
                 
             </apex:pageBlockTable>
                 <apex:inputhidden value="{!contractorSize}" id="noOfContractor"/>
            
               <input type="button" id="AddContButton" class="btn butn btn-blue" value="Add New Contractor" style="width:200px;margin-top: 20px !important;" onclick="return showPopup();" />    
                                   
        </apex:pageBlock>
    </div>
</apex:actionRegion> 
          
</div>
   </apex:outputPanel>
     
       <div class="control-group" style="margin-top: 3%; margin-top: 3%; width: 60%; padding-left: 450Px;">
           <input type="button" class="btn butn btn-blue" value="Submit" style="margin-left: 70px !important;" onclick="clickSubmit();" />
        </div>
   
   
   </apex:outputPanel>
   </apex:outputPanel>
  </div>
                
                </article>
             </section>
</div>





    
  </div></div>
</apex:pageBlock>
</apex:form>


</apex:page>