<apex:page sidebar="false" showHeader="false" controller="ELE_employeeDataUpdateController">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <apex:include pageName="SitesTodHeader"/>
        <c:TODFormHeader Logo="true"></c:TODFormHeader>
        <apex:stylesheet value="{!URLFOR($Resource.JquerySites, '/Jquery/ui/jquery-ui.css')}"/>
            <style>
            hr{
                
                margin: 3px 0;
            }
    textarea 
    {
        height: 20px !important;
    }
    .instrow {
        line-height: 20px;
    }
    
    .helpBlock{
        display: none;
        background-color: #EEEEEE;
        border: 1px solid #000000;
        width:500px;
        padding: 5px;
        position: absolute;
        z-index: 99999;
        top: 600px;
    }
    
    #altContactInfoInst-helpBlock{
    left: 12px;
    top: 190px;
    }
    #altPersonalEmail-helpBlock {
    left: 12px;
    top: 75px;
    }
    
    #childCareGiver-helpBlock{
    left: 20px;
    top: 500px;
    }
    
    .blueArea{
        color: #2795b6;
        padding: 5px;
    }
    
    .greyArea{
        color: #C0C0C0;
    }
    
    .mousePointer{
        cursor: pointer;
    }
    select {
        height: 30px; 
        width: inherit;
    }
    .dateFormat
    {
        position: absolute;
        margin-left: 71%;
        margin-top: -4%;
        width :50px;
    }
    .datePicker select {
        vertical-align: top;
        height: 30px;
        width: 110px;
    }
    
    .dataTables_length 
    {
        height: inherit;
    }
    input[type="checkbox"]
    {
        height: 30px;
    }
    .req{
        background-color: #c00;
        position: absolute;
        left: 120px;
        width: 3px;
        top: 1px;
        bottom: 1px;
    }
    
    a:hover {
        
        color: #92d401 !important;
    }
    span.dateInput span.dateFormat{
        display:none;
    }
    </style>
    <script>
        window.onload = function() {
        var labels = document.getElementsByTagName('label');
        for (var i = 0; i < labels.length; i++) {
            labels[i].style.cursor = "default";
        }
    };
    
    </script>
    
    <apex:outputLabel rendered="{!!IsVaidUser}" >
        
        <div id="EmpUpdateForm"  class="popup-container popup-large" style="width:1300px;">
            
            <!--  Header and Close Icon-->
            <header class="title" style="font-size: 20pt;font-weight: bold; text-align:center">You are not authorized to view this page.</header>    
            
        </div>
    </apex:outputLabel>
    
    <apex:form id="EmpForm" rendered="{!IsVaidUser}" >
        <apex:outputText id="notprimdshb" value="{!sDashBoardView}" style="display:none"/> 
        <div class="content-wrapper">
            <div class="TOD-UI" id="main-content">
                <div class="content">
                    
                    <apex:image url="{!$Resource.Employeedashboard_icon}" style="float:right;height:74px;" width="100" height="74"/> 
                    
                    <header class="Title" style="text-align:center;">
                        <hl>Welcome to {!if((sDashBoardView=='p'),'U.S. India Offices Exit Inputs ',sTeamName)} Dashboard </hl>
                    </header>
                    
                </div>
            </div></div>
        <div id="EmpUpdateForm"  class="popup-container popup-large" style="width:1300px;">
           <marquee style="color: #004994; margin:9px 0px 9px 0px; width:100%!important;font-size:16px;font-weight:bold;">
              Please review the case before closing the overall status as once closed it will not be editable. 
              Please reach out to the USI Separations team for any edits after closure of the respective case.<br/>
            </marquee>
            <apex:pageBlock title="Employee Information" >
                <apex:pageBlockSection >
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Gender</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_Gender__c}</apex:outputLabel>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Employee name</apex:outputLabel>
                        <apex:outputLabel > {!cClToUpdate.ELE_Employee_name__c} </apex:outputLabel>
                        
                    </apex:pageblockSectionItem>
                    
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Global personnel number</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_Global_Personnel_Number__c}</apex:outputLabel>
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Personnel number</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_EMP_Personal_no__c}</apex:outputLabel>
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Counselor Name</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_Counselor_Name__c}</apex:outputLabel>
                        
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Counselor email id</apex:outputLabel>
                        <apex:outputLabel > {!cClToUpdate.ELE_Counselor_Email_ID__c} </apex:outputLabel>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Date of joining</apex:outputLabel>
                        <apex:outputLabel >{!sDOJ}</apex:outputLabel>
                        
                    </apex:pageblockSectionItem>      
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Last working day</apex:outputLabel>
                        <apex:outputLabel >{!sLWD }</apex:outputLabel>
                        
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Designation</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_Designation__c}</apex:outputLabel>
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > India office location</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_Location__c}</apex:outputLabel>
                        
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Function</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_FSS__c}</apex:outputLabel>
                    </apex:pageblockSectionItem>         
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Entity</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_Entity__c}</apex:outputLabel>
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Service area</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_Service_Area__c}</apex:outputLabel>
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Service line</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_Service_Line__c}</apex:outputLabel>
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Deloitte email ID</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_Deloitte_Email__c}</apex:outputLabel>
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Personal email id</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_Contact_Email__c}</apex:outputLabel>
                    </apex:pageblockSectionItem>           
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Personal phone number</apex:outputLabel>
                        <apex:outputLabel > {!cClToUpdate.ELE_Personal_Phone_Number__c} </apex:outputLabel>
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblockSectionItem >
                        <apex:outputLabel > Alternate contact number</apex:outputLabel>
                        <apex:outputLabel > {!cClToUpdate.ELE_Alternate_Contact_Number__c} </apex:outputLabel>
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblockSectionItem rendered="{!if((stakeholderType=='s'),true,false)}" >
                        <apex:outputLabel >Onsite Separation</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_Onsite_Separation__c}</apex:outputLabel>
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblockSectionItem rendered="{!if((stakeholderType=='s'),true,false)}" >
                        <apex:outputLabel >SAP Separation Code</apex:outputLabel>
                        <apex:outputLabel >{!cClToUpdate.ELE_Separation__r.ELE_SAP_Separation_Code__c}</apex:outputLabel>
                    </apex:pageblockSectionItem>
                </apex:pageBlockSection>
                
            </apex:pageBlock>
        </div>
    </apex:form>
    
    
    <apex:form id="ClrForm" rendered="{!IsVaidUser}" >
        <div id="ClrUpdateForm"  class="popup-container popup-large" style="width:1300px;">
            
            <apex:pagemessages id="msg"></apex:pagemessages>
            <div class="message errorM3 " id="errormsgdiv" role="alert" style="display:none">
                <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
                    <tbody><tr valign="top">
                        <td>
                            <img alt="ERROR" class="msgIcon" src="/s.gif" title="ERROR"/>
                        </td>
                        <td class="messageCell"><div id="errrrdiv" class="messageText"><span id="errorspan" style="color:#cc0000">
                            <h4>Error:</h4></span>
                            <p id="reqfieldserrormsg" style="display:none;">Please provide inputs for the below required fields</p>
                            <p id="authorzationerrro" style="display:none;">You are not authorized to select this value</p>
                            <br/></div>
                        </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                            </td>
                        </tr>
                    </tbody></table>
            </div>
            <c:PageBlockTableEnhancerADV targetPbTableIds="assettable" defaultPageSize="15" pageSizeOptions="5,10,15,20"/>
            
            <apex:pageBlock title="{!sTeamName} Dashboard" >
                  <apex:PageBlock >
                    
                    <apex:pageBlockSection columns="1"> 
                        <apex:outputPanel >
                            <apex:outputLabel style="margin-left: 5px;margin-top: 13px;position:absolute !important;" rendered="{!if((cClToUpdate.ELE_Clearance_Authority_Type__c=='Secondary Stakeholders' && sClearanceOldStatus=='Revoke Resignation Requested'),false,true)}">Overall Status</apex:outputLabel>
                            <apex:outputLabel style="margin-left: 5px;position:absolute !important;" rendered="{!if((cClToUpdate.ELE_Clearance_Authority_Type__c=='Secondary Stakeholders' && sClearanceOldStatus=='Revoke Resignation Requested'),true,false)}">Overall Status</apex:outputLabel>
                            
                            <apex:inputField rendered="{!if((cClToUpdate.ELE_Clearance_Authority_Type__c=='Secondary Stakeholders' && sClearanceOldStatus=='Revoke Resignation Requested'),false,true)}" id="ovrallstatId" styleClass="ovrallstatuscls" label="Overall status" style="margin-left: 190px !important;width:170px" value="{!cClToUpdate.ELE_Status__c}" onchange="onchngstrvk()" />
                            <apex:outputText rendered="{!if((cClToUpdate.ELE_Clearance_Authority_Type__c=='Secondary Stakeholders' && sClearanceOldStatus=='Revoke Resignation Requested'),true,false)}" id="ovrallstatIdoutput" styleClass="ovrallstatuscls" style="margin-left: 190px !important;width:170px" value="{!cClToUpdate.ELE_Status__c}" /><br/>
                            
                            <marquee style="color: #004994; width:100%!important;font-size:13px;margin-top:16px;"><b>The overall case status can be changed from here, To close the exit case completely, please change the overall status field as ‘Closed’</b>
                                .<br/><br/>
                            </marquee>
         
                        </apex:outputPanel>
                    </apex:pageBlockSection> 
                    <apex:pageBlockSection > 
                        <apex:pageblockSectionItem >
                            <apex:outputLabel id="cmtsUSIid"> Comments for USI exit team</apex:outputLabel> 
                            
                            <apex:inputField id="cmtsUSIfield" value="{!cClToUpdate.ELE_Comments_For_USI_team__c}" html-placeholder="Key in your comments for USI exit team"/>
                        </apex:pageblockSectionItem>
                        <apex:pageblockSectionItem >
                            <apex:outputLabel id="cempId"> Comments for employee</apex:outputLabel> 
                            
                            <apex:inputField id="cempField" value="{!cClToUpdate.ELE_Comments_For_Employee__c}" html-placeholder="Key in your comments for employee" onfocus="commentsFn();"/>
                        </apex:pageblockSectionItem>
                        
                        
                    </apex:pageBlockSection>
                </apex:PageBlock>  
                
                <apex:outputpanel rendered="{!if((sDashBoardView=='Asset'),true,false)}">
                    <table id="assettable" >
                        <thead>   
                            <tr style="font-size: 15px!important;">
                                
                                <th></th>
                                <th>Asset Name</th>
                                <th>Ref No</th>
                                <th>Asset Cost</th>
                                <th>Assets #</th>
                                <th>Status</th>
                                <th>Description</th>
                                <th>Waived amount</th>
                                <th>Total amount</th>
                                <th>Final amount</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <apex:variable value="{!1}" var="rowNum"/>
                            <apex:repeat value="{!List_cAssetToDisplay}"  var="item">
                                <tr style="{!if(item.assetstatus==true,'background-color:lightblue','')}">
                                    <td><apex:inputCheckbox onchange="hidefield();" value="{!item.bSelectedAsset}" styleClass="ctrl_check  ctrl_{!rowNum}"/></td>
                                    <td ><apex:outputLabel value="{!item.cAsset.ELE_Asset_Name__c}" /></td>
                                    <td><apex:inputField label="Ref No" styleClass="dep_{!rowNum}"  value="{!item.cAsset.ELE_Ref_No__c}"/></td>
                                    <td><apex:inputField label="Cost" styleClass="dep_{!rowNum}" value="{!item.cAsset.ELE_Cost__c}"/></td>
                                    <td><apex:inputField label="Number of Assets" styleClass="dep_{!rowNum}" value="{!item.cAsset.ELE_Number_of_Assets__c}" /></td>
                                    <td><apex:selectList value="{!item.sSelectedStatusValues}" multiselect="false" styleClass="dep_{!rowNum}" size="1">
                                        <apex:selectOptions value="{!item.cAccetstatusValues}"/>
                                        </apex:selectList></td>
                                    <td><apex:inputField label="Description" styleClass="dep_{!rowNum}" value="{!item.cAsset.ELE_Description__c}" onmouseup="erroMessage()"/></td>
                                    <td><apex:inputField label="Total Amount" styleClass="dep_{!rowNum}" value="{!item.cAsset.ELE_Waived_Amount__c }"/></td>
                                    <td><apex:inputField label="Total Amount" value="{!item.cAsset.ELE_Total_Amount__c}"/></td>
                                    <td><apex:inputField label="Final Amount" value="{!item.cAsset.ELE_Payable_Amount__c}"/></td>
                                </tr>
                                <apex:variable var="rowNum" value="{!rowNum + 1}"/>
                            </apex:repeat>
                        </tbody>
                    </table>
                </apex:outputpanel>
                
                <Br/>
                
                
                
                <!--******************************************************
Primary stakeholder dashboard
******************************************************  -->
                <apex:pageBlock rendered="{!if((sDashBoardView=='p'),true,false)}" >
                    <input type="hidden" value="{!assetselctop}" id="assigndocprefix" class="assigndocprefix"/>
                    <apex:pageBlockSection >
                        
                        
                        <apex:pageblockSectionItem >
                            <label><b style="color:red;">*</b>&nbsp;&nbsp;Date of resignation</label>
                            <apex:inputField id="DR" value="{!ele_septoupdate.ELE_Date_of_resignation__c}" styleClass="requiredfield"  />
                        </apex:pageblockSectionItem>
                        <apex:pageblockSectionItem >
                            <label><b style="color:red;">*</b> &nbsp;&nbsp;Last working day</label>
                            <apex:inputField id="lwd" value="{!ele_septoupdate.ELE_Last_Date__c}" styleClass="requiredfield" />
                        </apex:pageblockSectionItem>
                        
                        
                        <apex:pageblockSectionItem >
                            <label><b style="color:red;">*</b>&nbsp;&nbsp;Reason for exit</label>
                            <apex:actionregion >
                                <apex:inputField id="RE" value="{!cClToUpdate.ELE_Reason_for_Exit__c}" styleClass="requiredfield" >
                                    <apex:actionSupport event="onchange" reRender="allREl"/></apex:inputField>
                            </apex:actionregion>
                        </apex:pageblockSectionItem>
                        
                        <apex:outputPanel id="allREl" styleClass="OTlbl">
                            
                            
                            <apex:outputPanel id="Othr"  rendered="{!IF((cClToUpdate.ELE_Reason_for_Exit__c=='Others'),true,false)}" >
                                <table>
                                    <tr><th class="labelCol vfLabelColTextWrap  first " scope="row">
                                        <label><b style="color:red;">*</b>&nbsp;&nbsp;Please mention the other reason</label></th>
                                        <td class="dataCol  first ">
                                            <apex:inputField value="{!cClToUpdate.ELE_Others_Reason_Exit__c}" styleClass="requiredfield" />
                                        </td>
                                    </tr>
                                </table>            
                            </apex:outputPanel>
                            
                            <apex:outputPanel id="Trnsfr" rendered="{!IF((cClToUpdate.ELE_Reason_for_Exit__c=='Voluntary: Transfer to Deloitte global / member firm'),true,false)}" >
                                <table>
                                    <tr><th class="labelCol vfLabelColTextWrap  first " scope="row">
                                        <label><b style="color:red;">*</b>&nbsp;&nbsp;Please share the name of the future member firm and office location</label></th>
                                        <td class="dataCol  first ">
                                            <apex:inputField value="{!cClToUpdate.ELE_Future_member_firm__c}" styleClass="requiredfield" />
                                        </td>
                                    </tr>
                                </table>       
                            </apex:outputPanel>
                            
                        </apex:outputPanel>
                        
                        
                        <apex:pageblockSectionItem >
                            <label><b style="color:red;">*</b>&nbsp;&nbsp;Notice period</label>
                            <apex:actionregion >
                                <apex:inputField value="{!cClToUpdate.ELE_Notice_Period__c}" styleClass="requiredfield">
                                    <apex:actionSupport event="onchange" reRender="allotl"/></apex:inputField>
                            </apex:actionregion>
                        </apex:pageblockSectionItem>
                        
                        
                        <apex:outputPanel styleClass="OTlbl" id="allotl" >
                            
                            <apex:outputPanel id="wvd"  rendered="{!IF((cClToUpdate.ELE_Notice_Period__c=='Waived'),true,false)}">
                                
                                
                                
                                <apex:outputLabel styleClass="NoteCls"><b style="color:red;">* </b>Please provide SLL approval for the notice period waiver</apex:outputLabel>
                                <table border="0px" >
                                    <tr>
                                        <td><apex:inputFile fileName="{!doc.name}" value="{!doc.body}" id="notice" onchange="validatefile(this.id);" ></apex:inputFile></td> 
                                        <td><button class="button radius5 green" type="button" onclick="uploadwaived();">Upload</button></td>
                                    </tr>
                                </table>
                                
                                
                            </apex:outputPanel>
                            
                            
                            
                            <apex:outputPanel id="rcvrd" rendered="{!IF((cClToUpdate.ELE_Notice_Period__c=='To be recovered'),true,false)}">
                            </apex:outputPanel>
                            
                            <apex:outputPanel id="rcverd" rendered="{!IF((cClToUpdate.ELE_Notice_Period__c=='Partially waived/recovered'),true,false)}">
                                <table>
                                    <tr><th class="labelCol vfLabelColTextWrap  first " scope="row">
                                        <label><b style="color:red;">*</b>&nbsp;&nbsp;Specify the number of partially waived days</label></th>
                                        <td class="dataCol  first ">
                                            <apex:inputField value="{!cClToUpdate.ELE_Partially_waived_or_recovered__c}" styleClass="requiredfield" />
                                        </td>
                                    </tr>
                                    <tr><th class="labelCol vfLabelColTextWrap  first " scope="row">
                                        <label><b style="color:red;">*</b>&nbsp;&nbsp;Specify the number of partially recovered days</label></th>
                                        <td class="dataCol  first ">
                                            <apex:inputField value="{!cClToUpdate.ELE_Partially_recovered__c}" styleClass="requiredfield" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <apex:outputLabel styleClass="NoteCls"><b style="color:red;">* </b>Please provide SLL approval for the notice period waiver</apex:outputLabel>
                                        </td>
                                    </tr>
                                    
                                </table>
                                
                                
                                
                                <table>
                                    <tr>
                                        <td>
                                            <apex:inputFile fileName="{!doc.name}" value="{!doc.body}" id="partial" onchange="validatefile(this.id);" ></apex:inputFile>
                                        </td>
                                        <td><button class="button radius5 green" type="button" onclick="uploadprimarydoc();">Upload</button></td>
                                    </tr>
                                </table>                        
                                
                            </apex:outputPanel>
                            
                            
                        </apex:outputPanel> 
                        
                        <apex:pageblockSectionItem >
                            <Label> <b style="color:red;">*</b> &nbsp;&nbsp;Please confirm if this is an 'Onsite separation'</Label>
                            <apex:inputField value="{!cClToUpdate.ELE_Onsite_Separation__c}" styleClass="requiredfield"/>
                        </apex:pageblockSectionItem>
                        
                        <apex:outputPanel >
                            
                            <apex:outputLabel >Special leave <br/>(If applicable) 
                                <apex:inputField style="margin-left:100px!important" value="{!cClToUpdate.ELE_Special_Leaves__c}" />   
                                <br/><br/><b style="color:red;">*</b> &nbsp;&nbsp;If 'Yes', please provide SLL approval and mention the start and end date in the remarks field below</apex:outputLabel><br/>
                            
                            <table>
                                <tr><td><apex:inputFile fileName="{!doc.name}" value="{!doc.body}" id="specialLeave" onchange="validatefile(this.id);"></apex:inputFile></td>
                                    <td><button class="button radius5 green" type="button" onclick="uploadSpecialLeav();" >Upload</button></td>
                                </tr>
                            </table>
                        </apex:outputPanel>
                        
                        
                        <apex:outputPanel >
                            <apex:outputLabel style="margin-top:30px!important">Notice pay / Severance pay<br/> (If applicable) 
                                <apex:inputField style="margin-left:95px!important;margin-bottom:10px!important; " value="{!cClToUpdate.ELE_Notice_or_Severance_pay__c}"/>
                                <br/><b style="color:red;">*</b> &nbsp;&nbsp;If 'Yes', please provide SLL approval and mention the number of days in the remarks field below.</apex:outputLabel>
                            <table>
                                <tr>
                                    <td><apex:inputFile fileName="{!doc.name}" value="{!doc.body}" onchange="validatefile(this.id); " ></apex:inputFile></td> 
                                    <td><button class="button radius5 green" type="button" onclick="uploadNoticePay();">Upload</button></td>
                                </tr>  
                            </table>
                        </apex:outputPanel>
                        
                        
                        <apex:outputPanel >
                            <table width="100%">
                                <tr><td> <label style="margin-top:30px!important"><b style="color:red;">*</b> &nbsp;&nbsp;Rehire status</label></td>
                                    <td> <apex:inputField value="{!cClToUpdate.ELE_Rehire_Status__c}" styleClass="requiredfield" style="margin-top: 20px!important;" /></td></tr>
                            </table>
                            
                            <apex:outputLabel style="margin-top: 30px;"><b style="color:red;">*</b> &nbsp;&nbsp;If 'No', please provide SLL approval</apex:outputLabel>
                            <table>
                                <tr><td><apex:inputFile fileName="{!doc.name}" value="{!doc.body}" onchange="validatefile(this.id); " ></apex:inputFile></td>
                                    <td><button class="button radius5 green" type="button" onclick="uploadRehireStatus();">Upload</button></td></tr>
                            </table>
                        </apex:outputPanel>
                        
                        <apex:pageblockSectionItem >
                            <label><b style="color:red;">*</b> &nbsp;&nbsp;Other recoveries (if any)<br/><br/> If 'Yes', please provide the details in the remarks field</Label>
                            <apex:inputField id="othrRecov" value="{!cClToUpdate.ELE_Other_recoveries__c}" styleClass="requiredfield"/>
                        </apex:pageblockSectionItem>
                        
                        
                        
                        <apex:outputPanel >
                            <table width="100%">
                                <tr><td> <label style="margin-top:30px!important">&nbsp;&nbsp;Remarks / comments <br/>(if any)</label></td>
                                    <td> <apex:inputField id="remarks" value="{!cClToUpdate.ELE_Comments__c}" required="false" style="margin-top: 20px!important;" /></td></tr>
                            </table>
                            
                            <apex:outputLabel style="margin-top: 30px;">&nbsp;&nbsp;Please enclose attachments if any</apex:outputLabel>
                            <table>
                                <tr><td><apex:inputFile fileName="{!doc.name}" value="{!doc.body}" onchange="validatefile(this.id); " ></apex:inputFile></td>
                                    <td><button class="button radius5 green" type="button" onclick="uploadremarks();">Upload</button></td></tr>
                            </table>
                        </apex:outputPanel>
                        
                    </apex:pageBlockSection>
                    
                    
                    
                </apex:pageBlock>
                <apex:pageBlock rendered="{!if((sDashBoardView=='Treasury'),true,false)}" >
                    <apex:pageBlockSection >
                        
                        <apex:pageblockSectionItem >
                            <label><b style="color:red;">*</b> &nbsp;&nbsp;Recovery Amount</label>
                            <apex:inputField value="{!cClToUpdate.ELE_Recovery_Amount1__c}" styleClass="requiredfield"/>
                        </apex:pageblockSectionItem>
                        <apex:pageblockSectionItem >
                            <label><b style="color:red;">*</b> &nbsp;&nbsp;Status of the payment</label>
                            
                            <apex:actionregion >
                                <apex:inputField value="{!cClToUpdate.ELE_Status_of_the_payment__c}" styleClass="requiredfield">
                                    <apex:actionSupport event="onchange" reRender="allpnl"/></apex:inputField>
                            </apex:actionregion>
                        </apex:pageblockSectionItem>
                        
                        <apex:pageblockSectionItem >
                            <label><b style="color:red;">*</b> &nbsp;&nbsp;Mode of Payment by the employee</label>
                            <apex:actionregion >
                                <apex:inputField value="{!cClToUpdate.ELE_Mode_of_Payment_by_the_employee__c}" styleClass="requiredfield" >
                                    <apex:actionSupport event="onchange" reRender="allpnl"/></apex:inputField>
                            </apex:actionregion>
                        </apex:pageblockSectionItem>
                        <apex:outputPanel id="allpnl">
                            <apex:outputPanel styleClass="OTlbl" id="onln" rendered="{!IF((cClToUpdate.ELE_Mode_of_Payment_by_the_employee__c=='Online transfer'),true,false)}">
                                
                                <table>
                                    <tr><th class="labelCol vfLabelColTextWrap  first " scope="row">
                                        <label><b style="color:red;">*</b>&nbsp;&nbsp;Transaction Remarks</label></th>
                                        <td class="dataCol  first ">
                                            <apex:inputField value="{!cClToUpdate.ELE_Transaction_Remarks__c}" styleClass="requiredfield" />
                                        </td>
                                    </tr>
                                    <tr><th class="labelCol vfLabelColTextWrap  first " scope="row">
                                        <label><b style="color:red;">*</b>&nbsp;&nbsp;Transaction reference no</label></th>
                                        <td class="dataCol  first ">
                                            <apex:inputField value="{!cClToUpdate.ELE_Transaction_reference_no__c}" styleClass="requiredfield" />
                                        </td>
                                    </tr>
                                    <tr><th class="labelCol vfLabelColTextWrap  first " scope="row">
                                        <label><b style="color:red;">*</b>&nbsp;&nbsp;Bank Name</label></th>
                                        <td class="dataCol  first ">
                                            <apex:inputField value="{!cClToUpdate.ELE_Recovery_Online_BankName__c}" styleClass="requiredfield" />
                                        </td>
                                    </tr>
                                    <tr><th class="labelCol vfLabelColTextWrap  first " scope="row">
                                        <label><b style="color:red;">*</b>&nbsp;&nbsp;Date</label></th>
                                        <td class="dataCol  first ">
                                            <apex:inputField value="{!cClToUpdate.ELE_Date_Online_Transfer__c}" styleClass="requiredfield" />
                                        </td>
                                    </tr>
                                </table>            
                            </apex:outputPanel>
                            
                            <apex:outputPanel styleClass="DDlbl" id="dd" rendered="{!IF((cClToUpdate.ELE_Mode_of_Payment_by_the_employee__c=='Demand draft or managers cheque'),true,false)}">
                                <table>
                                    <tr><th class="labelCol vfLabelColTextWrap  first " scope="row">
                                        <label><b style="color:red;">*</b>&nbsp;&nbsp;Demand Draft/Manager’s cheque No</label></th>
                                        <td class="dataCol  first ">
                                            <apex:inputField value="{!cClToUpdate.ELE_DD_or_Managers_cheque_Number__c}" styleClass="requiredfield" />
                                        </td>
                                    </tr>
                                    <tr><th class="labelCol vfLabelColTextWrap  first " scope="row">
                                        <label><b style="color:red;">*</b>&nbsp;&nbsp;Bank Name</label></th>
                                        <td class="dataCol  first ">
                                            <apex:inputField value="{!cClToUpdate.ELE_Recovery_Bank_Name__c}" styleClass="requiredfield" />
                                        </td>
                                    </tr>
                                    <tr><th class="labelCol vfLabelColTextWrap  first " scope="row">
                                        <label><b style="color:red;">*</b>&nbsp;&nbsp;Date</label></th>
                                        <td class="dataCol  first ">
                                            <apex:inputField value="{!cClToUpdate.ELE_Date_on_DD_or_Cheque__c}" styleClass="requiredfield" />
                                        </td>
                                    </tr>   
                                    
                                </table>
                            </apex:outputPanel>
                            
                            <apex:outputPanel styleClass="DDlbl" id="statusRemarks" rendered="{!IF((cClToUpdate.ELE_Status_of_the_payment__c=='Others remarks'),true,false)}">
                                <table>   
                                    <tr><th class="labelCol vfLabelColTextWrap  first " scope="row">
                                        <label><b style="color:red;">*</b>&nbsp;&nbsp;Other Remarks</label></th>
                                        <td class="dataCol  first ">
                                            <apex:inputField value="{!cClToUpdate.ELE_Treasury_Status_Payment_Remarks__c}" styleClass="requiredfield" />
                                        </td>
                                    </tr>   
                                </table>
                                
                            </apex:outputPanel>
                        </apex:outputPanel>
                        
                        
                    </apex:pageBlockSection>
                    
                    
                </apex:pageBlock>
                
                <apex:outputPanel id="attachid" >
                    
                    <div class="margin attachmentcls" id="attachment-panel" style="display:{!IF(sDashBoardView=='Asset', 'block', 'none')};">
                        <div class="large-12 columns" ><br/>
                            <legend> 
                                <br/><apex:outputLabel value="Upload Attachments" styleClass="mainTitle" />        
                            </legend><br/>
                            <hr/><br/>
                            <button type="button" class="disable button radius5 green" style="text-align:center;" onclick="startAttachmentUpload();">Add</button>  </div>
                    </div>
                    
                    <div class="margin attachmentcls" style="display:{!IF(UploadedDocumentList.size > 0, 'block', 'none')};">
                        <input type="hidden" value="{!UploadedDocumentList.size}" id="attsizeid" />
                        <div class="large-12 column">
                            <apex:outputPanel >
                                
                                <apex:repeat value="{!UploadedDocumentList}" var="att">
                                    
                                    
                                    <div id="{!att.documentId}">
                                        <apex:outputPanel rendered="{!IF(att.isSelected == true,true,false)}">
                                            <tr>
                                                <td class="large-1">
                                                    <apex:inputcheckbox value="{!att.isSelected}" styleClass="{!att.documentId}" style="display:none;"/>
                                                    <span class="icon close-icon mousePointer checked" onClick="unselect('{!att.documentId}')"></span>
                                                    
                                                </td>
                                                <td class="large-8">
                                                    <span class="blueArea">
                                                        {!att.docName }
                                                    </span>
                                                </td>
                                                <td class="large-3">
                                                    <span class="greyArea">
                                                        {!att.size} 
                                                    </span>
                                                </td>
                                            </tr> 
                                        </apex:outputPanel>
                                    </div>
                                </apex:repeat>
                            </apex:outputPanel>
                        </div>
                    </div>
                    
                </apex:outputPanel> 
                
                <div class="TOD-UI" id="main-content" align= "center">                    
                    <apex:commandButton style="display:none" action="{!updateDashBoard}" id="UpdateButton" styleClass="UpdateButton hide" value="Update"/>
                 <!--   <input type="button" onclick="callspellchk()"  Class="btn btn-grey"  value="Spell check" />-->
                    <input type="button" class="btn updatebutn butn btn-blue"  value="Update" onclick="fnUpdate(); "/>
                    <input type="button" class="btn cancelbutn" value="Cancel"  onclick="fnCancel();"/>
                    
                </div>
            </apex:pageBlock>
        </div>
        <apex:actionRegion >
            <!-- Model Window for Upload -->
            <div class="attachmentModal"  style="display:none;" >
                <div class="modal nested-overlay-center radius5">
                    <div class="row">  
                        <a class="icon close-icon large-1 column right" href="javascript:stopAttachmentUpload();"></a>
                    </div>
                    <div class="row">
                        <table>
                            <tr><td><span class="large-12 column" style="font-size:14px;">
                                Please select type of asset
                                </span></td>
                                <td>
                                    <apex:selectList id="asetname" value="{!assetselctop}" multiselect="false" size="1" style="width:100%;">
                                        <apex:selectOptions id="assetattsel"  value="{!asstnameopt}"></apex:selectOptions>
                                    </apex:selectList>
                                </td></tr>
                        </table>
                        
                        
                    </div>
                    <br/>
                    
                    <div class="row">
                        <span class="large-12 column">
                            <h3 class="subheader">Select File (Maximum Size: 25MB)</h3>
                        </span>
                    </div>   
                    <hr/>
                    <div class="row modal-content">                  
                        <div class="large-8 form">    
                            <div class="row">
                                <div class="small-6 columns">                    
                                    <apex:inputFile value="{!doc.body}" styleclass="fileInputHidden" style="position: absolute;z-index:9999;width:355px;height:40px;opacity:0;"
                                                    filename="{!doc.Name}" contentType="{!doc.ContentType}" onchange="setFileName(this.id);" />                                 
                                    
                                    
                                    <input type="text" class="txtFakeText" readonly="true" style="width:250px;"/>
                                </div>
                                <div class="small-2 columns">                    
                                    <!-- Button to invoke the click of the File Input oncomplete="handleViewAfterUpload();"  -->
                                    <button type="button" class="button radius5 green" onclick="HandleFileButtonClick();" >Browse</button>
                                </div>
                                <div class="large-8 columns attachError" style="display:none;">
                                </div>
                            </div>
                        </div>                                            
                        <apex:commandButton value="Upload"  action="{!uploadAttachment}"  styleClass="button radius5 green uploadButton" style="display:none;" >
                        </apex:commandButton>
                        
                        <button type="button"  class="button radius5 green"  onclick="uploadDocument('{!$Component.asetname}');">Upload</button>                            
                        <button type="button" class="button radius5 green" onclick="stopAttachmentUpload();">Cancel</button>                    
                    </div>
                </div>
            </div>
            <apex:commandLink value="Upload"  action="{!uploadAttachment}"  styleClass="button radius5 green uploadprimaryButton" style="display:none;" >
                <apex:param name="assignprefix" value="Partial waived"/>
            </apex:commandLink>
            <apex:commandLink value="Upload"  action="{!uploadAttachment}"  styleClass="button radius5 green uploadSpecialLeav" style="display:none;" >
                <apex:param name="assignprefix" value="Special Leave"/>
            </apex:commandLink>
            <apex:commandLink value="Upload"  action="{!uploadAttachment}"  styleClass="button radius5 green uploadNoticePay" style="display:none;" >
                <apex:param name="assignprefix" value="Notice pay"/>
            </apex:commandLink>
            <apex:commandLink value="Upload"  action="{!uploadAttachment}"  styleClass="button radius5 green uploadRehireStatus" style="display:none;" >
                <apex:param name="assignprefix" value="Rehire Status"/>
            </apex:commandLink>
            <apex:commandLink value="Upload"  action="{!uploadAttachment}"  styleClass="button radius5 green uploadwaived" style="display:none;" >
                <apex:param name="assignprefix" value="Waived"/>
            </apex:commandLink>
            <apex:commandLink value="Upload"  action="{!uploadAttachment}"  styleClass="button radius5 green uploadremarks" style="display:none;" >
                <apex:param name="assignprefix" value="Remarks/Comments"/>
            </apex:commandLink>
        </apex:actionRegion> 
        
        
        <style>
            *{ font-family:arial;}
            label{font-size:14px!important; text-align:left; margin-left:10px;color:#000!important;margin-bottom:0px !important;}
            .mainTitle{color:#00a9e7!important; font-size:18px!important;}
            .labelCol{width:15%!important;}
            .bPageBlock{border-top: 1px solid #eaeaea !important;}
            .pbButtonb,.pbButton{font-size:14px}
            .title{margin:15px 0px 15px 0px !important}
            .dataCol{vertical-align:middle!important}
            .pbTitle{width:92.5% !important}
            input[type="file"] {width:150px!important}
            marquee{width: 1000px;float: right;}
            marquee h4{line-height:2!important}
            select{margin:0px!important; width:100Px; background-color:#f9f9f9}
            input[type=text]{min-text:100px}
            .labelCol{vertical-align:middle!important}
            .dateInput input{width:250px}
            .dateFormat {margin-left: 68%;  margin-top: -5%;}
            .dataCol textarea{width:250px}
            .headerRow{font-weight:lighter!important; font-size: 12px!important}
            input[type="file"],input[type="checkbox"]{margin:0px!important}
            #j_id0:ClrForm:j_id125:j_id142:assettable:j_id162header{width:150px!important}
            #j_id0:ClrForm:j_id125:j_id142:assettable:j_id154header{width:150px!important}
            #j_id0:ClrForm:j_id125:j_id142:assettable:j_id160header{width:50px!important}
            #j_id0:ClrForm:j_id125:j_id142:assettable:j_id150header{width:20px!important}
            .dataCell textarea{width:150px!important}
            .detailList input[type=text]{width:250px!important}
            .detailList select{width:250px!important}
            .DDlbl .dateFormat{margin-top:-5%!important;}
            .DDlbl label{margin-left:0px !important; width:175px!important; cursor:default!important; line-height:15px!important}
            .DDlbl input[type=text]{width:245px!important}
            .OTlbl .dateFormat{margin-top:-5%!important;}
            .OTlbl label{margin-left:0px !important; width:175px!important; cursor:default!important;line-height:15px!important}
            .OTlbl input[type=text]{width:245px!important}
            .OTlbl .NoteCls{width:380px!important;margin-left:-8px!important;}
            .detailList  input[type="file"]{width:auto!important; font-size:14px!important; margin:10px 0px 10px 10px!important}
            .messageTable{background-color:transparent!important;}
            .messageTable ul{margin-left:-35px!important;}
            .message{border: 1px solid #d4d4d4!important;  background-color:#fff!important}
            
        </style>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
        
        <script>
            window.onload = function() {
            if(!window.location.hash) {
                window.location = window.location + '#loaded';
                window.location.reload(true);
                
            }
            hidefield();
        }
        var $j = jQuery.noConflict();
        $j(document).ready(function() {
            
            
            if("{!sTeamName}" == 'Treasury')
            {
                document.getElementById("j_id0:ClrForm:j_id123:j_id127:j_id130:j_id133:cempField").style.display = 'None';
                document.getElementById("j_id0:ClrForm:j_id123:j_id127:j_id130:j_id133:cempId").style.display = 'None';
            }
        });
        
        function hidefield(){
            
            var ccount=$j('.ctrl_check').length;
            
            for(var i=1 ; i<=ccount;i++){
                var cclass= 'ctrl_'+i;
                var ischecked=$('.'+cclass).is(':checked');
                if(ischecked==true)
                {
                    
                    $('.dep_'+i).each(function(){
                        $(this).prop("disabled", false);
                        $(this).css('border', '1px solid #424242');
                    });
                    
                }
                else
                {
                    $('.dep_'+i).each(function(){
                        $(this).prop('disabled','disabled');
                        $(this).css('border', '1px solid #CACACA');
                    });
                }
                
            }
            
            
            
        }
        function fnCancel() 
        {
            
            if(window.location.href.indexOf("/apex/") > -1) {
                
                window.location.href ="{!$Label.ELE_Login_URL}"+"ELE_stakeholderdashboard?Param1="+"{!stakeholderType}";
                
            } 
            else if(window.location.href.indexOf("/ELE/") > -1) {
                window.location.href = "{!$Label.ELE_TOD_URL}"+"ELE_stakeholderdashboard?Param1="+"{!stakeholderType}";
            }
        }
        
        function fnUpdate(){
            
            var errorbool = '';
            if(document.getElementsByClassName('ovrallstatuscls')[0].value == 'Closed'){
                $('.requiredfield').each(function() {             
                    if ($.trim($(this).val()) == '') {
                        
                        document.getElementById($(this).attr('id')).placeholder = "Please Enter Value";
                        $(this).css('border', '2px solid #c00');
                        document.getElementById("errormsgdiv").style.display = "block";  
                        document.getElementById("reqfieldserrormsg").style.display = "block";  
                        
                        errorbool = true;
                    }
                    else{
                        $(this).css('border', '1px solid #CACACA');
                    }
                    
                });
            }
            else{
                $(this).css('border', '1px solid #CACACA');
                document.getElementById("errormsgdiv").style.display = "none";
                
            }
            
            errorbool=onchngstrvk()?true:errorbool;
            
            if(errorbool != true && document.getElementsByClassName('ovrallstatuscls')[0].value == 'Closed'){
                document.getElementById("errormsgdiv").style.display = "none";
                
                var x =  confirm('Are you sure you want to close the case?');
                if(x){
                    $(".UpdateButton").click();               
                }
                else{
                }
            }
            if(errorbool != true && document.getElementsByClassName('ovrallstatuscls')[0].value != 'Closed'){
                $(".UpdateButton").click();          
            }
            
        }  
        //restrict seconday stakeholder from upating with revoke decline and revoke accept.
        function onchngstrvk()
        {
            var Checkelests = $('select[id$=ovrallstatId]');
            var notprimary= $('span[id$=notprimdshb]'); 
            var getval;
            if(notprimary.html() !=undefined)
            {
                getval= notprimary.html().trim().toUpperCase();;
            }
            if(Checkelests.val()=='Revoke Resignation Requested' && (getval =='P')) 
            {
                document.getElementById("errormsgdiv").style.display = "block";  
                document.getElementById("authorzationerrro").style.display = "block";
                return true;
            }
            else if((Checkelests.val()=='Revoke Resignation Approved' || Checkelests.val()=='Revoke Resignation Declined' || Checkelests.val()=='Revoke Resignation Requested') && (getval !='P')) 
            {
                document.getElementById("errormsgdiv").style.display = "block";  
                document.getElementById("authorzationerrro").style.display = "block";
                return true;
            }
                else{
                    document.getElementById("errormsgdiv").style.display = "none";  
                    document.getElementById("authorzationerrro").style.display = "none";
                }
            return false;
        }
        function startAttachmentUpload() {
            $(".attachmentModal").show();
            $(".disable").attr("disabled", true); 
            
            $(".updatebutn").attr("disabled", true); 
            $(".cancelbutn").attr("disabled", true); 
            
        }
        function stopAttachmentUpload() {
            $(".attachmentModal").hide();
            $(".disable").attr("disabled", false); 
            $(".updatebutn").attr("disabled", false); 
            $(".cancelbutn").attr("disabled", false); 
            
        }
        
        function setFileName(docid) {
            
            $(".txtFakeText").val($(".fileInputHidden").val());
            $('.attachError').hide();
            $('.attachError').empty();               
        }
        function HandleFileButtonClick() {  
            $(".fileInputHidden").click();
            $(".txtFakeText").value = $(".fileInputHidden").value;
        }        
        
        function uploadDocument(assetselop){
            
            if(document.getElementById(assetselop).value == '--None--'){
                alert('Please select type of asset');    
            }
            else{
                $(".uploadButton").click();
            }
        }
        
        function uploadprimarydoc(){
            $(".uploadprimaryButton").click();
        }
        function uploadSpecialLeav(){
            $(".uploadSpecialLeav").click();
        }
        function uploadNoticePay(){
            $(".uploadNoticePay").click();
        }
        function uploadRehireStatus(){
            $(".uploadRehireStatus").click();
        }
        function uploadwaived(){
            $(".uploadwaived").click();
        }
        function uploadremarks(){
            $(".uploadremarks").click();
        }
        
        
        function uploadcomplete(){
            $(".fileInputHidden").value = null;
        }
        
        function flipCheckbox(c) {            
            var isChecked = $('.' + c).is(':checked');
            if(isChecked) {
                $('.' + c).removeAttr('checked');
            }
            else {
                $('.' + c).attr('checked','checked');
            }
        }
        
        function unselect(id){
            $('.' + id).removeAttr('checked');
            $('#' + id).hide();
        }
        
        
        function validatefile(documentid){
            
            var FileSize = document.getElementById(documentid).files[0].size;
            if(FileSize>25*1024*1024) //In Bytes 
            {
                alert('File Size Should be less than 25 MB. Your Uploaded File Size is : '+(Math.round(FileSize/1048576)) + 'MB');
                document.getElementById(documentid).value = null;
                return false;
            }
        }
        
        function callspellchk()
        {
            var brow=((navigator.appName) +
                      (parseInt(navigator.appVersion)));
            var s= brow.indexOf("Microsoft Internet Explorer");
            if(s!=-1){
                alert("Please go to Tools > ieSpell if you're using Internet Explorer");
            }
        } 
        </script>
        
    </apex:form>
    
    
    <apex:form >
        <div  class="popup-container popup-large" style="width:1300px;">
            
            <apex:pageBlock title="View Uploaded Attachments">
                
                <table class="list"> 
                    
                    <thead class=""><tr class="headerRow">
                        <th class="headerRow">Attachment Link</th>
                        </tr></thead>
                    <apex:repeat value="{!List_attToDisplay}"  var="attachment" >
                        <tr class="dataRow"><td class="dataCell "><apex:commandlink action="/servlet/servlet.FileDownload?file={!attachment.Id}" target="_blank" value="{!attachment.Name}" style="color: #002776;font-size:13px;" />
                            </td></tr>
                    </apex:repeat>
                </table>
                
            </apex:pageBlock>
        </div>
    </apex:form>
    
    
</apex:page>