<!-- <apex:page showHeader="false" contentType="application/vnd.ms-excel#MassUploadContact.xls" cache="true" sidebar="false" controller="WCT_EventsBulkUploadContact">
    <apex:pageBlock > 
    <apex:repeat value="{!wrapper}" var="acc">

        <apex:pageBlockTable value="{!acc}" var="wrap" rendered="{!NOT(ISNULL(excelWrapper))}">
            <apex:column headerValue="Contact ID" value="{!wrap.Contactc}"/>
            <apex:column headerValue="Event Id" value="{!wrap.Eventc}"/>
            <apex:column headerValue="Error Message" value="{!wrap.Errormsgc}"/>
        </apex:pageBlockTable>
        </apex:repeat>                 
    </apex:pageBlock> 
</apex:page>-->

<apex:page showHeader="false" contentType="application/vnd.ms-excel#MassUploadContact.xls" cache="true" sidebar="false" controller="WCT_EventsBulkUploadContact">
    <apex:pageBlock > 
        <apex:pageBlockTable value="{!wrapper}" var="wrap" rendered="{!NOT(ISNULL(wrapper))}">
            <apex:column headerValue="Contact ID" value="{!wrap.Contactc}"/>
            <apex:column headerValue="Event Id" value="{!wrap.Eventc}"/>
            <apex:column headerValue="Error Message" value="{!wrap.Errormsgc}"/>
        </apex:pageBlockTable>                 
    </apex:pageBlock> 
</apex:page>