<apex:page standardController="WCT_Immigration__c" showHeader="False" sidebar="False" standardStylesheets="true">

<apex:outputpanel rendered="{!if(WCT_Immigration__c.H1B_PVL_Location_1__c!=', , ,',true,false)}"><b> PVL Location 1   :</b>  <apex:outputField value="{!WCT_Immigration__c.H1B_PVL_Location_1__c}"></apex:outputField></apex:outputpanel><br></br>
<apex:outputpanel rendered="{!if(WCT_Immigration__c.H1B_PVL_Location_2__c!=', , ,',true,false)}"><b> PVL Location 2   :</b>  <apex:outputField value="{!WCT_Immigration__c.H1B_PVL_Location_2__c}"></apex:outputField></apex:outputpanel><br></br>
<apex:outputpanel rendered="{!if(WCT_Immigration__c.H1B_PVL_Location_3__c!=', , ,',true,false)}"><b> PVL Location 3   :</b>  <apex:outputField value="{!WCT_Immigration__c.H1B_PVL_Location_3__c}"></apex:outputField></apex:outputpanel><br></br>
<apex:outputpanel rendered="{!if(WCT_Immigration__c.H1B_PVL_Location_4__c!=', , ,',true,false)}"><b> PVL Location 4   :</b><apex:outputField value="{!WCT_Immigration__c.H1B_PVL_Location_4__c}"></apex:outputField></apex:outputpanel><br></br>

</apex:page>