<apex:page Controller="PPDsearchCon" tabStyle="case">
<apex:form >
<apex:pageblock >
    
    <apex:outputText > Please enter the PPD First/last Name (or) candidate First/last Name (or) Recruiter Name</apex:outputText><br/><br/>
    <apex:outputText > Enter the name : &nbsp;</apex:outputText>
    <apex:inputText value="{!searchText}" /> &nbsp;
    <apex:commandButton value="Search" action="{!doSearch}" rerender="pb" status="stat"/> &nbsp;&nbsp;
    <apex:commandLink value="View all" action="{!viewall}" rerender="pb" status="stat"/> 
 </apex:pageblock>
  
  <apex:pageblock id="pb" >
    
    <apex:actionStatus id="stat">
    <apex:facet name="start">
         <apex:image value="{!$Resource.LoadingImage}"/>
    </apex:facet>
              
    <apex:facet name="stop">
        <apex:pageblocktable value="{!lstcon}" var="c" id="searchresults">
        <apex:column headerValue="CaseNumber">
        <apex:outputLink value="/{!c.id}" target="_blank">{!c.CaseNumber}</apex:outputLink>
        </apex:column>
        <apex:column value="{!c.FCPA_PPD_First_Name__c}"/>
        <apex:column value="{!c.FCPA_PPD_Last_Name__c}"/> 
        <apex:column value="{!c.FCPA_Candidate_First_Name__c}"/>
        <apex:column value="{!c.FCPA_Candidate_Last_Name__c}"/>
        <apex:column value="{!c.FCPA_Recruiter_Name__c}"/>
        <apex:column value="{!c.status}"/> 
    </apex:pageblocktable>
    </apex:facet>
    </apex:actionStatus>
</apex:pageblock> 

<c:PageBlockTableEnhancerADV targetPbTableIds="searchresults" pageSizeOptions="5,10,15,30" defaultPageSize="15" />

</apex:form>
</apex:page>