<apex:page StandardController="Project__c"  extensions="TRT_SA_ctrl">
    
    <script>
    function changevalue(valueid)
    {
        rendertable();
        // alert(valueid);
    var selectedid = document.getElementById("j_id0:j_id2:projanalytout");
       if(valueid=='AnalyticsPipeline'){
       document.getElementById("j_id0:j_id2:projanalytout").style.display='block';
            document.getElementById("j_id0:j_id2:searchanalyticsout").style.display='none';
       }
        if(valueid=='AnalyticsRefresh'){
       document.getElementById("j_id0:j_id2:projanalytout").style.display='none';
            document.getElementById("j_id0:j_id2:searchanalyticsout").style.display='block';
       }
        selectedid.value=valueid;
        //alert('secomd'+selectedid);
        
    }
    </script>
    <!-- Begin Default Content REMOVE THIS -->
    <apex:form >
        <div class="bPageTitle"><div class="ptBody">
            <div class="content"><img src="/s.gif" alt="Project" class="pageTitleIcon" title="Project"/>
                <h1 class="pageType">Projects<span class="titleSeparatingColon">:</span></h1>
                <h2 class="pageDescription"> Home</h2>
                <div class="blank">&nbsp;</div>
            </div><div class="links">
            <a href="javascript:openPopupFocusEscapePounds(%27https://help.salesforce.com/apex/htdoor?loc=help&amp;target=co_overview.htm&amp;section=CustomObjects&amp;language=en_US&amp;release=202.12.4&amp;instance=CS24%27, %27Help%27, 1024, 768, %27width=1024,height=768,resizable=yes,toolbar=yes,status=yes,scrollbars=yes,menubar=yes,directories=no,location=yes,dependant=no%27, false, false);" title="Help for this Page (New Window)">
                <span class="helpLink">Help for this Page</span><img src="/s.gif" alt="" class="helpIcon"/></a></div></div>
            <div class="ptBreadcrumb"></div></div>
        <div class="bFilterView"><span class="bFilter">
            <label for="fcf" style="text-align:left;font-weight:bold;padding-right:.69em;">
                <span class="assistiveText">*</span>View:</label>
            <span class="fBody">
                <apex:selectList id="fcf" multiselect="false" size="1"  onchange="changevalue(this.value)" value="{!selectval}" >
                    <apex:actionFunction name="rendertable" id="rendertable"  reRender="Panel1,Panel2"  />
                    <apex:selectOption id="AnalyticsPipeline"    itemValue="AnalyticsPipeline"/>
                    <apex:selectOption id="AnalyticsRefresh" itemValue="AnalyticsRefresh"/>
                </apex:selectList>
                
                <input value=" Go! " class="btn" name="go" onclick="changevalue(this.value)" title="Go!" type="button"/></span>
            <span class="fFooter">
               <a href='/a1V/e?retURL=%2Fa1V%2Fo&RecordType=01240000000QMpC'>New Project</a>
            </span></span></div>
    <!--    <apex:outputPanel>
            <apex:selectList size="1" value="{!selectedvalue}" >
                <apex:selectOptions value="{!picklistvalue}" ></apex:selectOptions>
            </apex:selectList>
            <a href='/a1V/e?retURL=%2Fa1V%2Fo&RecordType=01240000000QMpC'>New Project</a>
        </apex:outputPanel>-->
        <!--Projects_Analytics-->
      
        <apex:outputPanel id="Panel1">
        <apex:outputpanel id="projanalytout" Rendered="{!IF(selectval=='AnalyticsPipeline',true,false)}" >
            
            <c:PageBlockTableEnhancerADV targetPbTableIds="searchresults"/>
            
            <apex:pageBlock >
                <apex:pageBlockTable value="{!proana}" var="j" id="searchresults" styleClass="searchResultClass">
                    <apex:column headerValue="Project Name"><apex:outputLink value="/{!j.id}" target="_blank"><apex:outputField value="{!j.name}"/></apex:outputlink></apex:column>
                    <apex:column headerValue="Business Case"  >
                        <apex:outputField value="{!j.Business_Case__c}" />
                    </apex:column>
                    <apex:column headerValue="FSS"  >
                        <apex:outputField value="{!j.FSS__c}" />
                    </apex:column>
                   <apex:column headerValue="Closed date"  >
                        <apex:outputField value="{!j.Project_Completed_Date__c}" />
                    </apex:column>
                    <apex:column headerValue="Requestor"  >
                        <apex:outputField value="{!j.Requestor__c}" />
                    </apex:column>
                    <apex:column headerValue="Project Assigned To (Analyst)"  >
                        <apex:outputField value="{!j.Project_Assigned_To_Analyst__c}" />
                    </apex:column>
                    <apex:column headerValue="Project Assigned To (Manager)"  >
                        <apex:outputField value="{!j.Project_Assigned_To_Manager__c}" />
                    </apex:column>
                    <apex:column headerValue="Description"  >
                        <apex:outputField value="{!j.Description__c}" />
                    </apex:column>
                    <apex:column headerValue="Status"  >
                        <apex:outputField value="{!j.Status__c}" />
                    </apex:column>
                    <apex:column headerValue="Priority"  >
                        <apex:outputField value="{!j.Priority__c}" />
                    </apex:column>
                    
                    
                    
                    
                </apex:pageBlockTable> 
            </apex:pageBlock>
                </apex:outputpanel>
        </apex:outputPanel>
           
        
        <!--SearchAnalytics-->
         <apex:outputPanel id="Panel2">
             
            <apex:outputPanel id="searchanalyticsout" rendered="{!IF(selectval=='AnalyticsRefresh',true,false)}">
          <c:PageBlockTableEnhancerADV targetPbTableIds="searchresults"/>
                                <apex:pageBlock >
                                    <apex:pageBlockTable value="{!pro}" var="j" id="searchresults" >
                                        <apex:column headerValue="Project Name"><apex:outputLink value="/{!j.id}" target="_blank"><apex:outputField value="{!j.name}"/></apex:outputlink></apex:column>
                                        <apex:column headerValue="Business Case"  >
                                            <apex:outputField value="{!j.Business_Case__c}" />
                                        </apex:column>
                                        <apex:column headerValue="Function"  >
                                            <apex:outputField value="{!j.FSS__c}" />
                                        </apex:column>
                                        <apex:column headerValue="Applicable Regions"  >
                                            <apex:outputField value="{!j.Applicable_Regions__c}" />
                                        </apex:column>
                                         <!--<apex:column headerValue="FSS"  >
                                            <apex:outputField value="{!j.FSS__c}" />
                                        </apex:column>-->
                                        <apex:column headerValue="Key Stakeholders"  >
                                            <apex:outputField value="{!j.Key_Stakeholder_s__c}" />
                                        </apex:column>
                                         <apex:column headerValue="Refresh frequency"  >
                                            <apex:outputField value="{!j.Refresh_frequency__c}" />
                                        </apex:column>
                                       <apex:column headerValue="Project Assigned To (Manager)"  >
                                            <apex:outputField value="{!j.Project_Assigned_To_Manager__c}" />
                                        </apex:column>
                                       
                                       
                                        
                                    </apex:pageBlockTable> 
                                </apex:pageBlock>
                </apex:outputPanel>
                            </apex:outputPanel>
            
           
    </apex:form>
</apex:page>