<apex:page controller="TRT_Reporting_ctrl" showHeader="false" id="learn" >
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css"/> 
    <c:TODFormHeader logo="true">  </c:TODFormHeader>
    <style>
        .TOD-UI {
    max-width: 1139px;
    }
    .radio{
        width:50%
    }
         #Reportcolumn td{
        color: #7a7a7a!important;
        font-size:14px;
        font-family: "OpenSans",sans-serif;
        }
        #containshead {
        color: #7a7a7a!important;
        font-size:14px;
        }
        #dialog-message dd{
        margin:0px 0px 0px 0px !important;
         color: #7a7a7a!important;
        font-size:14px;
        }
    </style>
 <!--  <style>
        .multiSelectPicklistRow td select
        {user
        width:250px !important;
        min-width:250px !important;
        max-width:250px !important;
        }
        .pblock
        {
        }
        .loading-icon 
        {
        background-image: url(/img/loading.gif);
        width: 16px;
        height: 16px;
        }
        a.alpha-link 
        {
        font-weight: normal;
        font-size: 91%;
        padding: 0 4px;
        color: #015BA7 !important;
        }
        a.alpha-link+a.alpha-link 
        {
        border-left: 1px solid #CFCECE;
        }
        a.alpha-link:hover 
        {
        background-color: #e0f5fc !important;
        }
        a.alpha-select 
        {
        font-weight: bold;
        text-decoration: none;
        background-color: #C6E1FF;
        color: #000000 !important;
        }
        .search-block 
        {
        text-align: center;
        }
        .search-block input 
        {
        margin: 0px 15px 0px 5px;
        }
        .search-block-button 
        {
        min-width: 110px;
        }
        .process-block 
        {
        text-align: center;
        margin-top: 10px;
        }
        .process-block input 
        {
        margin: 0px 15px;
        }
        .process-block-button 
        {
        min-width: 110px;
        }
        .page-buttons input 
        {
        min-width: 110px;
        }
        table.exceptionText td 
        {
        font-style:normal;
        font-size:16px;
        font-weight:normal;
        text-align:center;
        color:#94D400;
        }
        input.watermark 
        { 
        color: #999; 
        }
        select:disabled
        {
        width:250px;
        font-size: 14px;
        -webkit-box-shadow: 0 2px 6px #a2a0a0;
        border-radius: 6px;
        border: 1px #ccc solid;
        padding: 0.2em 2em 0.2em 0.5em;
        }
        select
        {
        width:250px;
        font-size: 14px;
        -webkit-box-shadow: 0 2px 6px #a2a0a0;
        border-radius: 6px;
        border: 1px #ccc solid;
        padding: 0.2em 2em 0.2em 0.5em;
        }
        textarea
        {
        width: 499px !important;
        height: 85px !important;
        width:250p
        font-size: 14px; !important;
        -webkit-box-shadow: 0 2px 6px #a2a0a0;
        border-radius: 6px;
        border: 1px #ccc solid;
        padding: 0.2em 2em 0.2em 0.5em;
        }
        h3 
        {
        
        font-size: 1.3em; 
        font-weight: bold; 
        margin-bottom: 0.2em;
        }
        .errormessages li
        {
        color:#d74c3b;
        }
        .errorMsg
        {
        color:#d74c3b;
        padding:5px;
        }
         .ui-widget-header
        {
        background: #0c2366 !important;
        }
        .ui-dialog .ui-dialog-title
        {
        Color:White;
        }
        .dateFormat{
        display:none;
        }
        .datePicker select
        {
        width:115px;
        }
        
    </style>-->
   
    
    <script>
    /*
        Intializing the dialog box - jQuery UI.
                      
    $(function() {
        $( ".tooltipEvent" ).dialog({
            
            modal: true,
            autoOpen: false,
            width : 750,
            buttons: {
                CLOSE: function() {
                    $( this ).dialog( "close" );
                }
            }
        });
         $( "#containshead" ).dialog({
      resizable: false,
      height:180,
      modal: true,
      autoOpen: false,       
      buttons: {
        Yes: function() {
          
           window.location.href ="{!$Label.Site_Base_URL}internal/Frontdoor?key=TRT_Intake_Form";
        },
        No: function() {
          $( this ).dialog( "close" );
        }
      }
    });
    }); */
    
     $(function() {
        $( ".tooltipEvent" ).dialog({
          
            modal: true,
            autoOpen: false,
            width : 750,
            buttons: {
                CLOSE: function() {
                    
                    $( this ).dialog( "close" );
                }
            }
        });
         $( "#containshead" ).dialog({
      resizable: false,
      height:180,
      modal: true,
      autoOpen: false,       
      buttons: {
        Yes: function() {
          
           window.location.href ="{!$Label.Site_Base_URL}internal/Frontdoor?key=TRT_Intake_Form";
        },
        No: function() {
          $( this ).dialog( "close" );
        }
      }
    });
    });
    
    function PIIdetails(){
        
        $('#containshead').dialog("open");
        
    }    
    function datacolumns(){
       
           $('#Reportcolumn').dialog("open");
        
    }    
    
    function uploadDocument(documentid){
        
        var FileSize = document.getElementById(documentid).files[0].size;
        //  alert(FileSize );
        if(FileSize>25*1024*1024) //In Bytes 
        {
            alert('File Size Should be less than 25 MB. Your Uploaded File Size is : '+(Math.round(FileSize/1048576)) + 'MB');
            return false;
        }
        
    }
     (function() {
    var windowOnload = window.onload;
    window.onload = function() {
      if (windowOnload) windowOnload();
      var select = document.getElementById('calYearPicker');
      if (!select) return;

      select.innerHTML = '';
      var startYear = new Date().getFullYear() - 15;
      for (var year = startYear; year < startYear + 105; year++) {
        select.options[select.options.length] = new Option(year, year);
      }
    }
  }());
    </script>
    <apex:form id="SAPReqForm">
        <apex:pageBlock >
       <div class="content-wrapper">       
            <div class="TOD-UI" id="main-content" >
                <div class="content">
                    <header class="Title">
                        <hl>Learning Catalog Form<a href="{!$Label.Site_Base_URL}internal/Frontdoor?key=TRT_Intake_Form" style="float:right;color: #fff!important;text-decoration:none;font-size: 14px!important;display: block;margin-bottom: 20px;margin-top: 10px;">
                            HOME</a></hl>
                    </header>
                    <section id="myinformation-content">
                        <div class="disclaimer">
                            <p>
                                <strong>Note:</strong>
                                Fields marked with asterisk (<span style="color:red">*</span>) are mandatory </p>
                        </div>
                        <apex:pageMessages ></apex:pageMessages>
                        <article>
                            <header>
                                <h3 style="font-size:16px;">Report Requirements</h3>
                            </header>
                            
                           
                            
                             <div class="row">
                                         <dl class="col-1">
                                                    <dt>State the business need for the data request <span style="color:red;font-size:larger;">*</span> </dt>
                                                
                                                    <dd  >
                                                        <apex:inputField id="bussiness-name" required="true" value="{!trtReport.TRT_Business_need_for_the_data_request__c}" html-placeholder="Please describe the purpose for which the data has been requested">
                                                        </apex:inputField>
                                                    </dd>
                                 </dl>
                                    <dl class="col-1">
                                                   <dt>Select the date range of your report <span style="color:red;font-size:larger;">*</span></dt>
                                               
                                                <dd>
                                                        
                                                        <apex:actionregion >
                                                            <apex:selectRadio styleclass="radio" id="Calendar" required="true" value="{!trtReport.TRT_date_rang_fiscal__c}"  >
                                                                <apex:selectOption itemvalue="None" itemLabel="None"/>
                                                                <apex:selectOption itemValue="False" itemlabel="Fiscal Year"/>
                                                                <apex:selectOption itemValue="True" itemlabel="Calendar Year"/>
                                                                <apex:actionSupport event="onclick" reRender="DateRange,fiscalyear,criteria" status="rStatus"/>
                                                            </apex:selectRadio>
                                                        </apex:actionregion>
                                                        </dd>
                                 </dl>
                                       
                                   
                                    
                                    <apex:outputPanel id="datePan">
                                        <apex:outputPanel >
                                                                                    
                                            <apex:outputPanel id="DateRange">
                                                <apex:outputpanel rendered="{!trtReport.TRT_date_rang_fiscal__c='True'}" >
                                                     
                                                        <dl class="col-1">
                                                                <dt >Calendar Year <span style="color:red;font-size:larger;">*</span> </dt>
                                                           
                                                            
                                                                <dd >From
                                                                    <apex:inputField html-placeholder="Start Date" style="width:50%;" value="{!trtReport.TRT_Start_Date_RM__c}" >
                                                                    <apex:actionSupport event="onchange" action="{!Enddatecheck}" reRender="DateRange" /></apex:inputField> 
                                                            </dd>
                                                    </dl>
                                                    <dl class="col-1" >
                                                        <dt></dt>
                                                            <dd >To
                                                            <apex:inputField html-placeholder="End Date" style="width:50%;"  value="{!trtReport.TRT_End_Date_RM__c}"  >
                                                                    <apex:actionSupport event="onchange" action="{!Enddatecheck}" reRender="DateRange" /></apex:inputField>
                                                            </dd>
                                                         </dl>
                                                             
                                                   
                                                    
                                                    
                                                </apex:outputpanel>
                                            </apex:outputPanel>
                                            
                                            <apex:outputPanel id="fiscalyear">
                                                <apex:outputPanel rendered="{!trtReport.TRT_date_rang_fiscal__c='False'}">
                                                    
                                                  
                                                        <dl class="col-1">
                                                                <dt>Fiscal Year <span style="color:red;font-size:larger;">*</span></dt>
                                                          
                                                                <dd>
                                                                    <apex:inputField style="bottom:20px;" id="fy" required="true" value="{!trtReport.TRT_Fiscal_Year_TA__c}"/>
                                                            </dd>
                                                       </dl>
                                                    
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                            
                                            
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                            
                             <apex:outputPanel id="criteria">
                                <apex:outputPanel rendered="{!if(AND(trtReport.TRT_date_rang_fiscal__c!='None',trtReport.TRT_date_rang_fiscal__c!=''),true,false )}" >
                                    
                                     
                                        <dl class="col-1">
                                                   <dt>If date criteria requested, should date be based on <span style="color:red;font-size:larger;">*</span></dt>
                                                
                                                    <dd >
                                                           <apex:selectRadio styleclass="radio" style="width:100%;" required="true" id="con" value="{!trtReport.TRT_Date_range_consideration_Lrn_Ctlg__c}"  >
                                                    <apex:selectOption itemValue="Course creation date" itemlabel="Course creation date"/>
                                                    <apex:selectOption itemValue="Course available date" itemlabel="Course available date"/>
                                                </apex:selectRadio>
                                                    </dd>
                                         </dl>
                                   
                                   
                                </apex:outputPanel>
                            </apex:outputPanel>
                                    
                           
                                        <dl class="col-1">
                                                   <dt>Select the type of course <span style="color:red;font-size:larger;">*</span></dt>
                                                
                                                    <dd class="tooltip">
                                                         <apex:inputfield id="requestorName" required="true" value="{!trtReport.TRT_Type_of_courses_Lrn_Catlg__c}" />
                                           <div class="tooltip-text">
                                               Select 'All types of courses' or one/multiple type of courses required for the report.
                                                        </div>
                                            </dd>
                                            
                                              
                                </dl>
                                   
                                                       
                                       <dl class="col-1">
                                                    <dt>Do you need offering details?</dt>
                                                
                                                    <dd >
                                                       <apex:selectRadio styleclass="radio" id="off" value="{!trtReport.TRT_Include_offering_Details_Lrn_Ctlg__c}" >
                                            <apex:selectOption itemValue="True" itemlabel="Yes"/>
                                            <apex:selectOption itemValue="False" itemlabel="No"/>
                                        </apex:selectRadio> 
                                                    </dd>
                                                           </dl>
                                   
                                                       
                           
                                        
                                                <dl class="col-1">
                                                   <dt>Add any additional comments or requirements</dt>
                                                
                                                    <dd class="tooltip">
                                                         <apex:inputfield value="{!trtReport.TRT_Other_Requirement_details_Lrn_Ctlg__c}" />
                                                   <div class="tooltip-text">
                                                     Catalog report includes course information based on course number or Type of courses.Please specify, if you need anything different from that such as course details related to specific function.  
                                                        </div>
                                                    </dd>
                                               
                                             
                                </dl>
                                   
                           
                            <apex:actionRegion >
                                <apex:outputPanel id="deldate">
                                    
                                    
                                        <dl class="col-1">
                                                     <dt>Distribution list in case the report should be sent to more than one recipient</dt>
                                                
                                                    <dd  >
                                                       <apex:inputfield value="{!trtReport.TRT_Distribution_List_LE__c}" />
                                                    </dd>
                                        </dl>
                                    
                         
                                    
                                        <dl class="col-1">
                                                     <dt>Date report is needed</dt>
                                                
                                                    <dd  >
                                                       <apex:inputField style="width:50%;" id="dd" onfocus="DatePicker.pickDate(false, this , false);" value="{!trtReport.TRT_Delivery_Date_lrng__c}" >
                                                    <apex:actionSupport event="onchange" action="{!Enddatecheck}" reRender="deldate" /></apex:inputField>
                                                    </dd>
                                        </dl>
                                   
                           
                                </apex:outputPanel>
                            </apex:actionRegion>  
                            <!-- added by deepthi start -->
                            <!-- added by deepthi -->
                           
                                <dl class="col-1">
                                            <dt>Standard information list</dt>
                                        
                                        <dd class="tooltip">
                                        <apex:commandButton styleClass="butn btn-blue" value="Data columns" onclick="datacolumns();return false;" />
                                            <div class="tooltip-text">
                                           Report will include the columns specified in the standard information list. 
                                            </div>
                                    </dd>
                                     </dl>
                            
                            <!-- added by deepthi -->
                           
                                        <dl class="col-1">
                                                    <dt>Describe the additional fields required </dt>
                                                
                                                    <dd class="tooltip">
                                                        <apex:inputField id="fuction" html-placeholder="If you need any additional fields other than the columns provided in the standard information list, please specify the column names in the text box." value="{!trtReport.TRT_Additional_Fields_Required__c}"/>
                                                  <div class="tooltip-text">
                                               Example: GE-Personal Id,  Personnel number, etc.       
                                            </div>
                                               
                                          </dd>
                                </dl>
                                   
                                                      
                            
                                        <dl class="col-1">
                                                     <dt>File attachment, if any </dt>
                                                
                                                    <dd  >
                                                       <apex:inputFile id="fileToUpload" onChange="uploadDocument('{!$Component.fileToUpload}');" value="{!fileBody}" filename="{!fileName}" /> 
                                                    </dd>
                                </dl>
                                   
                            <div id="Reportcolumn" title="Standard information list" class="tooltipEvent" >
                                <table border="1" cellspacing="0" cellpadding="0" width="100%" > 
                                    <tbody>
                                        <tr>
                                            <td width="29%" nowrap="" ><b style="color: #222222;">Column Name</b></td>
                                            <td width="70%" nowrap="" ><b style="color: #222222;">Sample Value</b></td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_NUMBER</td>
                                            <td width="70%" nowrap="" valign="bottom" >GLLN101</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_TITLE</td>
                                            <td width="70%" nowrap="" valign="bottom" >Introduction to Construction Project Lifecycle and Delivery Methods</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_CREATION_DATE</td>
                                            <td width="70%" nowrap="" valign="bottom" >7/27/2012</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_AVAILABLE_DATE</td>
                                            <td width="70%" nowrap="" valign="bottom" >7/27/2012</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_DISPLAY_STATUS</td>
                                            <td width="70%" nowrap="" valign="bottom" >Display_For_Web</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_DISCONTINUE_DATE</td>
                                            <td width="70%" nowrap="" valign="bottom" >7/27/2016</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_SECURITY_DOMAIN</td>
                                            <td width="70%" nowrap="" valign="bottom" >Global Common</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_MEDIA</td>
                                            <td width="70%" nowrap="" valign="bottom" >Course</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_DESCRIPTION</td>
                                            <td width="70%" nowrap="" valign="bottom" >This course provides an overview of the issues facing the construction industry. Learners will become familiar with a variety of project delivery options, and the advantages and disadvantages of each to both the project owner and the contractor.<br />
                                                <br />
                                                The course is recommended for all Deloitte professionals working on Capital Projects engagements.</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >ACTIVE_STATUS</td>
                                            <td width="70%" nowrap="" valign="bottom" >Active</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_CATEGORY</td>
                                            <td width="70%" nowrap="" valign="bottom" >Valuation Services</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >FULL_DELIVERY_TYPE</td>
                                            <td width="70%" nowrap="" valign="bottom" >E-Learning</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >CPE_NUMBER</td>
                                            <td width="70%" nowrap="" valign="bottom" >84-7696</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_SPONSOR</td>
                                            <td width="70%" nowrap="" valign="bottom" >learning.net</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >INTENDED_AUDIENCE</td>
                                            <td width="70%" nowrap="" valign="bottom" >deloitte professionals working on capital projects engagements</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_CONTACT</td>
                                            <td width="70%" nowrap="" valign="bottom" >diogo, carla marie</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_VENDOR_NAME</td>
                                            <td width="70%" nowrap="" valign="bottom" >Learning.Net (External)</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >CPE_HOURS</td>
                                            <td width="70%" nowrap="" valign="bottom" >1.5</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >CPE_SUBJECT_AREA</td>
                                            <td width="70%" nowrap="" valign="bottom" >Spec. Knowledge &amp; Apps</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >LEARNING_HOURS</td>
                                            <td width="70%" nowrap="" valign="bottom" >1.5</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >COURSE_OWNER</td>
                                            <td width="70%" nowrap="" valign="bottom" >Deloitte Financial Advisory Services</td>
                                        </tr>
                                        
                                        <tr>
                                            <td width="29%" nowrap="" >DDT</td>
                                            <td width="70%" nowrap="" valign="bottom" >NatDevLocDel</td>
                                        </tr>
                                        
                                    </tbody>
                                </table> 
                                
                                
                                
                            </div> 
                            
                           <div id="containshead" title="Cancel request" class="row" >
                                        <p>
                                            Are you sure you want to cancel the request?
                                        </p>
                                        
                                    </div>
                            <!-- added by deepthi end-->
                            
                            
                           
                            </div>
                    </article>
                 <footer>
                     <div align="center">
                         
                    
                      <apex:outputPanel id="pBlock">
                             
                              <apex:commandButton value="Cancel"  onclick="PIIdetails();return false;" styleClass="btn-grey" id="grey-btn" />
                             <apex:commandButton value="Submit"  action="{!submit}" styleClass="butn btn-blue"  id="blue-btn"  />
                         </apex:outputPanel>  
                          </div>
                 </footer>
               
               
                 </section>
        </div>
            </div>
        </div>  
            </apex:pageBlock>
    </apex:form> 
    
</apex:page>