<apex:page sidebar="false"  cache="true" showHeader="false" controller="TRT_RequestorView_ctrl" id="Reqviewpg">
<apex:stylesheet value="{!$Resource.CommonCSS}"/>
<apex:stylesheet value="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"/>
<link href="{!URLFOR($Resource.StarRatingPlugin, 'css/star-rating.css')}" media="all" rel="stylesheet" type="text/css" />
<script src="{!URLFOR($Resource.Jquery_Core_Plugin, 'jquery-1.9.1.min.js')}"></script>
<script src="{!URLFOR($Resource.StarRatingPlugin, 'js/star-rating.min.js')}" type="text/javascript">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js">
</script>
  
    <c:TODFormHeader logo="true" >  </c:TODFormHeader> 
   <style>
       
       .TOD-UI {
    max-width: 1139px;
    }
       .apexp .bPageBlock.apexDefaultPageBlock .pbBody  
       {
    margin: 20px 0px 20px;
    }
     .TOD-UI select {
       width: 64px;
    display: inline-block;
    }
    .TOD-UI input[type="text"]{
     display: inline-block;
   
    }
    select {
    -webkit-appearance: menulist; 
    }
    
  .ui-dialog .ui-dialog-titlebar-close span
       {
    margin: -9px !important;
    }
    .ui-dialog
    {
    z-index: 101;
    }
    .pblock
    {
    }
    .loading-icon 
    {
    background-image: url(/img/loading.gif);
    width: 16px;
    height: 16px;
    }
    a.alpha-link 
    {
    font-weight: normal;
    font-size: 91%;
    padding: 0 4px;
    color: #015BA7 !important;
    }
    a.alpha-link+a.alpha-link 
    {
    border-left: 1px solid #CFCECE;
    }
    a.alpha-link:hover 
    {
    background-color: #e0f5fc !important;
    }
    a.alpha-select 
    {
    font-weight: bold;
    text-decoration: none;
    background-color: #C6E1FF;
    color: #000000 !important;
    }
    .search-block 
    {
    text-align: center;
    }
    .search-block input 
    {
    margin: 0px 15px 0px 5px;
    }
    .search-block-button 
    {
    min-width: 110px;
    }
    .process-block 
    {
    text-align: center;
    margin-top: 10px;
    }
    .process-block input 
    {
    margin: 0px 15px;
    }
    .process-block-button 
    {
    min-width: 110px;
    }
    .page-buttons input 
    {
    min-width: 110px;
    }
    table.exceptionText td 
    {
    font-style:normal;
    font-size:16px;
    font-weight:normal;
    text-align:center;
    color:#94D400;
    }
    input.watermark 
    { 
    color: #999; 
    }
    .errormessages > li
    {
    
    color:red;
    }
    .Feedbackheading
    {
     background-color: #cccccc;
   
    }
    
    .error
    {
    color : red  !important;
    font-size:12px;
    }
    
 
    
     .ui-dialog-titlebar {
    
    background:#81bc00;
    color:white;
    }
    .stylebutton
    {
     background: #92d050;
background-image: -webkit-linear-gradient(top, #92d050, #00b0f0);
background-image: -moz-linear-gradient(top, #92d050, #00b0f0);
background-image: -ms-linear-gradient(top, #92d050, #00b0f0);
background-image: -o-linear-gradient(top, #92d050, #00b0f0);
background-image: linear-gradient(to bottom, #92d050, #00b0f0);
-webkit-border-radius: 28;
-moz-border-radius: 28;
border-radius: 28px;
font-family: Arial;
color: #ffffff;
font-size: 20px;
padding: 10px 20px 10px 20px;
text-decoration: none;
    }
       .ui-widget {
     border-radius: 8px;
    font-size: 1.0em;
   }
    
 .ui-widget input:hover{
    color: #575757;
    background-color: #e6e6e6 !important;
    border-color: #9f9f9f;
}
  .todHeader {
       width:122%;
       }
    
</style>
    
<apex:form id="TheForm">
   
  <!--  <title="viewReopen Page"/> -->
    <div class="content-wrapper">       
            <div class="TOD-UI" id="main-content" >
                <div class="content">
            
            
            
            <section id="myinformation-content" style="width:1400px;">
               
                
                <header class="Title">
                    <hl>My Request Status</hl></header>
                
                <div class="disclaimer">
                <apex:pageMessages ></apex:pageMessages>
                <apex:pageBlock id="Listview" >                  
                    
                        
                        <c:PageBlockTableEnhancerADV targetPbTableIds="Listviewtable" paginate="true" defaultPageSize="10" pageSizeOptions="5,10,20,30,50,100"/>
                       
                        <apex:pageBlockTable style="font-size: 12px" value="{!caseFormWrapperList}" var="Rep" id="Listviewtable" >
                            <apex:column width="10%" style="font-color:#81bc00;" value="{!Rep.caseform.Name}" id="Reqnamelist"/>
                       <apex:column headerValue="Clone"> <apex:commandLink action="{!clonerequest}" value="Clone">
                               <apex:param name="csename" id="cse" value="{!Rep.caseform.id}"/>
                            </apex:commandLink>
                            </apex:column>
                            <apex:column style="color:#81bc00;" headerValue="Description" value="{!Rep.caseform.TRT_Business_need_for_the_data_request__c}" />
                            <apex:column value="{!Rep.caseform.TRT_Request_Status__c}"/>
                           <apex:column headerValue="ReOpen Request"  id="reopenlist">
                                <apex:commandLink styleClass="btn" id="Reopen" reRender="reopencomm" rendered="{!IF(AND(OR(Rep.caseform.TRT_Request_Status__c='Closed With Report',Rep.caseform.TRT_Request_Status__c='Closed Without Report'),Rep.caseform.TRT_ReOpen_Comment__c==null,Rep.caseform.Calculate_reopen_days__c<=10),true,false)}" value="Reopen" action="{!Hidecomment}">
                                    <apex:param id="listparam" name="acctidvalue" value="{!Rep.caseform.id}"/>
                                </apex:commandLink> 
                            </apex:column> 
                            <apex:pageMessages ></apex:pageMessages>
                            
                            <apex:column headerValue="Comment"  >
                                <apex:outputPanel id="reopencomm">
                                    
                                    <apex:inputText html-placeholder="ReOpen Reason"  value="{!comment}"  rendered="{!setBtnValue == Rep.caseform.id}"/>
                                    <apex:commandButton value="Submit" rendered="{!setBtnValue == Rep.caseform.id}" action="{!sendRequest}"  >
                                        
                                    </apex:commandButton>                                     </apex:outputPanel>
                                
                            </apex:column>
                             <apex:column value="{!Rep.caseform.TRT_Assigned_Owner__c}" />
                        <apex:column value="{!Rep.caseform.CreatedDate}" />
                            <apex:column headerValue="Download"  id="link">
                                <apex:outputLink html-download="{!Rep.attachmentId}" value="{!URLFOR($Action.Attachment.Download,Rep.attachmentId)}" rendered="{!IF(AND(Rep.attachmentId != null,Rep.caseform.TRT_Request_Status__c='Closed With Report'),true,false)}" >
                                    <apex:image id="theImage" value="{!$Resource.TRT_Download}" />
                                </apex:outputLink>
                            </apex:column>
                            <apex:column headerValue="Feedback"  width="18%"> 
                                <apex:outputPanel rendered="{!IF(Rep.caseform.TRT_Request_Status__c='Closed With Report',true,false)}" >
                                    <input id="{!Rep.caseform.id}" data-show-caption="false"  onchange="rateAsset(event);" value="{!Rep.caseform.TRT_Feedback__c}" data-disabled="{!IF(Rep.caseform.TRT_Feedback__c!=null,true,false)}" type="number" class="rating" min="0" max="5" step="1"  data-size="xs" data-show-clear="false"  />
                                </apex:outputPanel>
                            </apex:column>
                            
                            
                            
                            
                            
                        </apex:pageBlockTable>
                   
                            
                       
                   
                </apex:pageBlock> 
                    </div>    
               
          
            <header class="Title">
                    <hl>My Questions status</hl></header>
            
                    <div class="disclaimer">
                        <apex:pageBlock id="Listviews" >  
                            <apex:pageBlockTable value="{!QuestionsInfo}" var="Rep" id="Listviewtable" >
                                <apex:column headerValue="CaseNumber"  >
                                    <apex:outputText value="{!Rep.CaseNumber}" />
                                </apex:column>
                                <apex:column headerValue="Requestor Suggestions"  >
                                    <apex:outputText value="{!Rep.TRT_Requestor_Suggestions__c}" />
                                </apex:column>
                                <apex:column headerValue="Case Closure Comments"  >
                                    <apex:outputText value="{!Rep.WCT_ResolutionNotes__c}" />
                                </apex:column>
                                <apex:column headerValue="status"  >
                                    <apex:outputText value="{!Rep.Status}" />
                                </apex:column>
                            </apex:pageBlockTable>
                        </apex:pageBlock>

                    </div>
                
          
            
           
            
                       
                    </section>
        </div>   
        </div>         
    </div> 
      <!--added for popup-->
             <div id="containshead" title="Your Feedback" >
            <apex:inputHidden id="currentReqCase" value="{!currentFeedBackId}" />
            
            <!-- <input type="hidden" id="currentFeedback" value=""/> -->
            <table  cellspacing="0" cellpadding="0" > 
                <tbody>
                    
                    <tr>
                        <td valign="top" ><p Style="color:#A0A0A0 "><b>Overall Rating</b></p>
                            
                            <p Style="color:#A0A0A0 ">Hover and select if you want to edit your overall rating</p></td>
                        <td class="overall" > <input id="currentFeedback"  type="number" class="rating" min="0" max="5" step="1"  data-size="xs" data-show-clear="false" data-show-caption="false" required="true"/>
                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" valign="top" class="Feedbackheading"><p ><b>Please tell us how you would rate the following elements of the Talent Service you received <br/>in terms of</b></p></td>
                    </tr>
                    
                    <tr>
                        <td valign="top"  ><p Style="color:#A0A0A0 "><b>Promptness</b></p>
                            
                            <p Style="color:#A0A0A0 ">Please rate the speed and efficiency at which we were able to respond to your request</p></td>
                        <td > <input id="promptness"   type="number" class="rating" min="0" max="5" step="1"  data-size="xs" data-show-clear="false" data-show-caption="false" required="true"/>
                            <apex:inputHidden id="promptnessValue" value="{!promptness}"/>
                        </td>
                    </tr>
                    
                    <tr>
                        <td valign="top" ><p Style="color:#A0A0A0 "><b>Accuracy</b></p>
                            
                            <p Style="color:#A0A0A0 ">Please rate the detail and thoroughness of the response to your request</p></td>
                        <td><input id="accuracy"   type="number" class="rating" min="0" max="5" step="1"  data-size="xs" data-show-clear="false" data-show-caption="false" />
                            <apex:inputHidden id="accuracyValue" value="{!accuracy}"/>
                        </td>
                    </tr>
                    
                    <tr>
                        <td valign="top" ><p Style="color:#A0A0A0 "><b>Helpfulness</b></p>
                            
                            <p Style="color:#A0A0A0 ">Please rate the provided resolution and/or options that are in your best interest</p></td>
                        <td> <input id="helpfulness"   type="number" class="rating" min="0" max="5" step="1"  data-size="xs" data-show-clear="false" data-show-caption="false" />
                            <apex:inputHidden id="helpfulnessValue" value="{!helpfullness}"/>
                        </td>
                    </tr>
                    
                    <tr>
                        <td colspan="2" valign="top" class="Feedbackheading">
                            <p ><b>Please share additional feedback</b></p></td>
                    </tr>
                    
                    <tr>
                        <td colspan="2" valign="top" ><apex:inputTextarea id="comment"  style=" padding: 10px;border: solid 5px #c9c9c9;transition: border 0.3s;width:100%;height: 120px;"  value="{!commentbox}" /></td>
                    </tr>
                    <tr style="height:15px"></tr>
                    <tr><td  valign="top" style="position:relative;padding-left:38%">
                         <input type="Submit" class="btn-grey" style="border-radius: 5px;border:1px solid #bebebe;font-weight: bold;width: 26%;height: 32px;font-family: Arial,Helvetica,sans-serif;background-color: #ffffff;" placeholder="First name" value="Cancel" onclick="myfucnclose();" />
                    <input type="Submit" class="butn btn-blue" style="border-radius: 5px;font-weight: bold;width: 26%;height: 32px;font-family: Arial,Helvetica,sans-serif;" placeholder="First name" value="Submit" onclick="myfucn();" />
                                          
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    
</apex:form>
    
 <script>
    
    function myfucn()
    {
        
        
        var id = $('[id$="currentReqCase"]').val();
        // alert('id is'+id);
        var acuracy = $('[id$="accuracyValue"]').val();
        // alert('id2 is'+acuracy);
        var promptness = $('[id$="promptnessValue"]').val();
        var helpfulness = $('[id$="helpfulnessValue"]').val();
        var comment = $('[id$="comment"]').val();
        var feedback = $('#currentFeedback').val();
        var errorboolean= false;
        if(acuracy == '' )  {
            addError($('[id$="accuracyValue"]'), 'Provide your feedback for our accuracy');
            errorboolean= true;
        }
        else{
            removeError($('[id$="accuracyValue"]'));
        }
        if( promptness == '' )  {
            addError($('[id$="promptnessValue"]'), 'Provide your feedback for our promptness');
            errorboolean= true;
        }
        else{
            removeError($('[id$="promptnessValue"]'));
        }
        if( helpfulness == '' )  {
            addError($('[id$="helpfulnessValue"]'), 'Provide your feedback for our helpfulness');
            errorboolean= true;
        }
        else{
            removeError($('[id$="helpfulnessValue"]'));
        }
        if(comment == '')  {
            addError($('[id$="comment"]'), 'Provide your comment');
            errorboolean= true;
        }
        else{
            removeError($('[id$="comment"]'));
        }
        if(errorboolean==false){
            
            
            TRT_RequestorView_ctrl.submit(id, acuracy,promptness,helpfulness,feedback, comment,  function(result, event) 
                                          {
                                              if (event.type == 'exception') {
                                                  
                                                  
                                                  alert(event.message);
                                              } else {
                                                  
                                                  //alert(""+a);
                                                  
                                                  
                                                  
                                                  location.reload();
                                              }
                                          }, {
                                              buffer: false,
                                              escape: true,
                                              timeout: 30000
                                          });
            
            
        }}
    
    //error
    function addError(jQueryObject, message)
    {
        if(jQueryObject.parent().find('div.error').length != 0)
        {
            jQueryObject.parent().find('div.error').each(function(){
                $(this).html(message);
            });
        }
        else
        {
            jQueryObject.parent().append('<div class="error">'+message+' </div>');
        }
    }
    
    function removeError(jQueryObject)
    {
        if(jQueryObject.parent().find('div.error').length != 0)
        {
            jQueryObject.parent().find('div.error').each(function(){
                $(this).html('');
            });
            
        }
    }
    
    //rating
    $(document).ready(function(){
        
        
        $('.rating').on('rating.change', function(event, value, caption) {
            
            var idtemp= $(this).attr('id');
            $("[id$="+idtemp+"Value]").val(value);
        });
    }); 
    
    $(function() {
        
        $( "#containshead" ).dialog({
            resizable: false,
            width:'auto',
            height:'auto',
            modal: true,
            autoOpen: false, 
            
            
        });
    });
    function myfucnclose(){
        
       $('#containshead').dialog("close");
         location.reload();
        }
    function rateAsset(event) {
        var a = event.target.id;
        $('[id$="currentReqCase"]').val(a);
        // $('#ovarallValue').val(value);
        $('#containshead').dialog("open");
        $('#' + a).on('rating.change', function(event, value1, caption) {
            console.log("test");
            $('#containshead').dialog("open");
            $('#currentFeedback').val(value1);
            var j = value1*20;
            $('.overall .rating-stars').css( 'width', j+'%');
            
            
        });
    }
    </script>
</apex:page>