<apex:page showHeader="false" sidebar="false"  cache="true"  controller="WCT_H1BCAP_PractitionerController">
    <apex:include pageName="SitesTodHeader"/>
    <apex:stylesheet value="{!URLFOR($Resource.JquerySites, '/Jquery/ui/jquery-ui.css')}"/>

    <style>
        hr{
            margin: 3px 0;
        }
    </style>

            <div id="content-wrapper" class="popup-container popup-large" style="height:300px;">
           <header class="title" style="padding-left:12px;">
                    <p>
                      
                       
                        <b>
                        <font color="#002060">Thank you for submitting your H1BCAP Nominations for the year.</font>
                        </b>
                       
                    </p>
               </header>
          
     
             </div>

</apex:page>