<apex:page showHeader="false" sidebar="false"  cache="true">
    <apex:include pageName="SitesTodHeader"/>
    <apex:stylesheet value="{!URLFOR($Resource.JquerySites, '/Jquery/ui/jquery-ui.css')}"/>
    <style>
        hr{
            margin: 3px 0;
        }
    </style>

    <apex:outputText >
            <div id="LeavesForm"  class="popup-container popup-large">

                <!--  Header and Close Icon-->
                <!-- <header class="title" style="padding-left:12px;">Thank you for submitting Leaves Form.</header> -->
                
                <header class="title" style="padding-left:12px;">
                    <p>
                        <b>
                        <font color="#002060">Thank you for contacting </font>
                        <font color="#92D400">The ELE Leaves and Disability Team</font>
                        <font color="#002060">!</font>
                        </b>
                    </p>
               </header>

                <p style="text-autospace:none">
                    <span style="font-size:10.0pt;font-family:Verdana,sans-serif;color:#002060">&nbsp;</span>
                </p>
                <p style="text-autospace:none">
                    <span style="font-size:10.0pt;font-family:Verdana,sans-serif;color:#002060">&nbsp;</span>
                </p>

                <p style="text-autospace:none">
                    Your request has been received and is being assigned to one of our ELE Leave Team members to address within         
                    the next 3 - 5 business days.We will be reviewing cases on a regular basis will be handling Critical cases first.We will reach out if we have any additional questions, otherwise you can expect to hear from us shortly.                </p>
<p style="text-autospace:none">
                    New Maternity Management Program Incentive information is now available. If you or your dependents are planning for the birth of a child,<a href="https://deloittenet.deloitte.com/CB/Programs/Pages/Maternity-Management-Programs-.aspx"> click here</a> to find out more. 


                </p>

                <p style="text-autospace:none">
                    <b>Questions should be addressed to the Leaves Team at +1 800 DELOITTE (+1 800 335 6488).</b>
                </p>
            </div>
    </apex:outputText>
</apex:page>