<apex:page showHeader="false" sidebar="false" cache="false" controller="WCT_Upsert_PassportInfoController">
   
    <!-- COMPONENT FOR TODHEADER -->
        <c:TODFormHeader ></c:TODFormHeader>
        <apex:stylesheet value="{!URLFOR($Resource.JquerySites, '/Jquery/ui/jquery-ui.css')}"/>    
    
  
        <style>
.Gbl_Attach_attachListTable  
             {
            margin-bottom: 1em;
            width: 100%;
            background: #fff;
            font-size: 14px;border: 1px dotted #ccc;line-height: 1.8em;
             }
 .algn_cntr
 {
     text-align:center !important;
 }
 .bg_clr
 {
     background-color: whitesmoke;
 }
 .botm-line
 {
     border-bottom: 1px dotted #ccc;
 }
</style>
    <apex:pageBlock >
    <!-- PAGE LEVEL ERROR MESSAGES APEX PAGE MESSAGES -->
    <apex:pageMessages ></apex:pageMessages>
    
    <!-- VALIDATING EMPLOYEE SECTION -->
    
    <apex:outputText rendered="{!(!invalidEmployee)}">
        <apex:outputText rendered="{!pageError}">
            <article class="large-12 columns">
                <h4 class="subheader title" style="color:red;"><b>Error</b></h4>
            </article>
            <div id="pageError" class="large-12 form">
                <div class="large-12 columns" style="color:red;">
                    <label></label>
                        {!pageErrorMessage}
                        {!supportAreaErrorMesssage}
                </div>
            </div>
        <hr/>
        </apex:outputText>
    <!-- END OF VALIDATING EMPLOYEE SECTION -->
    
    
    <!-- THANK YOU MESSAGE AND INFORMATION SECTION -->
    
    <div class="content-wrapper">       
        <div class="TOD-UI" id="main-content">
            <div class="content">
                <header class="Title">Thank You for Submitting Information</header>
    
    <!--PRACTITIONER SECTION -->
    
                    <section id="myinformation-content practionerSection">
                        <article>
                            <header><h3>Practitioner Information</h3></header>
                                <div class="row">
                                    <dl class="col-2">
                                        <b><dt>Name</dt></b>
                                            <dd> <strong> <apex:outputLabel value="{!loggedInContact.Name}"> </apex:outputLabel> </strong></dd>
                                    </dl>
                                    <dl class="col-2" >
                                        <b><dt>Email</dt></b>
                                         <dd> <strong> <apex:outputLabel value="{!loggedInContact.Email}">  </apex:outputLabel> </strong></dd>
                                    </dl>
                                    <dl class="col-2">
                                        <b><dt>Mobile Phone</dt></b>
                                            <dd> <strong> <apex:outputLabel value="{!loggedInContact.Phone}">  </apex:outputLabel> </strong> </dd>
                                    </dl>     
                                </div>
                        </article>
                    </section> 
     <section id="myinformation-content passportInfo">
                        <article>
                            <header>
                                <h3>Passport Information</h3>
                            </header>
                            <div class="row">
                                <dl class="col-2">
                                    <b><dt>First Name (as stated on Passport)</dt></b>
                                        <dd>    
                                           <strong> <apex:outputLabel value="{!employeeFirstName}">  </apex:outputLabel> </strong>
                                        </dd>
                                </dl>
                                <dl class="col-2">
                                    <b><dt>Last Name (as stated on Passport)</dt></b>
                                        <dd>
                                           <strong>   <apex:outputLabel value="{!employeeLastName}">  </apex:outputLabel> </strong>
                                        </dd>
                                </dl>
                                <dl class="col-2">
                                    <b><dt>Middle Name (as stated on Passport)</dt></b>
                                        <dd>
                                            <strong>  <apex:outputLabel value="{!employeeMiddleName}">  </apex:outputLabel> </strong>
                                        </dd>
                                </dl>
                                <dl class="col-2">
                                    <b><dt>Passport Number</dt></b>
                                        <dd>
                                           <strong> <apex:outputLabel value="{!passportNo}">  </apex:outputLabel> </strong>
                                        </dd>
                                </dl>
                                <dl class="col-2">
                                    <b><dt>Citizenship</dt></b>
                                        <dd>
                                           <strong>  <apex:outputLabel value="{!citizenship}">  </apex:outputLabel></strong>
                                        </dd>
                                </dl>
                                <dl class="col-2">
                                    <b><dt>Passport Issuance Country</dt></b>
                                        <dd>
                                             <strong><apex:outputLabel value="{!passportCountry}">  </apex:outputLabel></strong>
                                        </dd>
                                </dl>
                                <dl class="col-2">
                                    <b><dt>Passport Issuance City</dt></b>
                                        <dd>
                                            <strong> <apex:outputLabel value="{!passportCity}">  </apex:outputLabel></strong>
                                        </dd>
                                </dl>  
                                <dl class="col-2">
                                    <b><dt>Passport Issuance Date</dt></b>
                                        <dd>
                                            <strong> <apex:outputLabel value="{!passportIssuanceDate}">  </apex:outputLabel></strong>
                                        </dd>
                                </dl>
                                <dl class="col-2">
                                    <b><dt>Passport Expiration Date</dt></b>
                                        <dd>
                                            <strong> <apex:outputLabel value="{!passportExpirationDate}">  </apex:outputLabel></strong>
                                        </dd>
                                </dl>  
                            </div>      
                        </article>
                    </section>
    <!-- ATTACHMENTS SECTION -->
    
                    <section id="myinformation-content attachmentSection">
                        <article>
                            <apex:outputPanel rendered="{!IF(listAttachments.size > 0,true,false)}">
                                <div class="row margin">
                                    <div class="small-12 columns">
                                        <h3>ATTACHMENTS</h3>
                                       <!-- <hr/> -->
                                    </div>
                                </div>
                                <div class="row margin">
                                    <table  id="myTable" class="Gbl_Attach_attachListTable">
                                        <thead>
                                            <tr class="bg_clr">
                                                <th class="small-4 columns" style="padding-left:8px;">
                                                    <span>
                                                        <span class="">Name</span>
                                                    </span>
                                                </th>
                                                <th class="small-4 columns">
                                                    <span>
                                                        <span class="">Size</span>
                                                    </span>
                                                </th>
                                                <th class="small-4 columns">
                                                    <span>
                                                        <span class="">Date/Time Created</span>
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <apex:outputPanel >
                                                <apex:repeat value="{!listAttachments}" var="att">
                                                    <tr class="botm-line">
                                                        <td class="small-4 columns" style="padding-left:8px;">{!att.Name}</td>
                                                        <td class="small-4 columns">{!mapAttachmentSize[att.id]}</td>
                                                        <td class="small-4 columns"><apex:outputField value="{!att.createdDate}"/></td>
                                                    </tr>
                                                </apex:repeat>
                                            </apex:outputPanel>
                                        </tbody>
                                    </table>    
                                </div>
                            </apex:outputPanel>
                        </article>
                    </section>  
                 </div>    
             </div> 
        </div>
    </apex:outputText>
  </apex:pageBlock>
</apex:page>