<apex:page showHeader="false" sidebar="false" cache="true" controller="WCT_Visa_POE_Letter_FormController">
   <apex:include pageName="SitesTodHeader"/>
    <apex:stylesheet value="{!URLFOR($Resource.JquerySites, '/Jquery/ui/jquery-ui.css')}"/>    
     <script type="text/javascript">
         /* Height Adjust */
         var minheight;
         $( window ).ready(function() {
                minheight= $("#content-wrapper").height()+40;
                if($(window).height() > minheight )
                {
                    $( "#content-wrapper").css( "height",$(window).height()-20) ;
                }
                else
                {
                    $( "#content-wrapper").css( "height",minheight) ;
                }
          });
        $( window ).resize(function() {
            var windowHeight = $(window).height(); //retrieve current window height
            if(windowHeight > minheight )
            {
                $( "#content-wrapper").css( "height",windowHeight -20 ) ;
            }
            else
            {
                $( "#content-wrapper").css( "height",minheight) ;
            }
        });
    </script>
    <style>
        /*CSS Override*/
        legend {
            padding: 2px;
        }

        .instrow {
            line-height: 20px;
        }

        .blueArea{
            color: #2795b6;
            padding: 5px;
        }

        .greyArea{
            color: #C0C0C0;
        }

        .mousePointer{
            cursor: pointer;
        }
        .dateFormat{
            padding:0 2px;
            display:none;
        }
        hr{
            margin: 3px 0;
        }
    </style>
    
    <apex:outputText rendered="{!(!invalidEmployee)}">
            <div id="content-wrapper" class="popup-container popup-large">
            <header class="title" style="padding-left:12px;">
                    <p>
                        <b>
                        <font color="#002060">Thank you for Submitting</font>
                        <font color="#92D400">your POE/ Consulate letter.</font>
                        </b>
                    </p>
               </header>
               
                <!--  Header and Close Icon-->
               
                
                 <!-- Page Error Message Block -->
                 <apex:outputText rendered="{!pageError}">
                        <article class="large-12 columns">
                            <h4 class="subheader title" style="color:red;"><b>Error</b></h4>
                        </article>
                        <div id="pageError" class="large-12 form">
                            <div class="large-12 columns" style="color:red;">
                                <label></label>
                                {!pageErrorMessage}
                                {!supportAreaErrorMesssage}
                            </div>
                        </div>
                        <hr/>
                    </apex:outputText>
                
                    <!-- Form Fields -->
                    
                               </div>
    </apex:outputText>
</apex:page>