<apex:page sidebar="false" controller="WCT_Upload_Wagenotices">
   <apex:form >
      <apex:sectionHeader title="Mass Upload of Wage Notices"/>
      <apex:pagemessages /> 
    
      <apex:pageBlock >
          <p>
              1.  Use "Mass Upload Wage Notices Template" excel file  <br/>
              2.  Download blank template <a href="{!URLFOR($Resource.MassUploadWageNoticeTemplate)}" target="_blank"> here </a>  <br/>
              3.  Upload 2000 rows or less at a time. Make sure your data is valid<br/>
              4.  Save your file as .CSV and Upload<br/>
              5.  If records display below they do not exist in the system.  Please add the contact to Salesforce and upload those failed rows again.<br/><br/><br/>
          </p>
          <left>
              <apex:inputFile value="{!contentFile}" filename="{!nameFile}" /> 
              <apex:commandButton action="{!ReadFile}" value="Upload File" id="theButton" style="width:70px;"/><br/><br/>
              <apex:outputPanel rendered="{!NOT(ISNULL(totalsuccessrec ))}">{!totalsuccessrec } Records successfully updated </apex:outputPanel>  <br/>
              <apex:outputPanel rendered="{!NOT(ISNULL(totalunsuccessrec))}">{!totalunsuccessrec} Contacts do not exist </apex:outputPanel>      
              <br/>
              <br/>
              <apex:commandButton action="{!pg}" value="Export Errors" rendered="{!b}" />
          </left>  
      </apex:pageBlock>
   </apex:form>   
</apex:page>