<apex:page controller="WCT_Immigration_Mass_Close_Controller" sidebar="false" id="overridepage" docType="html-5.0">
    <style>
        .buttonStyle {text-align:center;}
    </style>
    <apex:form id="overrideform">
        <apex:pageBlock title="Auto Task Closure" id="overridepageBlock">
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Law Firm"></apex:outputLabel>
                    <apex:selectList value="{!getLawFirmValue}" size="1" >
                        <apex:selectOptions value="{!lawFirmOptions}"/>
                        <apex:actionSupport event="onchange" rerender="selectedStatus"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                   <apex:outputLabel value="Assigned To"></apex:outputLabel>
                    <apex:selectList value="{!selectedViewBy}" size="1" >
                        <apex:selectOptions value="{!ViewBy}"/>
                        <apex:actionSupport event="onchange" rerender="selectedStatus"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Immigration Status"></apex:outputLabel>
                    <apex:selectList value="{!selectedStatus}" size="1" >
                        <apex:selectOptions value="{!Status}"/>
                        <apex:actionSupport event="onchange" rerender="selectedStatus"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection >    
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Immigration Record Type"></apex:outputLabel>
                    <apex:selectList id="ImmigrationRecordType" value="{!RecordTypeValue}" multiselect="false" size="1">
                        <apex:selectOptions value="{!RecordTypeValueOptions}" />
                        <apex:actionSupport event="onchange" action="{!setVisaType}" reRender="ImmigrationVisaType"/>
                    </apex:selectList> 
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Immigration Visa Type"></apex:outputLabel>
                    <apex:selectList id="ImmigrationVisaType" value="{!VisaTypeValue}" multiselect="false" size="1">
                        <apex:selectOptions value="{!VisaTypeValueOptions}"/>
                        <apex:actionSupport event="onchange" rerender="ImmigrationVisaType" />
                    </apex:selectList> 
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection >    
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Request Initiation Date From:"></apex:outputLabel>
                    <apex:input type="date"  value="{!fromRID}" label="Request Initiation Date From:"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Request Initiation Date To:"></apex:outputLabel>
                    <apex:input type="date" value="{!toRID}" label="Request Initiation Date To:"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
            <apex:outputPanel id="SearchOverridePanelId">
                <center>
                    <apex:commandButton value="Search" styleClass="buttonStyle" action="{!getListTasks}" rerender="SearchOverridePanelId,out" status="status" />
                    &nbsp;&nbsp;
                    
                    <apex:commandButton id="buttonOver" value="Override" action="{!massClose}" styleClass="buttonStyle" onclick="return confirm('Are you sure you want to move the checked records to their next status? Doing so will automatically close all open Tasks currently assigned to GM&I User and Fragomen Team.');"/>
                    &nbsp;&nbsp;
                    
                    <apex:commandButton id="Select" value="Select All" action="{!checkAll}" onclick="selectCheckboxes()" styleClass="buttonStyle" reRender="out"/>
                </center>
            </apex:outputPanel>
            
            <br/><br/>  
            
            <!-- In our table we are displaying the Immigration records -->
            <apex:outputPanel id="out" >
                <c:PageBlockTableEnhancerADV targetPbTableIds="tableRecords" paginate="true" defaultPageSize="50" pageSizeOptions="50,100,200"/>
                
                <apex:actionstatus id="status" startText="Searching...">
                    <apex:facet name="stop">
                        <apex:pageBlockTable value="{!showAllRecordList}" var="message" id="tableRecords" styleClass="list" border="1">
                            
                            <apex:column headerValue="Id" rendered="false"  value="{!message.imRecord.Id}"/>
                            <apex:column headerValue="Immigration Name" >
                                <apex:outputLink value="/{!message.imRecord.Id}" target="parent">
                                    {!message.imRecord.Name}
                                </apex:outputLink>
                            </apex:column>
                            <apex:column headerValue="Employee" value="{!message.imRecord.WCT_Assignment_Owner__c}"/>
                            <apex:column headerValue="Current Immigration Status" value="{!message.imRecord.WCT_Immigration_Status__c}"/>
                            <apex:column headerValue="Milestone Value" value="{!message.imRecord.WCT_Milestone__c}"/>
                            <apex:column headerValue="New Status">
                                <apex:inputField value="{!message.imRecord.WCT_Immigration_Status__c}"/>
                            </apex:column>
                            <apex:column headerValue="Visa Type" value="{!message.imRecord.WCT_Visa_Type__c}"/>
                            <apex:column headerValue="Immigration Status(s) w/ Open Tasks">
                                <table width="100%" cellspacing="0"> 
                                    <b><center><apex:outputText value="No Task Available" rendered="{!!message.isThere}"/></center></b>
                                    <apex:repeat value="{!message.lstOfTask}" var="t">
                                        <tr>
                                            <td width="10%" align="top" style="border-bottom: 1px solid #000;padding-left: 0px;">
                                                <apex:inputCheckbox value="{!t.check}" id="inputId" />
                                            </td>
                                            <td width="20%" nowrap="true" style="border-bottom: 1px solid #000;">{!t.Task_Type}</td> 
                                            <td width="70%" style="border-bottom: 1px solid #000;">&nbsp;
                                                <table width="100%" cellpadding="0px" cellspacing="0px">
                                                    <apex:repeat value="{!t.taskRec}" var="t1">
                                                        <apex:repeat value="{!t1.taskFinalList}" var="t2">
                                                            <tr>
                                                                <td width="50%" style="border-bottom: 0px solid #000;" >
                                                                    <apex:outputLink value="/{!t2.Id}" target="parent">
                                                                        {!t2.Subject}
                                                                    </apex:outputLink>
                                                                </td> 
                                                                <td width="30%" style="border-bottom: 0px solid #000;">{!t2.Status}</td>
                                                                <td width="20%" style="border-bottom: 0px solid #000;">{!If(t2.whoID!=null,'Employee',if(t2.whoID==null && t2.ownerId!=$Label.Fragomen_UserID,'GM&I','Fragomen'))}</td>
                                                            </tr>
                                                        </apex:repeat>
                                                    </apex:repeat>
                                                </table>
                                            </td>
                                        </tr>
                                    </apex:repeat>                          
                                </table>
                            </apex:column>
                            
                        </apex:pageBlockTable>  
                        
                    </apex:facet>
                </apex:actionstatus>
            </apex:outputPanel>
            
        </apex:pageBlock>
    </apex:form>
    
    <script type="text/javascript">    
    function selectCheckboxes(){
        
        var Parent = document.getElementById('overridepage:overrideform:overridepageBlock:tableRecords');         
        var items = Parent.getElementsByTagName('input'); 
        for(i=0;i<items.length;i++){   
            if(items[i].type == "checkbox"){
                if(items[i].checked == false){
                    items[i].checked = true;
                }
                else{
                    items[i].checked = false;
                }    
                
            }      
        }
    }
    </script>
    
</apex:page>