<apex:page showHeader="false" sidebar="false" cache="true" controller="WCT_Enroll_Benefits_FormController" action="{!updateTaskFlags}">
     <!-- COMPONENT FOR TODHEADER -->
   <c:TODFormHeader ></c:TODFormHeader>
    <apex:stylesheet value="{!URLFOR($Resource.JquerySites, '/Jquery/ui/jquery-ui.css')}"/>
   <apex:includeScript value="{!URLFOR($Resource.JquerySites, '/Jquery/media/js/jquery.min.js')}"/>
   
      <script>
      function checkDoubleSubmit(obj){
            if (isClicked) {
                return false;
            }else {
                isClicked = true;
                $(".disable").attr("disabled", true);
                $(".js-cancel-button").bind("click", false);
                //obj.disabled=true;//= 'btnDisabled';//only shows the button as disabled.
                CallApexMethod();
            }
        }
      </script>
        <style>
       .sfdc_richtext {
            font-family: OpenSans-Regular,Verdana !important;
            color: #7A7A7A !important;
          
         
            }
        .disclaimer a {
               color:blue !important;
            }
        .sfdc_richtext a {
         color:blue !important;
        }    
       .errorLabel {
          color: red;
          font-weight: bold;
        }   
       </style>
       
       <apex:form >
         <apex:pageBlock >
    <apex:outputText rendered="{!display}"> 
                <div class="content-wrapper">       
                <div class="TOD-UI" id="main-content">
                    <div class="content">
                         <header class="Title">Enroll Benefits Form</header>
                          <apex:outputText rendered="{!pageError}">
                            <article class="large-12 columns">
                                <h4 class="subheader title" style="color:red;"><b>Error</b></h4>
                            </article>
                                 <div id="pageError" class="large-12 form">
                                    <div class="message errorM3">
                                    <img alt="ERROR" class="msgIcon" src="/s.gif" title="ERROR"/>
                                       <label class="errorLabel">
                                         {!pageErrorMessage}
                                        {!supportAreaErrorMesssage}
                                        </label>
                                   </div>
                            </div>
                         
                        </apex:outputText>
 <!-- PRACTITIONER INFORMATION -->
                              <section id="VerbiageDiv">
                                 <article>
                                 <div class="row">
                                   <dl class="row col-1">
                           <apex:outputField value="{!taskRefRecord.Form_Verbiage__c}"/>
                             </dl>
                                <dl class="row col-1">
                             <apex:inputCheckbox value="{!checked}" style="margin: -18px 0px 1em 2px;"/>
                             </dl>
                              
            
                 </div>
                     </article>
                    
                   </section>
        
                
            <!--FOOTER SECTION -->
                     
                     <section id="myinformation-content footerSection">
                        <article>
                               
                                <div  align="center">
                                             <apex:commandButton value="Cancel" styleClass="btn-grey" style="display:none;"/>
                                             <apex:commandButton value="Submit" onclick="checkDoubleSubmit(this);"  action="{!save}" styleClass="btn  btn-blue" />
                                             <apex:actionFunction name="CallApexMethod" action="{!save}" />
                                            <a id="fakeSubmit" class="disable button radius5 green" href="javascript:disableButtons();" style="display:none;">Submit</a>
                                            <a class="btn-grey" href="javascript:var win = window.open('', '_self');win.close();" style="display:none;">Cancel</a>
                                </div>
                      
                          </article>
                     </section>
                     
            
        </div>
      </div> 
   </div>
 </apex:outputText>
 </apex:pageBlock>
</apex:form>
           
          
           
          

</apex:page>