<apex:page showHeader="false" sidebar="false" cache="false" controller="WCT_Task_Completion_formController" action="{!updateTaskFlags}">
   <!-- COMPONENT FOR TODHEADER -->
     <c:TODFormHeader ></c:TODFormHeader>
     <style>
      .disclaimer a {
           color:blue !important;
         }
         .sfdc_richtext a {
             color:blue !important;
          }    
     </style>
      <apex:form >
         <apex:pageBlock >
          <apex:outputText rendered="true">
                <div class="content-wrapper">       
                <div class="TOD-UI" id="main-content">
                    <div class="content">
                         <!-- PRACTITIONER INFORMATION -->
                               <section id="myinformation-content" style="font-family:arial;font-size:17px;color:#0A6499;">
                             <article>
                                <div class="row">
                                    For any Deployment related questions, please refer to the below link to view the FAQs and the process document for reference or completing this activity.
                                    <br/><br/>
                                    <a href="https://deloittenet.deloitte.com/PC/PracticeComm/regions/India/SS/Talent/Pages/Deployment.aspx">https://deloittenet.deloitte.com/PC/PracticeComm/regions/India/SS/Talent/Pages/Deployment.aspx</a>
                                    <br/><br/><br/><br/>   
                                    For any Immigration related questions, please refer to the below link to view the FAQs and the process document for reference or completing this activity.
                                    <br/><br/>  
                                    <a href="https://deloittenet.deloitte.com/PC/PracticeComm/regions/India/SS/Talent/Pages/Immigration.aspx">https://deloittenet.deloitte.com/PC/PracticeComm/regions/India/SS/Talent/Pages/Immigration.aspx</a>
                                    <br/><br/><br/><br/>
                                    Regards,
                                    <br/><br/>  
                                    USI Global Mobility &amp; Immigration
                              </div>
                            </article>
           </section>
           
       </div>
      </div>   
    </div>      
 </apex:outputText>
 </apex:pageBlock>
 </apex:form>
 
</apex:page>