<apex:page Controller="WCT_GMI_Manual_task">

<apex:pageMessages id="PgMesg" ></apex:pageMessages>
        <br/>
        <apex:form >
            <apex:pageBlock >
                <apex:outputLabel value="Select To Create Task"/>
                <c:PageBlockTableEnhancerADV targetPbTableIds="tableEmails" paginate="true" defaultPageSize="10" pageSizeOptions="5,10,20,30"/>
        
                    <apex:pageBlockTable value="{!STW_List}" var="reference" id="tableEmails" styleClass="list" title="Create Manual Task" >
                        <apex:column headerValue="Select">
                        <apex:inputCheckbox value="{!reference.Selected}"/></apex:column>
                        <apex:column headerValue="Task Number" value="{!reference.reftable.Name}"/>
                        <apex:column headerValue="Task Subject" value="{!reference.reftable.WCT_Task_Subject__c}"/>
                        <!-- <apex:column headerValue="Task for Object" value="{!reference.reftable.WCT_Task_for_Object__c}"/> -->
                        <apex:column headerValue="Assigned To" value="{!reference.reftable.WCT_Assigned_to__c}"/>
                        <!-- <apex:column headerValue="Status" value="{!reference.reftable.WCT_Status__c}"/> -->
                        <!-- <apex:column headerValue="Auto Create" value="{!reference.reftable.WCT_Auto_Create__c}"/> -->  
          
                    </apex:pageBlockTable> 
                <Center>                
                    <apex:commandButton reRender="PgMesg" action="{!Save}" value="Save" />
                    <apex:commandButton action="{!Cancel}" value="Cancel" immediate="true"/>
                </Center> 
          
            </apex:pageBlock> 
        </apex:form> 
    </apex:page>