<apex:page controller="CTBulkDownloadSearch_Ctrl" showHeader="false" sidebar="false" id="mainPageId" >
 
<head>
    <script type="text/javascript" src="/soap/ajax/26.0/connection.js"> </script>
 
    <apex:includeScript value="{!URLFOR($Resource.Js_Zip, '/jquery-1.8.2.min.js')}"/>
 
    <apex:includeScript value="{!URLFOR($Resource.Js_Zip, '/jszip.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Js_Zip, '/jszip-load.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Js_Zip, '/jszip-deflate.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Js_Zip, '/jszip-inflate.js')}"/>

    <script type="text/javascript">
        var AttIds;
        var j$ = jQuery.noConflict();
        
/*Function for select all  */
         var count=0;
     function selectCheckboxes(){
           
            var Parent = document.getElementById('mainPageId:uploadZipForm:thePageBlock:thisPageBlockSection:thisPageBlockTable');         
            var items = Parent.getElementsByTagName('input'); 
            for(i=0;i<items.length;i++){   
                if(items[i].type == "checkbox"){
                
                    if(count%2==0)
                    {
                    items[i].checked = true;
                    document.getElementById("mainPageId:uploadZipForm:thePageBlock:thisPageBlockSection:selectdeselect").innerHTML="Deselect All";
                    }
                    else{
                    items[i].checked = false;
                    document.getElementById("mainPageId:uploadZipForm:thePageBlock:thisPageBlockSection:selectdeselect").innerHTML="Select All";
                    }
                
                }      
            }
            count++;
        }
       

 
        j$(document).ready(function() {
            //Hide upload button
            var uploadZipButton = j$('input[id$=uploadZipButton]');
            uploadZipButton.css('display', 'none');
             
            //Instantiate JSZip
            var zipFile = new JSZip();
 
            //Intercept click event
            j$('a[id=generateZipLink]').click(function() {

                var checkedSize = j$("input[name='att_ids_group[]']:checked").size();
                var count = 0;
                if(checkedSize  == 0){
                alert('Please select atLeast One Item');
                return false;
                }
                if(document.getElementById('mainPageId:uploadZipForm:thePageBlock:zipFileName').value== ''){
                    alert('Please mention appropriate .Zip file name.');
                    return false;
                }
                
                //Iterate over each selected file               
                j$("input[name='att_ids_group[]']:checked").each(function() {

                    //Refresh zip process status
                    j$('span[id$=zipStatus]').text('Getting file...');
                    
                    if(AttIds==null){AttIds=j$(this).val();}  
                    else{AttIds=AttIds+','+j$(this).val();}   
                                   
                    //Get file using javascript remoting
                    Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.CTBulkDownloadSearch_Ctrl.getAttachment}',
                        j$(this).val(),
                        function(result, event){
                            if (event.status) {
                                //Refresh zip process status
                                j$('span[id$=zipStatus]').text('Compressing file "' + result.attName + '"...');
 
                                count++;
                                 
                                //Add the file
                                compressFile(zipFile, result.attName, result.attEncodedBody);
                                //Once all the selected files have been compressed
                                if (count == checkedSize) {
                                    //Refresh zip process status
                                    j$('span[id$=zipStatus]').text('Generating zip file...');
                                     
                                    //Send form
                                    sendZip(zipFile,AttIds);
                                }
                            } else if (event.type === 'exception') {
                                alert('Exception: ' + event.message);
                            } else {
                                alert('Message: ' + event.message);
                            }
                        }, 
                        {escape: true}
                    );//End getAttachment
 
                });//end each selected attId
            });//end click
             
            //Compress one single file
            function compressFile(zipFile, name, data) {
                zipFile.file(name, data, {base64:true});
            }
 
            //Generate and upload zip file
            function sendZip(zipFile,AttIds) {
                var data = zipFile.generate();
                         
                var zipContent = j$('input[id$=zipContent]');
                zipContent.val(data);
                zipContent.size();
                var AttIdsArr = j$('input[id$=AttIdsArr]');
                AttIdsArr.val(AttIds);
                 
                //Refresh zip process status
                j$('span[id$=zipStatus]').text('Uploading zip file...');
                 
                var uploadZipButton = j$('input[id$=uploadZipButton]');
                uploadZipButton.trigger('click');
            }
        });
    </script>
</head>
 <apex:pageMessages id="msg"></apex:pageMessages>
<apex:form id="uploadZipForm" enctype="multipart/form-data">
     
    <apex:inputHidden id="zipContent" value="{!zipContent}" />
    <apex:inputHidden id="AttIdsArr" value="{!AttIdsArr}" />
    <apex:commandButton id="uploadZipButton" value="Upload" action="{!uploadZip}" reRender="thePageBlock,DownloadBtnBlock" />
    
    
     <apex:pageBlock id="thePageBlock" title="Attachments">
   
       <apex:pageBlockSection id="thisPageBlockSection" collapsible="false" columns="1">

     
        <apex:pageBlockTable id="thisPageBlockTable" value="{!attachmentsWrapper}" var="at">
             
            <apex:column rendered="{!docId == ''}">
                <input type="checkbox" name="att_ids_group[]" value="{!at.att.id}" />
            </apex:column>
            <apex:column >
                <apex:facet name="header">Candidate Name</apex:facet>
                {!at.candidateName}
            </apex:column>
            <apex:column value="{!at.att.Name}" />
            <apex:column value="{!at.att.Parent.type}" />
            <apex:column value="{!at.att.Parent.Name}"  />
            <apex:column >
                <apex:facet name="header">Size</apex:facet>
                {!at.att.BodyLength}
            </apex:column>
            <apex:column >
                <apex:outputText value="{0,date,MM'/'dd'/'yyyy hh:mm a}"><apex:param value="{!at.att.CreatedDate}"/></apex:outputText>
                <apex:facet name="header">Uploaded Date</apex:facet>
            </apex:column>

        </apex:pageBlockTable>
               <apex:outputPanel onclick="javascript:selectCheckboxes();" styleClass="btn" id="selectdeselect" rendered="{!attachmentsWrapper.size>0 && docId == ''}">Select All</apex:outputPanel>
               
   </apex:pageBlockSection>
        
    
   
        

    <apex:outputPanel id="DownloadBtnBlock" rendered="{!docId != ''}">
        <p>&nbsp;</p>
        <p>
            <a class="btn" style="text-decoration:none;" id="generateZipLink" href="/servlet/servlet.FileDownload?file={!docId}" target="_blank" onclick="javascript:window.close();">Download zip</a>
            
        </p>
    </apex:outputPanel>
    <apex:outputPanel id="DownloadInfoBlock" rendered="{!docId == ''}">
    <apex:outputLabel for="zipFileName" value="File name: " />
    <apex:inputText id="zipFileName" value="{!zipFileName}" />.zip
     
    <p>
        <a class="btn" style="text-decoration:none;" id="generateZipLink" href="#" >Generate zip</a>
    </p>
    <p>
        <span>Status: </span>
        <span id="zipStatus"></span>
    </p>
   </apex:outputPanel>
   </apex:pageBlock>
</apex:form>
</apex:page>