<apex:page id="pg" standardController="WCT_Interview_Junction__c" extensions="WCT_InterviwerDetailExtRedesign" applyHtmlTag="false" applyBodyTag="false" showHeader="false" standardStylesheets="false">
  <apex:stylesheet value="{!URLFOR($Resource.InterviewPortalStyleRedesign, '/css/Style.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.InterviewPortalStyleRedesign, '/js/jquery-1.7.1.js')}"/> 
  
    <html>
        <head>
            
            <!-- Meta Header Info -->
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;" />
            
            <title>e-Interview Portal</title>
            
            <!-- Style Sheet -->
            <!-- <apex:stylesheet value="{!URLFOR($Resource.InterviewPortalStyleRedesign, '/css/Style.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.InterviewPortalStyleRedesign, '/css/MediaQueries.css')}"/>-->
            <!-- Style Sheet Ends-->
            <!-- My Scripts Start -->
            <apex:includeScript value="{!URLFOR($Resource.InterviewPortalStyleRedesign, '/js/jquery-1.7.1.js')}"/>
            
            <!-- My Scripts has been called at the end -->
            <!-- My Scripts End -->
            <!-- Accordin Scripts -->
            <apex:includeScript value="{!URLFOR($Resource.InterviewPortalStyleRedesign, '/js/jquery-1.11.2.min.js')}"/>
            <!-- Accordin Scripts Ends -->
            <!-- Accordin Scripts / Div Re-Odering / For Mobile -->
            <apex:includeScript value="{!URLFOR($Resource.InterviewPortalStyleRedesign, '/js/jquery-1.10.2.js')}"/>
            <!-- Accordin Scripts Ends -->
            
        </head>
        
        <body>
            <script>
            var j$ = jQuery.noConflict();
            function uploadFile(){
                var ChooseButton = j$('input[id$=uploadFile]');
                ChooseButton.trigger('click');
            }
            
            
            </script> 
            <div id="dvWrapper">
                <input id="highlighttab" type="hidden" value="{!intdue}"/>
                <div id="dvContainer">
                    <c:IntPortalHeaderRedesign id="pgcmpprotal"></c:IntPortalHeaderRedesign>
                    <!--<div id="dvHeader">
<div id="dvLogo"><span>Deloitte</span> Interviewer Portal</div>

<div id="dvHeaderNav">
<div class="dvSeperator2"></div>
<div id="dvFAQ" class="ClsHeaderNav" onclick="faqdisp('pg:faqtoppnl')"><span id="FAQIcon"></span><span id="FAQText">FAQs</span></div>
<div class="dvSeperator2"></div>
<div id="dvHV" class="ClsHeaderNav"><span id="VideoIcon"></span><span id="HVText">How to Video</span></div>
<div class="dvSeperator2"></div>
<div id="dvUser" class="ClsHeaderNav"><span>Hello {!$User.FirstName}!</span></div>
<div class="dvSeperator2"></div>
<div id="dvLogOut" class="ClsHeaderNav"></div>

</div>
</div>--> <!-- Header / Black Top bar Ends -->
                    
                    <div id="dvStatusRibbon">
                        <div id="dvIED" class="dvSR">
                            <div class="ClsIcon" id="SRIcon1" title="Interview Evaluation Past Due " onclick="location.href='/apex/WCT_InterviewPortalRedesign?pg=IED'"></div>
                            <div class="ClsLabel" title="Interview Evaluation Past Due " onclick="location.href='/apex/WCT_InterviewPortalRedesign?pg=IED'">Interview Evaluation Past Due </div>
                            <div class="ClsCount" title="Interview Evaluation Past Due " id="SRCount1" onclick="location.href='/apex/WCT_InterviewPortalRedesign?pg=IED'"><span class="ClsCounter">{!actisze}</span></div>
                        </div>
                        
                        <div class="dvSeperator"></div>
                        
                        <div id="dvUI" class="dvSR">
                            <div class="ClsIcon" id="SRIcon2" title="Upcoming Interviews" onclick="location.href='/apex/WCT_InterviewPortalRedesign?pg=UI'"></div>
                            <div class="ClsLabel" title="Upcoming Interviews" onclick="location.href='/apex/WCT_InterviewPortalRedesign?pg=UI'">Upcoming Interviews</div>
                            <div class="ClsCount" title="Upcoming Interviews" id="SRCount2" onclick="location.href='/apex/WCT_InterviewPortalRedesign?pg=UI'"><span class="ClsCounter">{!upsze}</span></div>
                        </div>
                        
                        <div class="dvSeperator"></div>
                        
                        <div id="dvAI" class="dvSR">
                            <div class="ClsIcon" id="SRIcon3" title="All Interviews" onclick="location.href='/apex/WCT_InterviewPortalRedesign?pg=AI'"></div>
                            <div class="ClsLabel" title="All Interviews" onclick="location.href='/apex/WCT_InterviewPortalRedesign?pg=AI'">All Interviews</div>
                            <div class="ClsCount" title="All Interviews" id="SRCount3" onclick="location.href='/apex/WCT_InterviewPortalRedesign?pg=AI'"><span class="ClsCounter">{!allsze}</span></div>
                        </div>
                        
                        <div class="dvSeperator"></div>
                        
                        <div id="dvOV" class="dvSR">
                            <div class="ClsIcon" id="SRIcon4" title="Pending Interviews Over 6 Months Old" onclick="location.href='/apex/WCT_InterviewPortalRedesign?pg=OV6';"></div>
                            <div class="ClsLabel" title="Pending Interviews Over 6 Months Old" onclick="location.href='/apex/WCT_InterviewPortalRedesign?pg=OV6';">Over 6 Months Old</div>
                            <div class="ClsCount" title="Pending Interviews Over 6 Months Old" id="SRCount4" onclick="location.href='/apex/WCT_InterviewPortalRedesign?pg=OV6';"><span class="ClsCounter">{!pendsze}</span></div>
                        </div>
                        
                    </div><!-- Status Ribbon Ends ... -->
                    <!-- dvWrapper/Center Div ... -->
                    <div id="dvIntWrapper">
                        <p>
                            <apex:form id="cmdfrm">
                                <apex:commandbutton id="uploadFile" styleclass="btn" value="Upload File" action="{!setAttachmentSection}" style="display:none;"/>
                                <apex:outputPanel id="tstpopup1" styleClass="popupComp hideComp">
                                    <apex:outputPanel id="backPanel1" styleClass="popupBackground popupComp hideComp"  layout="block" ></apex:outputPanel>
                                    <apex:outputPanel styleClass="custPopup popupComp hideComp" layout="block" >
                                        
                                        <apex:inputFile value="{!contentFile}" filename="{!nameFile}" id="nameFile"/><br />
                                        <div class="ClsBtnupload" style="margin-left: 15px;margin-top: 20px;" onclick="clickupload();">Upload</div>
                                        <div class="ClsBtnupload" style="margin-left: 15px;margin-top: 20px;" onclick="upclose('pg:cmdfrm:tstpopup1')">Cancel</div>
                                        <apex:commandbutton id="cmdup" style="display:none"  action="{!ReadFile}" value="Upload" />
                                        <apex:commandButton id="cmdcanl" style="display:none" value="Cancel" action="{!cancelAttachment}" />
                                        
                                    </apex:outputPanel>
                                </apex:outputPanel>
                                <!--
<a href="#" onclick="uploadFile();" class="btn">Choose File</a>&nbsp;
<a href="#" onclick="uploadBtn();" class="btn">Upload File</a>
<apex:inputFile value="{!contentFile}" filename="{!nameFile}" id="nameFile" style="display:none;"/>
<apex:commandbutton action="{!ReadFile}" value="Upload File" id="uploadButton" styleclass="btn" style="display:none;"/>-->
                            </apex:form>
                        </p>                                    
                        <!-- Left Coloumn/IEF -->
                        <div id="dvIEF">
                            <div id="HeadIEF" class="AccordionPlus"><span class="ClsValign">Complete Interview Evaluation Form (IEF)</span></div>
                            <div id="ContentIEF">
                                Complete Online!<br />
                                <span class="ClsInstruct">(Preferred)</span><br /><br />
                                <div class="ClsBtn" onclick="window.open('{!WCT_Interview_Junction__c.WCT_IEF_URL_Base__c}')">{!label}</div><br /><br />
                                
                                
                                Complete Offline!<br />
                                <span class="ClsInstruct">(Use in case of issues with online form)</span><br /><br />
                                <div class="ClsBtn" onclick="window.open('{!WCT_Interview_Junction__c.WCT_Interview__r.WCT_Clicktools_Form__r.WCT_Blank_Document_URL__c}','_blank');">DOWNLOAD</div><br /><br />
                                <div class="ClsBtn" onclick="updisp('pg:cmdfrm:tstpopup1')">UPLOAD</div><br /><br />
                                <span class="ClsInstruct">(Word Version of IEF)</span>
                                
                            </div>
                        </div><!-- Left Coloumn/IEF Ends --> 
                        <!-- Right Coloumn/dvDoc -->
                        <div id="dvDoc">
                            <div id="dvIITab" class="ClsLinks ClsOrder" onclick="fnSetTab('dvIITab')"><span>Interview Information</span></div>
                            <div id="dvRITab" class="ClsLinks ClsOrder" onclick="fnSetTab('dvRITab')"><span>Requisition Information</span></div>
                            <div id="dvEFTab" class="ClsLinks ClsOrder" onclick="fnSetTab('dvEFTab')"><span>Event Feedback</span></div>
                            <div id="dvCSDTab" class="ClsLinks ClsOrder" onclick="fnSetTab('dvCSDTab')"><span>Candidate Submitted Documents</span></div>
                            <div id="dvIPITab" class="ClsLinks ClsOrder" onclick="fnSetTab('dvIPITab')"><span>IEFs From Previous Interviews</span></div>
                            <div id="dvCITab" class="ClsLinks ClsOrder" onclick="fnSetTab('dvCITab')"><span>Candidate Information</span></div>
                            
                            <div id="dvII" class="ClsDivs ClsOrder ClsClosedv">
                                <div class="IILeft">
                                    
                                    <div class="IITitle"><span>Interview Number</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Interview__r.Name}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Candidate Name</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Name__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Case Role</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Case_Type__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Case Name</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Case_Name__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Recruiter</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Recruiter__r.Name}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Recruiting Coordinator</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Recruiting_Coordinator__r.name}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Interview Round</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Interview__r.WCT_Interview_Round__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Interview Date</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!IntvDate}" readonly="true" disabled="disabled"/></div>
                                    
                                </div><!--Left Column Ends Here -->
                                
                                <div class="IIRight">
                                    
                                    <div class="IITitle"><span>IEF Submitted Date</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!IntvSubmittedDate}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>IEF Submission Status</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_IEF_Submission_Status__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>IEF Sample Questions</span></div>
                                    <div class="IIField"><input id="samplequId" onclick="window.open('{!WCT_Interview_Junction__c.WCT_Interview__r.WCT_Clicktools_Form__r.WCT_Sample_Questions_URL__c}')" class="TextField" style="{!if(WCT_Interview_Junction__c.WCT_Interview__r.WCT_Clicktools_Form__r.WCT_Sample_Questions_URL__c!='','text-decoration: underline;color: blue;cursor: pointer;','')}" type="text" value="{!if(WCT_Interview_Junction__c.WCT_Interview__r.WCT_Clicktools_Form__r.WCT_Sample_Questions_URL__c!='','Sample Questions','')}" readonly="true"/></div>
                                    
                                    <div class="IITitle"><span>Interview Medium</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Interview_Medium__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Interview Location</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Location_Details__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Interview Type</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Interview_Type__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Interview Start Time</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!IntvStrTime}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Interview End Time</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!IntvEndTime}" readonly="true" disabled="disabled"/></div>
                                    
                                </div><!--Right Column Ends Here -->
                                
                                
                            </div> <!-- Interview Information Tab/First Tab ends here ... -->
                            
                            <!--Requisition Information Starts-->
                            
                            <div id="dvRI" class="ClsDivs ClsOrder ClsClosedv">
                                <div class="IILeft">
                                    
                                    <div class="IITitle"><span>Job Type</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Job_Type__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>FSS</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Interview__r.WCT_FSS__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Service Area</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Service_Area__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Service Line</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Service_Line__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    
                                    
                                </div><!--Left Column Ends Here -->
                                
                                <div class="IIRight">
                                    
                                    <div class="IITitle"><span>Capabiity</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Capability__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <div class="IITitle"><span>Industry</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Requisition_Industry__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    <!--<div class="IITitle"><span>Region</span></div>
<div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Region__c}" readonly="true" disabled="disabled"/></div>-->
                                    
                                    <!--<div class="IITitle"><span>Office</span></div>
<div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Primary_Location__c}" readonly="true" disabled="disabled"/></div>-->
                                    
                                    <div class="IITitle"><span>US Program</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_US_Program__c}" readonly="true" disabled="disabled"/></div>
                                    
                                    
                                </div><!--Right Column Ends Here -->
                                
                            </div><!-- Requisition Information Tab/Second Tab ends here ... -->
                            
                            
                            
                            
                            <div id="dvRIGI" class="ClsDivs ClsOrder ClsClosedv">
                                <table class="TableStyle TBLabelGIRI">
                                    <thead>
                                        <tr>
                                            <td>Candidate Name</td>
                                            <td>Job Type</td>
                                            <td>FSS</td>
                                            <td>Service Area</td>
                                            <td>Service Line</td>
                                            <!--<td>Region</td>-->
                                            <!--<td>Office</td>-->
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <apex:repeat value="{!RequistionNcanInf}" var="att">
                                            <tr>
                                                <td>{!att.candtnm}</td>
                                                <td>{!att.Requ.WCT_Job_Type__c}</td>
                                                <td>{!att.Requ.WCT_Interview__r.WCT_FSS__c}</td>
                                                <td>{!att.Requ.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Service_Area__c}</td>
                                                <td>{!att.Requ.WCT_Service_Line__c}</td>
                                                <!--<td>{!att.Requ.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Region__c}</td>-->
                                                <!--<td>{!att.Requ.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Primary_Location__c}</td>-->
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                    
                                </table> 
                            </div><!-- Group Interview Requisition Information Tab/Second Tab ends here ... --> 
                            <!--Event feedback Information Starts-->
                            <div id="dvEF" class="ClsDivs ClsOrder ClsClosedv">
                                
                                <table class="TableStyle TBLabelEF">
                                    <thead>
                                        <tr>
                                            <td>Event</td>
                                            <td>Event Date</td>
                                            <td>Feedback Provider Name</td>
                                            <td>Feedback Provider Position</td>
                                            <td>Rating</td>
                                            <td>Event Specific Feedback</td>
                                            <td>Experience/Leadership/Personal Interests</td>
                                            <td>Interests (SA/SL/Location Pref)</td>
                                            <td>Misc (Deloitte Fit, Client Readiness)</td>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <apex:repeat value="{!fdbklist}" var="Evntfbck">
                                            <tr>
                                                <td class="Clswb">{!Evntfbck.Event__r.name}</td>
                                                <td>
                                                    <apex:outputText value="{0, date, MMMM d','  yyyy}">
                                                        <apex:param value="{!Evntfbck.Event__r.CreatedDate}" /> 
                                                    </apex:outputText></td> 
                                                <td>{!Evntfbck.Feedback_Provider_Name__c}</td>
                                                <td>{!Evntfbck.Feedback_Provider_Position__c}</td>
                                                <td>{!Evntfbck.Rating__c}</td>
                                                <td>{!Evntfbck.Comments_Event_Specific__c} </td>
                                                <td>{!Evntfbck.Comments_Personal_Interests__c}</td>
                                                <td>{!Evntfbck.Comments_Industry_Service_Line_Interest__c}</td>
                                                <td>{!Evntfbck.Comments_Misc_Office_Preference_Other__c}</td>
                                            </tr>
                                        </apex:repeat>
                                        
                                    </tbody>
                                    
                                </table> <!--Event Feedback Table Ends  here .... -->
                                
                            </div><!-- Event Feedback Information Tab/third Tab ends here ... -->
                            
                            <!--Event feedback Information Starts-->
                            
                            <div id="dvEFGI" class="ClsDivs ClsOrder ClsClosedv">
                                
                                <table class="TableStyle TBLabelEFGI">
                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Event</td>
                                            <td>Event Date</td>
                                            <td>Feedback Provider Name</td>
                                            <td>Feedback Provider Position</td>
                                            <td>Rating</td>
                                            <td>Event Specific Feedback</td>
                                            <td>Experience/Leadership/Personal Interests</td>
                                            <td>Interests (SA/SL/Location Pref)</td>
                                            <td>Misc (Deloitte Fit, Client Readiness)</td>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <apex:repeat value="{!fdbklistall}" var="Evntfbck">
                                            <tr>
                                                <td class="Clswb">{!Evntfbck.Contact__r.name}</td>
                                                <td class="Clswb">{!Evntfbck.Event__r.name}</td>
                                                <td><apex:outputText value="{0, date, MMMM d','  yyyy}">
                            <apex:param value="{!Evntfbck.Event__r.CreatedDate}" /> 
                        </apex:outputText></td>
                                                <td>{!Evntfbck.Feedback_Provider_Name__c}</td>
                                                <td>{!Evntfbck.Feedback_Provider_Position__c}</td>
                                                
                                                <td>{!Evntfbck.Rating__c}</td>
                                                <td>{!Evntfbck.Comments_Event_Specific__c} </td>
                                                <td>{!Evntfbck.Comments_Personal_Interests__c}</td>
                                                <td>{!Evntfbck.Comments_Industry_Service_Line_Interest__c}</td>
                                                <td>{!Evntfbck.Comments_Misc_Office_Preference_Other__c}</td>
                                            </tr>
                                        </apex:repeat>
                                        
                                    </tbody>
                                    
                                </table> <!--Event Feedback Table Ends  here .... -->
                                
                            </div><!-- Event Feedback Information Tab/third Tab ends here ... -->
                            
                            
                            <div id="dvCSD" class="ClsDivs ClsOrder ClsClosedv">
                                
                                <table class="TableStyle TBLabel">
                                    <thead>
                                        <tr>
                                            <td>File Name</td>
                                            <td>Size</td>
                                            <td>Date</td>
                                            <td>Type</td>
                                            <td>Author</td>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <apex:repeat value="{!AttachmentsCandidate}" var="att">
                                            <tr>
                                                <td class="Clswb">{!att.Name} [<a href="/servlet/servlet.FileDownload?file={!att.Id}" target="_blank">View</a>]</td>
                                                <td>{!if(att.BodyLength>1048576,(ROUND((att.BodyLength/1048576),2)),(ROUND((att.BodyLength/1024),2)))} {!if(att.BodyLength>1048576,'MB','KB')}</td>
                                                <td><apex:outputText value="{0,date,MM'/'dd'/'yyyy hh:mm a}"><apex:param value="{!att.LastModifiedDate}"/></apex:outputText></td>
                                                <td>{!att.Description}</td>
                                                <td>{!att.CreatedBy.Name}</td>
                                            </tr>
                                        </apex:repeat>
                                        
                                    </tbody>
                                    
                                </table> <!--Candidate Submitted Documents Table Ends  here .... -->
                                
                            </div><!-- Candidate Submitted Documents Tab/Third Tab ends here ... -->
                            <div id="dvCSDGI" class="ClsDivs ClsOrder ClsClosedv">
                                
                                <table class="TableStyle TBLabelGI">
                                    <thead>
                                        <tr>
                                            <td>Candidate Name</td>
                                            <td>File Name</td>
                                            <td>Size</td>
                                            <td>Date</td>
                                            <td>Type</td>
                                            <td>Author</td>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <apex:repeat value="{!attachmentscsdWrapper}" var="att">
                                            <tr>
                                                <td>{!att.candt}</td>
                                                <td class="Clswb">{!att.AttachmentIEF.Name} [<a href="/servlet/servlet.FileDownload?file={!att.AttachmentIEF.Id}" target="_blank">View</a>]</td>
                                                <td>{!if(att.AttachmentIEF.BodyLength>1048576,(ROUND((att.AttachmentIEF.BodyLength/1048576),2)),(ROUND((att.AttachmentIEF.BodyLength/1024),2)))} {!if(att.AttachmentIEF.BodyLength>1048576,'MB','KB')}</td>
                                                <td><apex:outputText value="{0,date,MM'/'dd'/'yyyy hh:mm a}"><apex:param value="{!att.AttachmentIEF.LastModifiedDate}"/></apex:outputText></td>
                                                <td>{!att.AttachmentIEF.Description}</td>
                                                <td>{!att.AttachmentIEF.CreatedBy.Name}</td>
                                            </tr>
                                        </apex:repeat>
                                        
                                    </tbody>
                                    
                                </table> <!--Group Interview Candidate Submitted Documents Table Ends  here .... -->
                                
                            </div><!--Group Interview Candidate Submitted Documents Tab/Third Tab ends here ... -->
                            
                            
                            <div id="dvIPI" class="ClsDivs ClsOrder ClsClosedv">
                                
                                <table class="TableStyle TBLabelPI">
                                    <thead>
                                        <tr>
                                            <td>File Name</td>
                                            <td>Size</td>
                                            <td>Date</td>
                                            <!--<td>Description</td>-->
                                            <td>Author</td>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <apex:repeat value="{!AttachmentIEFs}" var="att">
                                            <tr>
                                                <td class="Clswb">{!att.Name} [<a href="/servlet/servlet.FileDownload?file={!att.Id}" target="_blank">View</a>]</td>
                                                <td>{!if(att.BodyLength>1048576,(ROUND((att.BodyLength/1048576),2)),(ROUND((att.BodyLength/1024),2)))} {!if(att.BodyLength>1048576,'MB','KB')}</td>
                                                <td><apex:outputText value="{0,date,MM'/'dd'/'yyyy hh:mm a}"><apex:param value="{!att.LastModifiedDate}"/></apex:outputText></td>
                                                <!--<td>{!att.Description}</td>-->
                                                <td>{!att.CreatedBy.Name}</td>
                                            </tr>
                                        </apex:repeat>
                                        
                                    </tbody>
                                    
                                </table> <!--IEFs From Previous Interviews Table Ends  here .... -->
                            </div> <!-- IEFs From Previous Interviews div/ Fourth Tab Ends ... -->
                            <div id="dvIPIGI" class="ClsDivs ClsOrder ClsClosedv">
                                
                                <table class="TableStyle TBLabelGIPI">
                                    <thead>
                                        <tr>
                                            <td>Candidate Name</td>
                                            <td>File Name</td>
                                            <td>Size</td>
                                            <td>Date</td>
                                            <td>Author</td>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <apex:repeat value="{!attachmentsWrapper}" var="att">
                                            <tr>
                                                <td>{!att.candt}</td>
                                                <td class="Clswb">{!att.AttachmentIEF.Name} [<a href="/servlet/servlet.FileDownload?file={!att.AttachmentIEF.Id}" target="_blank">View</a>]</td>
                                                <td>{!if(att.AttachmentIEF.BodyLength>1048576,(ROUND((att.AttachmentIEF.BodyLength/1048576),2)),(ROUND((att.AttachmentIEF.BodyLength/1024),2)))} {!if(att.AttachmentIEF.BodyLength>1048576,'MB','KB')}</td>
                                                <td><apex:outputText value="{0,date,MM'/'dd'/'yyyy hh:mm a}"><apex:param value="{!att.AttachmentIEF.LastModifiedDate}"/></apex:outputText></td>
                                                <td>{!att.AttachmentIEF.CreatedBy.Name}</td>
                                            </tr>
                                        </apex:repeat>
                                        
                                    </tbody>
                                    
                                </table> <!--Group Interview IEFs From Previous Interviews Table Ends  here .... -->
                            </div> <!--Group Interview IEFs From Previous Interviews div/ Fourth Tab Ends ... -->
                            <div id="dvCI" class="ClsDivs ClsOrder ClsClosedv">
                                
                                <div class="dvHeading"><p>Candidate Personal Information</p></div>
                                
                                <div class="IILeft">
                                    <div class="IITitle"><span>Candidate Name</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Contact__r.Name}" readonly="true" disabled="disabled"/></div>
                                </div><!--Left Column Ends Here -->
                                
                                <div class="IIRight">
                                    <div class="IITitle"><span>Preferred Name</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Contact__r.WCT_Preferred_Name__c}" readonly="true" disabled="disabled"/></div>
                                </div><!--Right Column Ends Here -->
                                
                                <div class="dvHeading"><p>Additional Details</p></div>
                                
                                <div class="IILeft">
                                    <div class="IITitle"><span>School</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Contact__r.WCT_Candidate_School__c}" readonly="true" disabled="disabled"/></div>
                                </div><!--Left Column Ends Here -->
                                
                                
                                <div class="IIRight">
                                    <div class="IITitle"><span>Other Institutions</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Contact__r.WCT_CN_Other_Institution__c}" readonly="true" disabled="disabled"/></div>
                                </div><!--Right Column Ends Here -->
                                
                                <div class="IILeft">
                                    <div class="IITitle"><span>Current Employer</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Contact__r.Current_Employer__c}" readonly="true" disabled="disabled"/></div>
                                </div><!--Left Column Ends Here -->
                                
                                
                                <div class="IIRight">
                                    <div class="IITitle"><span>Other Employer</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Contact__r.WCT_CN_Other_Employer__c}" readonly="true" disabled="disabled"/></div>
                                </div><!--Right Column Ends Here -->
                                
                                
                                
                                <div class="dvHeading"><p>Contact Information</p></div>
                                
                                <div class="IILeft">
                                    <div class="IITitle"><span>Email</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Contact__r.Email}" readonly="true" disabled="disabled"/></div>
                                </div><!--Left Column Ends Here -->
                                
                                <div class="IIRight">
                                    <div class="IITitle"><span>Mobile/Home Phone</span></div>
                                    <div class="IIField"><input type="text" class="TextField" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Contact__r.MobilePhone}/{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Contact__r.HomePhone}" readonly="true" disabled="disabled"/></div>
                                </div><!--Right Column Ends Here -->
                                
                                
                                <div class="dvHeading"><p>Contact Documents</p></div>
                                
                                <table class="TableStyle TBLabel" style="width:100%!important">
                                    <thead>
                                        <tr>
                                            <td>File Name</td>
                                            <td>Size</td>
                                            <td>Date</td>
                                            <td>Description</td>
                                            <td>Author</td>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <apex:repeat value="{!AttachmentsCandidateDoc}" var="att">
                                            <tr>
                                                <td class="Clswb">{!att.Name} [<a href="/servlet/servlet.FileDownload?file={!att.Id}" target="_blank">View</a>]</td>
                                                <td>{!if(att.BodyLength>1048576,(ROUND((att.BodyLength/1048576),2)),(ROUND((att.BodyLength/1024),2)))} {!if(att.BodyLength>1048576,'MB','KB')}</td>
                                                <td><apex:outputText value="{0,date,MM'/'dd'/'yyyy hh:mm a}"><apex:param value="{!att.LastModifiedDate}"/></apex:outputText></td>
                                                <td>{!att.Description}</td>
                                                <td>{!att.CreatedBy.Name}</td>
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                    
                                </table> <!--IEFs From Previous Interviews Table Ends  here .... -->
                                
                            </div>
                            <div id="dvCIGI" class="ClsDivs ClsOrder ClsClosedv">
                                
                                <table class="TableStyle TBLabelGICI">
                                    <thead>
                                        <tr>
                                            <td>RMS ID</td>
                                            <td>Candidate Name</td>
                                            <td>Candidate email id</td>
                                            <td>Requisition #</td>
                                            <td>Recruiter Name</td>
                                            <td>Coordinator Name</td>
                                            <td>Interview Date</td>
                                            <td>Start Time</td>
                                            <td>End Time</td>
                                            <td>Interveiw Type</td>
                                            <td>IEF Status</td>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <apex:repeat value="{!RequistionNcanInf}" var="att">
                                            <tr>
                                                <td>{!att.Requ.WCT_RMS_Taleo_ID__c}</td>
                                                <td>{!att.candtnm}</td>
                                                <td class="Clswb">{!att.Requ.WCT_Candidate_Tracker__r.WCT_Email__c}</td>
                                                <td class="Clswb">{!att.Requ.WCT_Candidate_Tracker__r.WCT_Requisition_Number__c}</td>
                                                <td>{!att.Requ.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Recruiter__r.name}</td>
                                                <td>{!att.Requ.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Recruiting_Coordinator__r.name}</td>
                                                <td>{!att.IntvDateGrp}</td>
                                                <td>{!att.IntvStrTimeGrp}</td>
                                                <td>{!att.IntvEndTimeGrp}</td>
                                                <td>{!att.Requ.WCT_Interview_Type__c}</td>
                                                <td>{!att.Requ.WCT_IEF_Submission_Status__c}[<a onclick='return showIEFGI()'>Submit now</a>]</td>
                                            </tr>
                                        </apex:repeat>
                                        
                                    </tbody>
                                    
                                </table> <!--Group Interview IEFs From Previous Interviews Table Ends  here .... -->
                            </div> <!--Group Interview IEFs From Previous Interviews div/ Fourth Tab Ends ... -->
                            
                        </div><!-- Right Coloumn/dvDoc Ends -->
                    </div>
                    <!-- dvIntWrapper/Center Div Ends Here ... -->
                    <!--IEF Submission pop up for GI View-->
                    <div id="dvIEFGIbgclr" class="Hidedisplay popupBackground"/>
                    <div id="dvIEFGI" class="Hidedisplay IEFpopup">
                        <div id="HeadIEFGI" class="AccordionPlus"><span class="ClsValign">Complete Interview Evaluation Form (IEF)</span></div>
                        <div id="ContentIEF">
                            Complete Online!<br />
                            <span class="ClsInstruct">(Preferred)</span><br /><br />
                            <div class="ClsBtn" onclick="window.open('{!WCT_Interview_Junction__c.WCT_IEF_URL_Base__c}')">{!label}</div><br /><br />
                            
                            
                            Complete Offline!<br />
                            <span class="ClsInstruct">(Use in case of issues with online form)</span><br /><br />
                            <div class="ClsBtn" onclick="window.open('{!WCT_Interview_Junction__c.WCT_Interview__r.WCT_Clicktools_Form__r.WCT_Blank_Document_URL__c}','_blank');">DOWNLOAD</div><br /><br />
                            <div class="ClsBtn" onclick="closeIEFGI();updisp('pg:cmdfrm:tstpopup1')">UPLOAD</div><br /><br />
                            <span class="ClsInstruct">(Word Version of IEF)</span>
                            
                        </div>
                        <div id="popcloseGI" class="Hidedisplay" onclick="closeIEFGI()">
                        </div>
                    </div>
                    
                </div><!--dvContatiner/Content Area Ends-->
            </div><!--dvWrapper/background/SOB Ends-->
            <!--Footer Starts -->
            <div id="dvFooterWrapper">
                <div id="dvFooterOuter">
                    <apex:outputPanel rendered="{!if(intdue=='IED',true,false)}" style="display: table-cell;vertical-align: middle;font-size: 12px;">
                        <div id="dvFooterInner">
                            <a href="">Interview Schedule</a> <span>></span> <a href="/apex/WCT_InterviewPortalRedesign?pg=IED">Interview Evaluation Past Due</a> > Evaluation Form
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!if(intdue=='UI',true,false)}" style="display: table-cell;vertical-align: middle;font-size: 12px;">
                        <div id="dvFooterInner">
                            <a href="">Interview Schedule</a> <span>></span> <a href="/apex/WCT_InterviewPortalRedesign?pg=UI">Upcoming Interviews</a> > Evaluation Form
                        </div>
                    </apex:outputPanel> 
                    <apex:outputPanel rendered="{!if(intdue=='AI',true,false)}" style="display: table-cell;vertical-align: middle;font-size: 12px;">
                        <div id="dvFooterInner">
                            <a href="">Interview Schedule</a> <span>></span> <a href="/apex/WCT_InterviewPortalRedesign?pg=AI">All Interviews</a> > Evaluation Form
                        </div>
                    </apex:outputPanel>  
                    <apex:outputPanel rendered="{!if(intdue=='OV6',true,false)}" style="display: table-cell;vertical-align: middle;font-size: 12px;">
                        <div id="dvFooterInner">
                            <a href="">Interview Schedule</a> <span>></span> <a href="/apex/WCT_InterviewPortalRedesign?pg=OV6">Over 6 Months Old</a> > Evaluation Form
                        </div>
                    </apex:outputPanel>
                    <!--dvFooter Inner Ends-->
                </div><!--dvFooter Outer Ends-->
            </div><!--dvFooter Wrapper Ends-->
            
            <script type="text/javascript">
            function updisp(paramid){
                //document.getElementById(paramid).style.display = 'block';
                $('.popupComp').each(function(){
                    //$(this).show();
                    $(this).removeClass('hideComp');
                });
            }
            function upclose(paramid){
                //document.getElementById(paramid).style.display = 'none';
                $('.popupComp').each(function(){
                    // $(this).hide();
                    $(this).addClass('hideComp');
                    
                });
            }
            function clickupload(){
                
                var clickup=$(document.getElementById('pg:cmdfrm:cmdup')).click();
            }
            function clickcancel(){
                
                var clickcl=$(document.getElementById('pg:cmdfrm:cmdcanl')).click();
            }
            $(window).on("orientationchange", function (event) {
                $("#orientation").text("This device is in " + event.orientation + " mode!");
            });
            
            
            /* Reodering Divs Starts */
            
            
            $(document).ready(function(){
                if(document.getElementById('samplequId').value=='')
                {
                    $('#samplequId').attr('disabled', 'disabled'); //Disable
                }
                if ($(window).width() <= 502) {
                    function changeOrder(newOrder) {
                        var $divs = $('.ClsOrder'),
                            $parent = $divs.eq(0).parent();
                        for (var ii = 0; ii < newOrder.length; ii++) {
                            $parent.append($divs.eq(newOrder[ii] - 1));
                            
                        }
                    }
                    
                    $(function() {
                        changeOrder([1,7,2,8,9,3,10,11,4,12,13,5,14,15,6,16,17]);
                        
                    });
                    
                }
                
                
            });
            
            /* Reodering Divs Ends */
            
            
            /*  Below code is for IEF section Toggle Functionality for below 650 width devices */
            
            
            
            $(document).ready(function(){
                //alert(window.innerWidth+'####'+window.outerWidth);
                if (window.innerWidth <= 650){
                    // alert(window.innerWidth+'####'+window.outerWidth);
                    $("#ContentIEF").hide();
                    $("#HeadIEF").click(function () {
                        
                        if (document.getElementById('HeadIEF').className == "AccordionPlus") {
                            document.getElementById('HeadIEF').className = "AccordionMinus";
                            //alert('Hi')
                        }
                        else {
                            document.getElementById('HeadIEF').className = "AccordionPlus";
                            
                        }
                        $("#ContentIEF").slideToggle();
                    });
                }
                
                
            });
            
            /* IEF Toggle Ends */
            
            
            
            /* Touch conversion to Onclick Starts */
            
            var mobileHover = function () {
                $('*').on('touchstart', function () {
                    $(this).trigger('hover');
                }).on('touchend', function () {
                    $(this).trigger('hover');
                });
            };
            mobileHover();
            
            /* Touch conversion to Onclick Ends */
            
            
            
            /* Code for Group Interview information view & Tabs Starts */
            
            function querySt(ji) {
                hu = window.location.search.substring(1);
                gy = hu.split("&");
                for (i = 0; i < gy.length; i++) {
                    ft = gy[i].split("=");
                    if (ft[0] == ji) {
                        return ft[1];
                    }
                }
            }
            var highlghttb=document.getElementById('highlighttab').getAttribute("value");
            if(highlghttb=='IED')
            {
                document.getElementById('dvIED').className = "dvSRHover";
                document.getElementById('dvUI').className = "dvSR";
                document.getElementById('dvAI').className = "dvSR";
                document.getElementById('dvOV').className = "dvSR";
            }
            if(highlghttb=='UI')
            {
                document.getElementById('dvIED').className = "dvSR";
                document.getElementById('dvUI').className = "dvSRHover";
                document.getElementById('dvAI').className = "dvSR";
                document.getElementById('dvOV').className = "dvSR";
            }
            if(highlghttb=='AI')
            {
                document.getElementById('dvIED').className = "dvSR";
                document.getElementById('dvUI').className = "dvSR";
                document.getElementById('dvAI').className = "dvSRHover";
                document.getElementById('dvOV').className = "dvSR";
            }
            if(highlghttb=='OV6')
            {
                document.getElementById('dvIED').className = "dvSR";
                document.getElementById('dvUI').className = "dvSR";
                document.getElementById('dvAI').className = "dvSR";
                document.getElementById('dvOV').className = "dvSRHover";
            }
            var varPGID = querySt("View");
            
            if(varPGID=='GIView')
            {
                document.getElementById('dvIEF').style.display = 'none';
                document.getElementById('dvDoc').style.width = '100%';
                if(window.innerWidth > 1900){
                    document.getElementsByClassName("IILeft")[0].style.marginLeft= "130px";
                    document.getElementsByClassName("IILeft")[0].style.width= "450px";
                    document.getElementsByClassName("IIRight")[0].style.width= "450px"; 
                    document.getElementsByClassName("IILeft")[0].style.marginLeft= "100px";
                    document.getElementsByClassName("IIRight")[0].style.marginLeft= "100px";
                }   
                if(window.innerWidth > 1420 && window.innerWidth <= 1900){
                    document.getElementsByClassName("IILeft")[0].style.marginLeft= "130px";
                    document.getElementsByClassName("IILeft")[0].style.width= "35%";
                    document.getElementsByClassName("IIRight")[0].style.width= "35%"; 
                    document.getElementsByClassName("IILeft")[0].style.marginLeft= "100px";
                    document.getElementsByClassName("IIRight")[0].style.marginLeft= "100px";
                }
                if(window.innerWidth <= 1420){ 
                    document.getElementsByClassName("IILeft")[0].style.marginLeft= "100px";
                }
                if(window.innerWidth <= 1020){ 
                    document.getElementsByClassName("IILeft")[0].style.marginLeft= "50px";
                } 
                if(window.innerWidth <= 690){ 
                    document.getElementsByClassName("IILeft")[0].style.marginLeft= "8px";
                    document.getElementsByClassName("IILeft")[0].style.width= "45%";
                    document.getElementsByClassName("IIRight")[0].style.width= "45%";   
                }  
                if(window.innerWidth <= 620){ 
                    document.getElementsByClassName("IILeft")[0].style.width= "95%";
                    document.getElementsByClassName("IIRight")[0].style.width= "95%";   
                }   
            }
            {
                $(".ClsClosedv").hide();
                document.getElementById('dvII').style.display = 'block';
                
                document.getElementById('dvIITab').className = 'ClsOrder dvTabHover';
                document.getElementById('dvRITab').className = 'ClsOrder ClsLinks';
                document.getElementById('dvCSDTab').className = 'ClsOrder ClsLinks';
                document.getElementById('dvIPITab').className = 'ClsOrder ClsLinks';
                document.getElementById('dvCITab').className = 'ClsOrder ClsLinks';
                
                function fnSetTab(varid) {
                    //alert(varPGID);
                    //alert(varid);
                    var varTabID = varid;
                    var varTabText = '';
                    //  alert(varTabID);
                    
                    if (varTabID == 'dvIITab') {
    $(".ClsClosedv").hide();
    $("#dvII").slideDown(500);
                     
    document.getElementById('dvIITab').className = 'ClsOrder dvTabHover';
    document.getElementById('dvRITab').className = 'ClsOrder ClsLinks';
    document.getElementById('dvCSDTab').className = 'ClsOrder ClsLinks';
    document.getElementById('dvIPITab').className = 'ClsOrder ClsLinks';
    document.getElementById('dvCITab').className = 'ClsOrder ClsLinks';
    document.getElementById('dvEFTab').className = 'ClsOrder ClsLinks';
    
}
                 else if (varTabID == 'dvRITab') {
                     
                     $(".ClsClosedv").hide();
                     if(varPGID=='GIView')
                     {
                         $("#dvRIGI").slideDown(500);
                     }
                     else{
                         $("#dvRI").slideDown(500);
                     }
                     document.getElementById('dvIITab').className = 'ClsOrder ClsLinks';
                     document.getElementById('dvRITab').className = 'ClsOrder dvTabHover';
                     document.getElementById('dvCSDTab').className = 'ClsOrder ClsLinks';
                     document.getElementById('dvIPITab').className = 'ClsOrder ClsLinks';
                     document.getElementById('dvCITab').className = 'ClsOrder ClsLinks';
                     document.getElementById('dvEFTab').className = 'ClsOrder ClsLinks';
                     
                 } else if (varTabID == 'dvCSDTab') {
                     
                     $(".ClsClosedv").hide();
                     if(varPGID=='GIView')
                     {
                         
                         $("#dvCSDGI").slideDown(500);
                     }
                     else{
                         $("#dvCSD").slideDown(500);
                     }
                     document.getElementById('dvIITab').className = 'ClsOrder ClsLinks';
                     document.getElementById('dvRITab').className = 'ClsOrder ClsLinks';
                     document.getElementById('dvCSDTab').className = 'ClsOrder dvTabHover';
                     document.getElementById('dvIPITab').className = 'ClsOrder ClsLinks';
                     document.getElementById('dvCITab').className = 'ClsOrder ClsLinks';
                     document.getElementById('dvEFTab').className = 'ClsOrder ClsLinks';
                 }
                     else if (varTabID == 'dvIPITab') {

                     $(".ClsClosedv").hide();
                     if(varPGID=='GIView')
                     {
                         $("#dvIPIGI").slideDown(500);
                     }
                     else{
                         $("#dvIPI").slideDown(500);
                     }
                     document.getElementById('dvIITab').className = 'ClsOrder ClsLinks';
                     document.getElementById('dvRITab').className = 'ClsOrder ClsLinks';
                     document.getElementById('dvCSDTab').className = 'ClsOrder ClsLinks';
                     document.getElementById('dvIPITab').className = 'ClsOrder dvTabHover';
                     document.getElementById('dvCITab').className = 'ClsOrder ClsLinks';
                     document.getElementById('dvEFTab').className = 'ClsOrder ClsLinks';
                 }
                     else if (varTabID == 'dvCITab') {
                         $("#dvRIGI").hide();
                         $("#dvIPIGI").hide();
                         $("#dvCSDGI").hide();
                          $(".ClsClosedv").hide();
                     if(varPGID=='GIView')
                         {
                             $("#dvCIGI").slideDown(500);
                         }
                         else{
                             $("#dvCI").slideDown(500);
                         }
                         document.getElementById('dvIITab').className = 'ClsOrder ClsLinks';
                         document.getElementById('dvRITab').className = 'ClsOrder ClsLinks';
                         document.getElementById('dvCSDTab').className = 'ClsOrder ClsLinks';
                         document.getElementById('dvIPITab').className = 'ClsOrder ClsLinks';
                         document.getElementById('dvCITab').className = 'ClsOrder dvTabHover';
                         document.getElementById('dvEFTab').className = 'ClsOrder ClsLinks';                         
                     }
                         else if (varTabID == 'dvCSDTab') {
                                   $(".ClsClosedv").hide();   
                                   if(varPGID=='GIView')
                                   {
                                       
                                       $("#dvCSDGI").slideDown(500);
                                   }
                                   else{
                                       $("#dvCSD").slideDown(500);
                                   }
                                   document.getElementById('dvIITab').className = 'ClsOrder ClsLinks';
                                   document.getElementById('dvRITab').className = 'ClsOrder ClsLinks';
                                   document.getElementById('dvCSDTab').className = 'ClsOrder dvTabHover';
                                   document.getElementById('dvIPITab').className = 'ClsOrder ClsLinks';
                                   document.getElementById('dvCITab').className = 'ClsOrder ClsLinks';
                                   document.getElementById('dvEFTab').className = 'ClsOrder ClsLinks';
                               }
                          else if (varTabID == 'dvEFTab') {
                         $(".ClsClosedv").hide(); 
                         if(varPGID=='GIView')
                         {
                             $("#dvEFGI").slideDown(500);
                         }
                         else{
                             
                             $("#dvEF").slideDown(500);
                         }
                         document.getElementById('dvEFTab').className = 'ClsOrder dvTabHover';
   
                         document.getElementById('dvIITab').className = 'ClsOrder ClsLinks';
                         document.getElementById('dvRITab').className = 'ClsOrder ClsLinks';
                         document.getElementById('dvCSDTab').className = 'ClsOrder ClsLinks';
                         document.getElementById('dvIPITab').className = 'ClsOrder ClsLinks';
                         document.getElementById('dvCITab').className = 'ClsOrder ClsLinks';
                         
                     }
                 
                 
             }
               
               
               
               
           }
    
    /* Code for Group Interview information view & Tabs Ends */
    /*reload on window resize*/
    
    
    function showIEFGI()
    {
        var clickcl=$(document.getElementById('dvIEFGI'));
        var clickclbgclr=$(document.getElementById('dvIEFGIbgclr'));
        var clickclpopupcls=$(document.getElementById('popcloseGI'));
        clickcl.addClass('Showdisplay');
        clickcl.removeClass('Hidedisplay');
        clickclbgclr.addClass('Showdisplay');
        clickclbgclr.removeClass('Hidedisplay');
        clickclpopupcls.addClass('Showdisplay');
        clickclpopupcls.removeClass('Hidedisplay');
    }
    function closeIEFGI()
    {
        var clickcl=$(document.getElementById('dvIEFGI'));
        var clickclbgclr=$(document.getElementById('dvIEFGIbgclr'));
        var clickclpopupcls=$(document.getElementById('popcloseGI'));
        clickcl.addClass('Hidedisplay');
        clickcl.removeClass('Showdisplay');
        clickclbgclr.addClass('Hidedisplay');
        clickclbgclr.removeClass('Showdisplay'); 
        clickclpopupcls.addClass('Hidedisplay');
        clickclpopupcls.removeClass('Showdisplay');
    }  
    var myNav = navigator.userAgent.toLowerCase();
    //alert(myNav + myNav.indexOf('msie 9.0'));
    if (myNav.indexOf('iemobile') != -1) {
        if(window.outerWidth <= 400){ 
            document.getElementsByClassName("IILeft")[0].style.marginLeft= "8px"; 
        }
        // alert('Thanks Deepu');
        //document.getElementById('dvWrapper').style.minWidth="681px";  
    } 
    </script>
    
    
    <style>
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////             Style.CSS                     //////////////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        
        @charset "utf-8";
        /* CSS Document */
        
        @font-face {
        font-family: Garamond;
        src: url(GARABD.TTF);
        }
        .Showdisplay{
        display:block;
        }   
        .Hidedisplay{
        display:none;
        }   
        .hideComp
        {
        display:none;
        }
        
        input[disabled]{background-color:#fff; color:#000}
        *{margin: 0px auto; font:15px OpenSans-Regular, Verdana;}
        #dvWrapper{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/bg.jpg')}); background-repeat:repeat-x; width:100%; display:inline-block}
        
        #dvContainer{min-height:94.7vh; width:82%;}
        #dvHeader{height:53px; width:100%; display:table}
        #dvLogo{height:53px; color:#fff; display:table-cell; font-size:25px; vertical-align:middle; font-family:Garamond}
        #dvLogo span{font-size:25px;color:#92d400; font-family:Garamond}
        
        #dvHeaderNav{ height:53px; float:right; }
        .ClsHeaderNav{ float:left; color:#fff; height:53px; margin:0px 20px 0px 20px; display:table;}
        .ClsHeaderNav {color:#86BC25; text-decoration:underline}
        .dvSeperator2{ width:1px; height:53px; background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/Header_Nav_Seperator.jpg')}); float:left;}
        .ClsHeaderNav span{display:table-cell; vertical-align:middle; }
        #FAQIcon{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/FAQ_Normal.png')}); width:40px; background-position:center; background-repeat:no-repeat}
        #dvFAQ:hover #FAQIcon{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/FAQ_Hover.png')})}
        #dvFAQ:hover { cursor:pointer; color:#fff}
        #VideoIcon{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/Video_Normal.png')}); width:40px; background-position:center; background-repeat:no-repeat;}
        #dvHV:hover #VideoIcon{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/Video_Hover.png')})}
        #dvHV:hover { cursor:pointer; color:#fff}
        #dvUser{ text-decoration:none;color:#fff;}
        
        
        #dvStatusRibbon{height:55px; width:100%;}
        .dvSR{height:55px; float:left; text-align:center; padding:0px 10px 0px 5px; color:#000000; cursor:pointer; display:table; }
        .dvSR:hover{ color:#fff; background:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/SR_Button_Hover.jpg')}) no-repeat center; }
        .dvSRHover{ color:#fff !important; background:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/SR_Button_Hover.jpg')}) no-repeat center; height:55px; float:left; text-align:center; padding:0px 10px 0px 5px;cursor:pointer; display:table;}        
        .dvSR:hover #SRIcon1{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/interviewEvaluation-Icon-Hover.png')})}
        .dvSRHover #SRIcon1{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/interviewEvaluation-Icon-Hover.png')})}        
        .dvSR:hover #SRIcon2{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/UpcomingInterviews-Icon-Hover.png')})}
        .dvSRHover #SRIcon2{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/UpcomingInterviews-Icon-Hover.png')})}        
        .dvSR:hover #SRIcon3{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/AllInterviews-Icon-Hover.png')})}
        .dvSRHover #SRIcon3{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/AllInterviews-Icon-Hover.png')})}        
        .dvSR:hover #SRIcon4{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/6monthsover-Icon-Hover.png')})} 
        .dvSRHover #SRIcon4{ background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/6monthsover-Icon-Hover.png')})}        
        .ClsIcon,.ClsLabel,.ClsCount{ vertical-align:middle; display:table-cell;  padding:0px 5px 0px 5px}
        
        #SRIcon1{background:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/interviewEvaluation-Icon-Normal.png')}
        ) no-repeat center;width:40px; height:55px  }
        #SRIcon2{background:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/UpcomingInterviews-Icon-Normal.png')}
        ) no-repeat center; width:40px; height:55px }
        #SRIcon3{background:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/AllInterviews-Icon-Normal.png')}
        ) no-repeat center; width:40px; height:55px }
        #SRIcon4{background:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/6monthsover-Icon-Normal.png')}
        ) no-repeat center; width:40px; height:55px }
        .ClsCounter{ background-color:#000000; color:#fff; padding:5px 10px 5px 10px; border-radius:5px}
        
        /*.dvSR{ border-right: groove 1px #dddddd;}*/
        .dvSeperator{ width:1px; height:55px; background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/SR_Seperator.jpg')}); float:left;}
        
        #dvIntWrapper{ width:100%; height:100%; float:left; /*background-color:#C36*/}
        
        /* Left Coloumn/IEF */
        #dvIEF{width:18%; min-width:180px; min-height:540px; background-color:#f6f6f6; margin:20px 0px 20px 0px; float:left; text-align:center}
        #dvIEFGI{ background-color:#f6f6f6; text-align:center}
        #HeadIEF{width:100%; height:54px; background-color:#000000;color:#fff; text-align:center; display:table; }
        #HeadIEFGI{width:100%; height:54px; background-color:#4a4a4a;color:#fff; text-align:center; display:table; }
        .ClsValign{display:table-cell; vertical-align:middle; padding:10px 25px 10px 25px}
        #ContentIEF{ margin:30px 0px 30px 0px}
        
        
        /* Right Coloumn/dvDoc */
        #dvDoc{width:80%; min-height:540px; background-color:#f6f6f6; margin:20px 0px 20px 0px; float:right; }
        
        
        /* Text Formatting / Style CTRL's */
        .ClsInstruct{font:13px OpenSans-Regular, Verdana; font-style:italic; color:#000000; width:180px; display:inline-block}
        
        
        /*Button Styling */
        
        .ClsBtn {background-color:#86BC25; color: White; border:none; padding:10px; width:125px}
        
        .ClsBtn:hover {background-color:#000000;color: white; cursor:pointer  }
        .ClsBtnupload {background-color:#86BC25; color: White; border:none; padding:10px 15px 10px 15px;float:left}
        .ClsBtnupload:hover {background-color: #000000;color: white; cursor:pointer  }
        /*IEF popup for GI*/
        .IEFpopup{position:absolute;top:100px;bottom:0px;left:0px;right:0px;width:30%;box-shadow:0px 3px 3px 3px rgba(0,0,0,0.10);z-index: 3;height:500px;}        
        /* Footer Style*/
        #dvFooterWrapper{ width:100%;  background-color: #000000;color: white; height:40px; }
        
        #dvFooterOuter{ width:82%;  display:table; height:40px;}
        #dvFooterInner{display:table-cell; vertical-align:middle;font-size:12px; }
        
        #dvFooterInner a{color:#36baea;font-size:12px}
        #dvFooterInner span{color:#36baea;font-size:12px}
        
        /* Links/Switching Buttons Styling */
        
        .ClsLinks{width:16.5%; height:65px; background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/Links_Bg_Normal.png')}); background-repeat:repeat-x;color:#fff; float:left; display:table; cursor:pointer}
        
        .ClsLinks:hover{background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/Links_Bg_Hover.png')}); background-repeat:no-repeat; background-position:center; }
        
        .dvTabHover{background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/Links_Bg_Hover.png')}); background-repeat:no-repeat; background-position:center;width:16.5%; height:65px; color:#fff; float:left; display:table; cursor:pointer }
        
        .dvTabHover span{ display:table-cell; vertical-align:middle; text-align:center; padding:0px 5px 0px 5px; padding-bottom:11px; }
        
        .ClsLinks span{ display:table-cell; vertical-align:middle; text-align:center; padding:0px 5px 0px 5px; padding-bottom:11px; }
        
        
        #dvRITab,#dvCSDTab,#dvIPITab,#dvCITab,#dvEFTab{margin-left:1px;}
        
        .ClsDivs{ width:100%;float:left; height:470px; overflow:auto; 
        102 -webkit-overflow-scrolling:touch;}
        
        .IILeft,.IIRight{color:#4a4a4a; float:left; margin: 20px 0px 0px 30px; width:43%}
        .IITitle{ float:left; display:table; min-width:180px; margin:0px 0px 20px 0px}
        .IITitle span{display:table-cell; vertical-align:middle; padding:8px}
        .IIField{ float:left; margin:0px 0px 20px 2px}
        .TextField{ border: 1px solid #d4d4d4; padding:8px; width:200px; }
        .TableStyle{ width:95%; padding:20px; text-align:left; color:#4a4a4a; border-collapse:collapse; margin-top:3px}
        .TableStyle thead { background-color:#dcdcdc}
        .TableStyle td {padding:10px}
        .TableStyle a{color:#007aa6; font-style:italic}
        .dvHeading{ background-color:#ececec; width:100%; color:#4a4a4a; display:inline-block}
        .dvHeading p{padding:10px}
        td a{cursor:pointer}
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////             END                          //////////////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////             MediaQueries                  //////////////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        
        @media screen and (max-width: 1475px) { 
        .TextField{width:180px}
        }
        
        @media screen and (max-width: 1435px) { 
        .TextField{width:160px}
        }
        
        
        @media screen and (max-width: 1300px) { 
        #dvContainer {width:95%;}
        .TextField{width:180px}
        .IEFpopup{width:40%} 
        }
        
        @media screen and (max-width: 1180px) { 
        .TextField{width:160px}
        }
        
        @media screen and (max-width: 1120px) { 
        .TextField{width:150px}
        }
        
        @media screen and (max-width: 1090px) { 
        #dvIITab,#dvRITab,#dvCSDTab,#dvIPITab,#dvCITab,#dvEFTab{width:33.2%; margin-top:1px;}
        #dvCSDTab{margin-left:0px;} 
        .ClsLinks{ background-image:none; background-color:#4a4a4a; height:54px; }
        .ClsLinks:hover{ background-color:#0079a6;}
        .ClsLinks span{padding-bottom:0px}
        .dvTabHover{background-color:#0079a6;  background-image:none;height:54px}
        .dvTabHover span{ padding-bottom:0px}
        #dvIEF{min-height:580px}
        .ClsLabel { width: 110px}
        .IITitle{margin-bottom:0px}
        .IIField{margin-bottom:10px}
        .TextField{width:250px}
        .TableStyle{width:100%}
        .IEFpopup{width:50%}         
        }
        
        @media screen and (max-width:1000px) {
        .ClsIcon,.ClsLabel,.ClsCount{padding:0px}
        }
        
        @media screen and (max-width:980px) {
        #dvDoc{ width:78%; min-height:0px}
        
        }
        
        @media screen and (max-width:900px) {
        #dvDoc{ width:76%}
        .TextField{width:200px}
        .IILeft,.IIRight{ min-width:30%}
        }
        
        @media screen and (max-width:865px) {
        #dvDoc{ width:73%}
        .ClsLabel { width: 110px}
        #FAQText{ display:none}
        #HVText{ display:none}
        .ClsHeaderNav { margin:0px 5px 0px 5px;}
        .dvSR{padding:0px 5px 0px 2px}
        .ClsCounter {padding: 3px;}
        }
        
        @media screen and (max-width:735px) {
        #dvIITab,#dvRITab,#dvCSDTab,#dvEFTab,#dvIPITab,#dvCITab{width:49.8%;}
       #dvCSDTab{margin-left:1px;}
       #dvEFTab,#dvIPITab{margin-left:0px;}
        #dvDoc{ width:70%}
        #dvContainer {width:96%;}
        .ClsIcon,.ClsLabel,.ClsCount{ padding:0px 2px 0px 2px}
        .TextField{width:160px}
        #dvIEF{min-height:635px}
        .IEFpopup{width:80%} 
        }
        
        
        @media screen and (max-width: 680px) {
        /*start of listview responsive*/        
        table, thead, tbody, th, td, tr {display: block;}
        thead tr {position: absolute;top: -9999px;left: -9999px;} /*Other way of hiding header*/
        tr { border: 1px solid #ccc; border-top:none;padding-bottom: 20px; } /* seperator b/w records*/
        tr:first-child{ border-top: 1px solid #ccc;}
        .TableStyle{width:90%; padding:15px 0px 15px 0px!important}
        td { border: none; /*border-bottom: 1px solid #eee;*/ padding-left:50% !important; position: relative} /* Behave  like a "row" / lines b/w td's*/
        td:before { padding-right: 15px; width:40%; /*white-space: nowrap;*/ color:#0079a6; position:absolute; top:30%; left:8px}    /* Now like a table header */ /* Top/left values mimic padding */
        tr:nth-of-type(odd) { background: #eee; } /* Zebra striping */
        .Clswb{word-break:break-all}
        
        /* Label the data for Normal View */
        .TBLabel td:nth-of-type(1):before { content: "File Name"; }
        .TBLabel td:nth-of-type(2):before { content: "Size"; }
        .TBLabel td:nth-of-type(3):before { content: "Date"; }
        .TBLabel td:nth-of-type(4):before { content: "Type"; }
        .TBLabel td:nth-of-type(5):before { content: "Author"; }
        
        /*Label for PI*/
        .TBLabelPI td:nth-of-type(1):before { content: "File Name"; }
        .TBLabelPI td:nth-of-type(2):before { content: "Size"; }
        .TBLabelPI td:nth-of-type(3):before { content: "Date"; }
        .TBLabelPI td:nth-of-type(4):before { content: "Author"; }
        /* Label the data for GI View */
        .TBLabelGI td:nth-of-type(1):before { content: "Candidate Name"; }
        .TBLabelGI td:nth-of-type(2):before { content: "File Name"; }
        .TBLabelGI td:nth-of-type(3):before { content: "Size"; }
        .TBLabelGI td:nth-of-type(4):before { content: "Date"; }
        .TBLabelGI td:nth-of-type(5):before { content: "Type"; }
        .TBLabelGI td:nth-of-type(6):before { content: "Author"; } 
        /* Label the data for GI View -PI */
        .TBLabelGIPI td:nth-of-type(1):before { content: "Candidate Name"; }
        .TBLabelGIPI td:nth-of-type(2):before { content: "File Name"; }
        .TBLabelGIPI td:nth-of-type(3):before { content: "Size"; }
        .TBLabelGIPI td:nth-of-type(4):before { content: "Date"; }
        .TBLabelGIPI td:nth-of-type(5):before { content: "Author"; } 
        /* Label the data for GI View -RI */
        .TBLabelGIRI td:nth-of-type(1):before { content: "Candidate Name"; }
        .TBLabelGIRI td:nth-of-type(2):before { content: "Job Type"; }
        .TBLabelGIRI td:nth-of-type(3):before { content: "FSS"; }
        .TBLabelGIRI td:nth-of-type(4):before { content: "Service Area"; }
        .TBLabelGIRI td:nth-of-type(5):before { content: "Service Line"; }
        /*.TBLabelGIRI td:nth-of-type(6):before { content: "Region"; }
        .TBLabelGIRI td:nth-of-type(7):before { content: "Office"; }*/
        
        /* Label the data for GI View - CI */
        .TBLabelGICI td:nth-of-type(1):before { content: "RMS ID"; }
        .TBLabelGICI td:nth-of-type(2):before { content: "Candidate Name"; }
        .TBLabelGICI td:nth-of-type(3):before { content: "Candidate email id"; }
        .TBLabelGICI td:nth-of-type(4):before { content: "Requisition #"; }
        .TBLabelGICI td:nth-of-type(5):before { content: "Recruiter Name"; }
        .TBLabelGICI td:nth-of-type(6):before { content: "Coordinator Name"; }
        
        .TBLabelGICI td:nth-of-type(7):before { content: "Interview Date"; }
        .TBLabelGICI td:nth-of-type(8):before { content: "Start Time"; }
        .TBLabelGICI td:nth-of-type(9):before { content: "End Time"; }
        .TBLabelGICI td:nth-of-type(10):before { content: "Interveiw Type"; }
        .TBLabelGICI td:nth-of-type(11):before { content: "IEF Status"; }
        /*end of List view responsive*/
        
        /*Label the data for EF*/
        .TBLabelEF td:nth-of-type(1):before { content: "Event"; }
        .TBLabelEF td:nth-of-type(2):before { content: "Feedback Provider Name"; }
        .TBLabelEF td:nth-of-type(3):before { content: "Feedback Provider Position"; }
        .TBLabelEF td:nth-of-type(4):before { content: "Feedback Provider Type"; }
        .TBLabelEF td:nth-of-type(5):before { content: "Rating"; }
        .TBLabelEF td:nth-of-type(6):before { content: "Coordinator Name"; }
        
        /*Label the data for EF -GI*/
        .TBLabelEFGI td:nth-of-type(1):before { content: "Name"; }
        .TBLabelEFGI td:nth-of-type(2):before { content: "Event"; }
        .TBLabelEFGI td:nth-of-type(3):before { content: "Feedback Provider Name"; }
        .TBLabelEFGI td:nth-of-type(4):before { content: "Feedback Provider Position"; }
        .TBLabelEFGI td:nth-of-type(5):before { content: "Feedback Provider Type"; }
        .TBLabelEFGI td:nth-of-type(6):before { content: "Rating"; }
        

        .IILeft, .IIRight{width:95%; margin:10px 8px 10px 8px}
        .TextField{width:180px}
        }
        
        @media screen and (max-width: 650px) { 
        #dvDoc{ width:100%}
        #dvIEF{width:100%; min-height:inherit; margin-bottom:0px!important}
        #dvDoc{ margin:10px 0px 10px 0px}
        #dvLogo{font-size:20px}
        #dvLogo span{font-size:20px}
        #HeadIEF { cursor:pointer}
        #IILeft{margin:10px 15px 10px 15px}
        .TextField{width:200px}
        #dvIEF{min-height:0px}
        .ClsLabel{ display:none}
        .IILeft, .IIRight{width:45%; margin:10px 8px 8px 10px}
        
        
        #dvHeaderNav {position:absolute; top:53px; right:0px; z-index:1000; float:right; height:auto; background-color:#353535;}
        #FAQText,#HVText,#LOText{ display:table-cell; vertical-align:middle; padding-left:5px}
        .dvSeperator2{display:none}
        .ClsHeaderNav{ float:none; padding:0px 5px 0px 5px; display:table; width:100%}
        #dvMobMenu{width:30px; height:27px; display:block;margin-top:13px; background-repeat:no-repeat; cursor:pointer}
        .dvMobMenuOpen{background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/Menu_Normal.png')}); }
        .dvMobMenuClose{background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/Menu_close.png')}); }
        #dvUser{display:none}
        #dvLogOutIcon{padding-left:13px}
        
        }
        @media screen and (max-width: 590px) { 
        #dvHeaderNav { display:none}       
        }
        
        @media screen and (max-width: 520px) { 
        #dvHeaderNav { display:none}
        /*.ClsLinks{background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/Links_Bg_Normal.png')}); background-repeat:repeat-x;color:#fff; display:table;}*/
        /*.dvTabHover{background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/Links_Bg_Normal.png')}); background-repeat:repeat-x;color:#fff; display:table;}*/
        .ClsLinks span{ padding-left:20px; text-align:left; }
        .dvTabHover span{text-align:left; padding-left:20px;}
        #HeadIEF span{text-align:left}
        
        #dvIITab,#dvRITab,#dvCSDTab,#dvIPITab,#dvCITab,#dvEFTab{width:100%; margin:1px 0px 0px 0px} 
        .ClsDivs{ width:100%; float:left;}
        
        .TextField{width:180px}
        #IILeft{margin:5px 5px 0px 5px !important}
        #IIRight{margin:0px 5px 5px 5px !important}
        .IILeft, .IIRight{min-width:0px}
        
        }
        
        @media screen and (max-width: 470px) {
        .IILeft, .IIRight{width:95%; }
        .TextField{width:220px}
        .custPopup {width:90% !important;padding: 8px !important;}    
        }
        @media screen and (max-width: 400px) {
        #dvLogo a,#dvLogo span{font-family:OpenSans-Regular !important, Verdana ;font-size:20px !important} 
        .custPopupfaq{
        margin-right:22%
        }
        .IEFpopup{width:90%}        
        }        
        #popclose{background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/fancy_close.png')}); background-repeat:no-repeat;width:30px;height:30px;right:-52px;top:-15px;float:right;position:absolute;z-index:1000}
        #popcloseGI{background-image:url({!URLFOR($Resource.InterviewPortalStyleRedesign,
        'images/fancy_close.png')}); background-repeat:no-repeat;width:30px;height:30px;right:-10px;top:-10px;float:right;position:absolute;z-index:1000}
        .custPopup {
        z-index: 2;
        padding: 20px;
        position: absolute;
        width: 300px;
        box-shadow:0px 3px 3px 3px rgba(0,0,0,0.10);
        background-color: #f6f6f6;
        border:1px !important;
        top:40% !important;
        right:0px !important;
        left:0px !important;
        bottom:0px !important;
        height:100px;
        }
        
        .btn{background-color:#0079a6; color: White; border:none; padding:10px; width:125px}    
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////             END                          //////////////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    </style>
    
    
    
    
    
    
    
    </body>
    
    
    
    </html>
    
</apex:page>