<apex:page controller="WCT_edit_candidate_document_controller">
   
  <apex:form >
    <apex:pageBlock >
          <apex:pageBlockButtons >
                 <apex:commandButton value="Update document(s) " action="{!updateDocuments}" />
                <apex:commandButton value="Cancel" action="{!cancel}" />
            </apex:pageBlockButtons>


                  <apex:pageBlockTable value="{!list_candidate_doc}" var="cd">
                    <apex:column headerValue="Id">
                            <apex:outputLabel >{!cd.Name}</apex:outputLabel>
                   </apex:column>
                    <apex:column headerValue="File name">
                                  <apex:outputLabel >{!cd.WCT_File_Name__c}</apex:outputLabel>
                    </apex:column>
                    <!--apex:column headerValue="Uploaded Date">
                                  <apex:outputLabel >{!MONTH(DATEVALUE(cd.WCT_Created_Date__c))}/{!DAY(DATEVALUE(cd.WCT_Created_Date__c))}/{!YEAR(DATEVALUE(cd.WCT_Created_Date__c))} </apex:outputLabel>
                    </apex:column-->
                    <apex:column headerValue="Time">
                                 <apex:outputLabel >{!cd.WCT_DateToshow__c}</apex:outputLabel>
                     </apex:column>
                    <apex:column headerValue="Visible to Interviewers">
                            <apex:inputCheckbox value="{!cd.WCT_Visible_to_Interviewer__c}"  />
                    </apex:column>
                    <apex:column headerValue="Attachment">
                                 <apex:outputField value="{!cd.Attachment__c}" ></apex:outputField>
                     </apex:column> 
                    
                     
            </apex:pageBlockTable>
    
        </apex:pageBlock>
 </apex:form>
</apex:page>