<apex:page controller="WCT_InterviewIntermediateControllerRedsn" action="{!RedirectToInterview}" standardStylesheets="false">
<apex:stylesheet value="{!URLFOR($Resource.InterviewPortalStyleRedesign, '/css/Style.css')}"/>
<!-- Begin Default Content REMOVE THIS -->
<h1>Congratulations</h1>
This is your new Page
<!-- End Default Content REMOVE THIS -->
</apex:page>