<apex:page standardController="WCT_Interview_Forms__c"  renderAs="pdf" standardStylesheets="false" sidebar="false" showHeader="false"> 
<body  >
    <table width="100%">
        <tr>
            <td width="50%" style="background: url(/resource/1387464418000/PDF_Style/css/images/logo-print.png);background-repeat:no-repeat;  width: 224px;"><h1 class="logo"></h1></td>
            <td width="50%" style="" ><h2 style="text-align:right; font-size: 24px;  color: #012b7f; ">Interview GD Evaluation Form</h2></td>  
        </tr>
    </table>
    <table width="100%" style="background: #f1f1f2; border: solid 1px #a0a0a0; padding: 10px; margin: 20px 0; " cellspacing="0">
        <tr>
            <td style="line-height: 24px; width: 30%; border-right: solid 1px #0f3786;"><span>Name</span></td>
            <td><span style="color: #6ea900;">&nbsp;{!WCT_Interview_Forms__c.Name}</span></td>
        </tr>
        <tr>
            <td style="line-height: 24px; width: 30%; border-right: solid 1px #0f3786;"><span>Interview ID</span></td>
            <td><span style="color: #6ea900;">&nbsp;{!WCT_Interview_Forms__c.WCT_Interview_Junction__r.WCT_Interview__r.Name}</span></td>
        </tr>
        <tr>
            <td style="line-height: 24px; width: 30%; border-right: solid 1px #0f3786;"><span>Interviewer Junction Name</span></td>
            <td><span style="color: #6ea900;">&nbsp;{!WCT_Interview_Forms__c.WCT_Interview_Junction__r.Name }</span></td>
        </tr>
        <tr>
            <td style="line-height: 24px; width: 30%; border-right: solid 1px #0f3786;"><span>Interviewer Name</span></td>
            <td><span style="color: #6ea900;">&nbsp;{!WCT_Interview_Forms__c.WCT_Interviewer_Name__c}</span></td>
        </tr>
        <tr>
            <td style="line-height: 24px; width: 30%; border-right: solid 1px #0f3786;"><span>Interviewer Email</span></td>
            <td><span style="color: #6ea900;">&nbsp;<a href="mailto:{!WCT_Interview_Forms__c.WCT_Interviewer_Email__c}">{!WCT_Interview_Forms__c.WCT_Interviewer_Email__c}</a></span></td>
        </tr>
        <tr>
            <td style="line-height: 24px; width: 30%; border-right: solid 1px #0f3786;"><span>Interviewer Level</span></td>
            <td><span style="color: #6ea900;">&nbsp;{!WCT_Interview_Forms__c.WCT_Interviewer_Level__c}</span></td>
        </tr>
        <tr>
            <td style="line-height: 24px; width: 30%; border-right: solid 1px #0f3786;"><span>Candidate Name</span></td>
            <td><span style="color: #6ea900;">&nbsp;{!WCT_Interview_Forms__c.WCT_Candidate_Name__c}</span></td>
        </tr>
        <tr>
            <td style="line-height: 24px; width: 30%; border-right: solid 1px #0f3786;"><span>Form Name</span></td>
            <td><span style="color: #6ea900;">&nbsp;{!WCT_Interview_Forms__c.WCT_Form_Name__c}</span></td>
        </tr>
    </table>
    

    
   
    
    <!--- rakesh start --->
    <div style="background: #f1f1f2; border: solid 1px #a0a0a0; padding: 10px; margin: 20px 0; ">
    <apex:outputPanel >
            <table width="100%" >
                    <tr>
                      <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">Q)</td><td width="40%">Approach</td>
                        <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">A)</td><td width="40%">{!WCT_Interview_Forms__c.wct_gd_Approch__c}</td>
                    </tr>
            </table>   
    </apex:outputPanel>
    
    <apex:outputPanel >
            <table width="100%" >
                    <tr>
                      <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">Q)</td><td width="40%">Articulation</td>
                        <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">A)</td><td width="40%">{!WCT_Interview_Forms__c.wct_GD_Articulation__c}</td>
                    </tr>
            </table>   
    </apex:outputPanel>
    
    <apex:outputPanel >
            <table width="100%" >
                    <tr>
                      <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">Q)</td><td width="40%">Leadership</td>
                        <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">A)</td><td width="40%">{!WCT_Interview_Forms__c.wct_GD_Leadership__c}</td>
                    </tr>
            </table>   
    </apex:outputPanel>
    
    <apex:outputPanel >
            <table width="100%" >
                    <tr>
                      <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">Q)</td><td width="40%">Listening</td>
                        <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">A)</td><td width="40%">{!WCT_Interview_Forms__c.wct_gd_Listening__c}</td>
                    </tr>
            </table>   
    </apex:outputPanel>
    
    <apex:outputPanel >
            <table width="100%" >
                    <tr>
                      <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">Q)</td><td width="40%">Participation</td>
                        <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">A)</td><td width="40%">{!WCT_Interview_Forms__c.wct_gd_Participation__c}</td>
                    </tr>
            </table>   
    </apex:outputPanel>
    
    <apex:outputPanel >
            <table width="100%" >
                    <tr>
                      <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">Q)</td><td width="40%">Participation</td>
                        <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">A)</td><td width="40%">{!WCT_Interview_Forms__c.wct_gd_Participation__c}</td>
                    </tr>
            </table>   
    </apex:outputPanel>
    
    <apex:outputPanel >
            <table width="100%" >
                    <tr>
                      <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">Q)</td><td width="40%">Result</td>
                        <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">A)</td><td width="40%">{!WCT_Interview_Forms__c.wct_gd_Reasult__c}</td>
                    </tr>
            </table>   
    </apex:outputPanel>
    
    <apex:outputPanel >
            <table width="100%" >
                    <tr>
                      <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">Q)</td><td width="40%">Response</td>
                        <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">A)</td><td width="40%">{!WCT_Interview_Forms__c.wct_GD_Response__c}</td>
                    </tr>
            </table>   
    </apex:outputPanel>
    
    <apex:outputPanel >
            <table width="100%" >
                    <tr>
                      <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">Q)</td><td width="40%">Total</td>
                        <td width="10%" style="border-right: solid 2px #a1c376;width: 44px;text-align: center;color: #424242;margin: 0 14px 0 0;white-space: nowrap;">A)</td><td width="40%">{!WCT_Interview_Forms__c.WCT_GD_Total__c}</td>
                    </tr>
            </table>   
    </apex:outputPanel>
    </div>
<!-- ********************* -->

  <!-- ********************* --> 
    
    <table width="100%" style="background: #f1f1f2; border: solid 1px #a0a0a0; padding: 10px; margin: 20px 0; " cellspacing="0">
        <tr>
            <td style="line-height: 24px; width: 25%; border-right: solid 1px #0f3786;"><span>Final Recommendation</span></td>
            <td><span style="color: #6ea900;">&nbsp;{!WCT_Interview_Forms__c.WCT_Interviewer_s_Final_Recommendation__c}</span></td>
        </tr>
        <tr>
            <td style="line-height: 24px; width: 25%; border-right: solid 1px #0f3786;"><span>Evaluation Summary</span></td>
            <td><span style="color: #6ea900;">&nbsp;{!WCT_Interview_Forms__c.WCT_Evaluation_Summary__c}</span></td>
        </tr>
        <!--
        <tr>
            <td style="line-height: 24px; width: 25%; border-right: solid 1px #0f3786;"><span>Overall Rating</span></td>
            <td><span style="color: #6ea900;">&nbsp;{!WCT_Interview_Forms__c.WCT_Overall_Rating__c}</span></td>
        </tr>
         -->
    </table>
   
    <table width="100%" style="background: #f1f1f2; border: solid 1px #a0a0a0; padding: 10px; margin: 20px 0; " cellspacing="0">
        <tr>
            <td style="line-height: 24px; width: 25%; border-right: solid 1px #0f3786;"><span>Created On</span></td>
            <td><span style="color: #6ea900;">(<apex:outputText value="{0,date,MM'/'dd'/'yyyy hh:mm a}"><apex:param value="{!WCT_Interview_Forms__c.CreatedDate}" /></apex:outputText>)</span></td>
        </tr>
        <tr>
            <td style="line-height: 24px; width: 25%; border-right: solid 1px #0f3786;"><span>Last Modified On</span></td>
            <td><span style="color: #6ea900;">&nbsp;(<apex:outputText value="{0,date,MM'/'dd'/'yyyy hh:mm a}"><apex:param value="{!WCT_Interview_Forms__c.LastModifiedDate}" /></apex:outputText>)</span></td>
        </tr>
    </table>
    
</body>
</apex:page>